<div class="panel  payment-panel ui-g-12 m-b-15 p-t-0 p-b-0 p-l-0 p-r-0">
  <div class="bg-1">
    <div class="ui-g-12 p-l-0 p-r-0">
      <div class="journal-heading">
        <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
        <h1>Payment List</h1>
        <span>
          <i class="fa fa-fw fa-question-circle" pTooltip="Tap on Payment List to View or Edit"></i>
        </span>

        <div class="ui-toolbar-group-right">
          <button icon="fa-arrow-down" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
            <span class="ui-button-icon-left ui-clickable fa fa-fw fa-arrow-down"></span>
            <span class="ui-button-text ui-clickable">ui-btn</span>
          </button>
          <button [routerLink]="['/purchase/vendoradvance']" icon="fa-plus" label="New" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
            <span class="ui-button-icon-left ui-clickable fa fa-fw fa-plus"></span>
            <span class="ui-button-text ui-clickable">Advance</span>
          </button>
          <button [routerLink]="['/payment/paymentaddedit']" icon="fa-plus" label="New" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
            <span class="ui-button-icon-left ui-clickable fa fa-fw fa-plus"></span>
            <span class="ui-button-text ui-clickable">Payment</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g-12">

    <div class="ui-g-6">
      <div class="shadow-box ui-shadow-1">
              <p-blockUI [blocked]="transactionNoRecordDisp.payment"  [target]="summary">
                    <i class="fa fa-lock fa-5x" style="position:absolute;top:29%;left:46%"></i>
              </p-blockUI>
              <p-panel #summary>         
                <p-chart type="bar" *ngIf="paymentSummaryData" [data]="paymentSummaryData"  [options]="barChartConfig"></p-chart>
              </p-panel>  
          </div>       
      </div>    
    <div class="ui-g-6 list-graphs">
        <div class="shadow-box ui-shadow-1">
              <p-blockUI [blocked]="transactionNoRecordDisp.paymentCount"  [target]="countSummary">
                    <i class="fa fa-lock fa-5x" style="position:absolute;top:29%;left:46%"></i>
              </p-blockUI>
              <p-panel #countSummary>         
                <p-chart type="pie" *ngIf="paymentCountData" [data]="paymentCountData"  [options]="chartConfig"></p-chart>
              </p-panel>  
          </div>  
      </div>
  </div>
  <div class="ui-g-12 invoice-list-tab invoice-list-tab-2">
    <p-tabView>
      <p-tabPanel header="Matched" leftIcon="fa-list">
        <p-dataTable [value]="matchedlist" selectionMode="single" [paginator]="true" [rows]="5" [responsive]="true">
          <p-column field="contactname" header="Vendor Name" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
          <p-column field="pymtrectno" header="Payment No" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
          <p-column field="pymtamount" header="Payment Total" [filter]="show" filterMatchMode="contains" [sortable]="true" [style]="{'text-align': 'right'}">
            <ng-template let-selectedpay="rowData" pTemplate="body">
              <span>{{selectedpay.pymtamount | currency : currency_sy : true}}</span>
            </ng-template>
          </p-column>
          <p-column field="pymtrectdt" header="Payment Date" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template let-date="rowData" pTemplate="body">
              <span>{{date.pymtrectdt | date: date_dformat}}</span>
            </ng-template>
          </p-column>
          <p-column field="pymtrecttype" header="Payment Type" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template let-receipt="rowData" pTemplate="body">
              <span class="advance" *ngIf="receipt.MATCHED == 'MATCHED'"> Regular </span>
              <span class="advance" *ngIf="receipt.pymtrecttype != 'ADVANCE'"> Regular </span>
            </ng-template>
          </p-column>
          <p-column field="createdby" header="Created By" [filter]="show" filterMatchMode="contains" [sortable]="true" [style]="{'text-align': 'center'}"></p-column>
          <p-column styleClass="col-button">
            <ng-template pTemplate="header">
              <label>Action
                <button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button>
              </label>
            </ng-template>
            <ng-template let-selectedrec="rowData" pTemplate="body" style="text-align:right">
              <a pButton [routerLink]="['../viewpayment', 'payment',selectedrec.pymtrectid ]" icon="fa-eye"></a>
              <a pButton [routerLink]="['../editpayment', selectedrec.pymtrectid ]" icon="fa-edit"></a>
            </ng-template>
          </p-column>
        </p-dataTable>
      </p-tabPanel>
      <p-tabPanel header="Unmatched" leftIcon="fa-list">
        <p-dataTable [value]="unmatchedlist" selectionMode="single"  [paginator]="true" [rows]="paginator"
          [responsive]="true">
          <p-column field="contactname" header="Vendor Name" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
          <p-column field="pymtrectno" header="Payment No" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
          <p-column field="pymtamount" header="Advance Amount" [filter]="show" filterMatchMode="contains" [sortable]="true" [style]="{'text-align': 'right'}">
            <ng-template let-selectedpay="rowData" pTemplate="body">
              <span>{{selectedpay.pymtamount | currency : currency_sy : true }}</span>
            </ng-template>
          </p-column>
          <p-column field="pymtrectdt" header="Payment Date" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template let-date="rowData" pTemplate="body">
              <span>{{date.pymtrectdt | date: date_dformat}}</span>
            </ng-template>
          </p-column>
          <p-column field="pymtrecttype" header="Payment Type" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template let-receipt="rowData" pTemplate="body">
              <span class="advance" *ngIf="receipt.UNMATCHED == 'UNMATCHED'"> Advance </span>
              <span class="advance" *ngIf="receipt.pymtrecttype == 'ADVANCE'"> Advance </span>
            </ng-template>
          </p-column>
          <p-column field="createdby" header="Created By" [filter]="show" filterMatchMode="contains" [sortable]="true" [style]="{'text-align': 'center'}"></p-column>
          <p-column styleClass="col-button">
            <ng-template pTemplate="header">
              <label>Action
                <button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button>
              </label>
            </ng-template>
            <ng-template let-selectedrec="rowData" pTemplate="body" style="text-align:right">
              <!-- <a pButton [routerLink]="['../editpayment', selectedrec.pymtrectid ]" icon="fa-eye"></a> -->
              <a pButton [routerLink]="['../billmatch', selectedrec.pymtrectid ]" icon="fa-edit"></a>
            </ng-template>
          </p-column>
        </p-dataTable>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>