<div class="ui-g-12 panel p-l-0 p-r-0">
  <div class=" journal-heading">
    <img _ngcontent-c5="" class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
    <h1 class="">Ledger</h1>
    <div class="ui-toolbar-group-right ui-corner-all">
      <button [routerLink]="['/getstarted']"  icon="fa-check" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-chevron-left"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
      <button pButton type="button" label="Add" icon="fa-plus" (click)="addledger($event,op1)"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12 roles-table">
      <!--<div class="ui-g-0">
        <p-overlayPanel #op1>
          <app-addledger [ledgerdtls]="ledgerdtls" [addovrlay]="addovrlay" (loadledgerlist)="loadledgerlist($event)"></app-addledger>
        </p-overlayPanel>
      </div>-->
      <div class="molal-overlay">
            <div class="changepass-overlay">
                <p-dialog #op1 header="" [(visible)]="adddialog_display" modal="modal" width="600" [responsive]="true">
                <app-addledger [ledgerdtls]="ledgerdtls" [addovrlay]="addovrlay" (loadledgerlist)="loadledgerlist()"></app-addledger>
                </p-dialog>
            </div>
        </div>
      <div class="invoice-list-tab roles-table">
        <p-tabView [controlClose]="true">
          <p-tabPanel [selected]="list" header="Ledger" leftIcon="fa-book">
            <p-dataTable [value]="ledgerlist" [rows]="10" [paginator]="true">
              <p-column field=subaccheadname header="Ledger Name" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
              <p-column field=tenantname header="Company Name" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
              <p-column field=status header="Status" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
              <p-column field=lastupdatedby header="Updated By" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
              <p-column>
                <ng-template pTemplate="header">
                  <p>Action <button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button> </p>
                </ng-template>
                <ng-template pTemplate="body" let-selectedledger="rowData">
                  <a pButton (click)="update($event,selectedledger,op2)" icon="fa fa-pencil"></a>
                </ng-template>
              </p-column>
            </p-dataTable>
          </p-tabPanel>
        </p-tabView>
      </div>
      <!--<div class="ui-g-6">
        <p-overlayPanel #op2>
          <app-addledger [ledgerdtls]="ledgerdtls" [editovrlay]="editovrlay" (loadledgerlist)="loadledgerlist($event)"></app-addledger>
        </p-overlayPanel>
      </div>-->
      <div class="molal-overlay">
            <div class="changepass-overlay">
                <p-dialog #op2 header="" [(visible)]="display" modal="modal" width="600" [responsive]="true">
                <app-addledger [ledgerdtls]="ledgerdtls" [editovrlay]="editovrlay" (loadledgerlist)="loadledgerlist()"></app-addledger>
                </p-dialog>
            </div>
        </div>
    </div>
  </div>
  </div>