<div class="ui-g dashboard">
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <a routerLink="sales/list" class="ui-g overview-box overview-box-1 no-gutter info-invoice">
            <div class="top-comment-grid">
                <div class="invoice-info">
                    <div class="comments-icon">
                        <i class="fa fa-money overview-box-details-icon"></i>
                    </div>
                    <div class="comments-info likes-info">
                        <a href="#" class="overview-box-title">Invoices</a>
                        <h3 class="overview-box-details-count">{{transactionCount.invoice}}</h3>
                    </div>
                </div>
                <div class="overview-box-stats">
                    <a class="info-invoicevalue">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        </div>
                    </a>
                </div>
            </div>
        </a>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <a routerLink="receipts/list"  class="ui-g overview-box overview-box-1 no-gutter info-bill">
            <div class="top-comment-grid">
                <div class="bill-info">
                    <div class="comments-icon">
                        <i class="fa fa-file-text-o overview-box-details-icon"></i>
                    </div>
                    <div class="comments-info likes-info">
                        <a href="#" class="overview-box-title">Receipts</a>
                        <h3 class="overview-box-details-count">{{transactionCount.receipt}}</h3>
                    </div>
                </div>
                <div class="overview-box-stats">
                    <a class="info-invoicevalue">
                        <div class="panel-footer">
                            <span class="pull-left">View Details</span>
                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                        </div>
                    </a>
                </div>
            </div>
        </a>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
        <a routerLink="purchase/list" class="ui-g overview-box overview-box-1 no-gutter info-payment">
        <div class="top-comment-grid">
             <div class="payment-info">
                <div class="comments-icon">
                    <i class="fa fa-file-text overview-box-details-icon"></i>
                </div>
                <div class="comments-info likes-info">
                    <a href="#" class="overview-box-title">Bills</a>
                    <h3 class="overview-box-details-count">{{transactionCount.bill}}</h3>
                </div>
            </div>
            <div class="overview-box-stats">
                <a class="info-invoicevalue">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    </div>
                </a>
            </div>
            </div>
        </a>
    </div>
    <div class="ui-g-12 ui-md-6 ui-lg-3">
    <a routerLink="payment/list" class="ui-g overview-box overview-box-1 no-gutter info-receipt">
        <div class="top-comment-grid">
            <div class="receipt-info">
                <div class="comments-icon"> 
                    <i class="fa fa-credit-card overview-box-details-icon"></i>
                </div>
                <div class="comments-info likes-info">
                   <a href="#" class="overview-box-title">Payments</a>
                  <h3 class="overview-box-details-count">{{transactionCount.payment}}</h3>
               </div>
            </div>
            <div class="overview-box-stats">
                <a class="info-invoicevalue">
                    <div class="panel-footer">
                        <span class="pull-left">View Details</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    </div>
                </a>
            </div>
            </div>
        </a>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-6 card shadow-box ui-shadow-1 invoice-due p-l-0 p-r-0 p-t-0 p-b-0">
            <p-blockUI [blocked]="transactionNoRecordDisp.invoice" [target]="invoiceSummary">
                <i class="fa fa-lock fa-5x" style="position:absolute;top:29%;left:46%"></i>
            </p-blockUI>
            <p-panel #invoiceSummary header="Invoices vs Dues">
                <p-chart *ngIf="invoiceSummaryData" type="bar" [data]="invoiceSummaryData" [options]="barChartConfig"></p-chart>
            </p-panel>
        </div>
        <div class="ui-g-6 card shadow-box ui-shadow-1 invoice-due-2 p-l-0 p-r-0 p-t-0 p-b-0">
            <p-blockUI [blocked]="transactionNoRecordDisp.bill" [target]="billSummary">
                <i class="fa fa-lock fa-5x" style="position:absolute;top:29%;left:46%"></i>
            </p-blockUI>
            <p-panel #billSummary header="Bills vs Dues">
                <p-chart *ngIf="billSummaryData" type="bar" [data]="billSummaryData" [options]="barChartConfig"></p-chart>
            </p-panel>
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-6 card shadow-box ui-shadow-1 invoice-due-3 p-l-0 p-r-0 p-t-0 p-b-0">
            <p-blockUI [blocked]="transactionNoRecordDisp.topsales" [target]="salesSummary">
                <i class="fa fa-lock fa-5x" style="position:absolute;top:29%;left:46%"></i>
            </p-blockUI>
            <p-panel #salesSummary header="Top Customers by Sales">
                <p-chart *ngIf="topSalesData" type="pie" [data]="topSalesData" [options]="chartConfig"></p-chart>
            </p-panel>
        </div>
        <!--<div class="ui-g-4">
          <p-panel header="Tax">
            <p-chart *ngIf="taxSummaryData" type="doughnut" [data]="taxSummaryData" [options]="chartConfig" ></p-chart>
          </p-panel> 
        </div>-->
        <div class="ui-g-6 card shadow-box ui-shadow-1 invoice-due-4 p-l-0 p-r-0 p-t-0 p-b-0">
            <p-blockUI [blocked]="transactionNoRecordDisp.profitLoss" [target]="profiltLoss">
                <i class="fa fa-lock fa-5x" style="position:absolute;top:29%;left:46%"></i>
            </p-blockUI>
            <p-panel #profiltLoss header="Profit & Loss">
                <p-chart *ngIf="profitLossSummaryData" type="doughnut" [data]="profitLossSummaryData" [options]="chartConfig"></p-chart>
            </p-panel>
        </div>
    </div>
</div>