<div class="panel ui-g-12 m-b-25 p-t-0 p-b-0">
  <div class="bg-1">
    <div class="ui-g-12 p-l-0 p-r-0 p-t-0 p-b-0 m-b-10">
      <div class="journal-heading">
        <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
        <h1>Vedndor Advance</h1>
        <div class="ui-toolbar-group-right">
          <!--<p-menu #menu popup="popup" [model]="menuItems" [style]="{'width':'250px'}"></p-menu>
          <button type="button" pButton icon="fa fa-check" label="Save" (click)="menu.toggle($event)"></button>-->
          <p-splitButton icon="fa fa-list" [model]="menuItems" label="Vendor Advance"></p-splitButton>
        </div>
      </div>
    </div>
    <div class="ui-g-12 p-t-0 p-b-0 p-l-0 p-r-0">
      <div class="receipt m-b-30">

        <div class="ui-g-12 ui-lg-4 ul-md-4 receipt-to">
          <div class="ui-g form-group">
            <div class="ui-g-12 req required-4">
              <label for="acAdvanced">Payment From</label>
            </div>
            <div class="ui-g-12">
              <input type="text" pInputText [(ngModel)]="contact" [readonly]="true" />
            </div>

          </div>
        </div>
        <div class="ui-g-12 ui-lg-8 ul-md-8">
          <div class="ui-g-12 ui-lg-4 ul-md-4 p-b-0">
            <div class="ui-g form-group">
              <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
                <label for="acAdvanced">Payment No</label>
              </div>
              <div class="ui-g-12 p-l-0 p-r-0">
                <!-- <input type="text" [(ngModel)]="invoiceNumber" pInputText /> -->
                <input type="text" pInputText [(ngModel)]="recno" [readonly]="true" /> </div>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-4 ul-md-4 p-b-0">
            <div class="ui-g form-group">
              <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
                <label for="acAdvanced">Payment Date </label>
              </div>
              <div class="ui-g-12 p-l-0">
                <p-calendar [(ngModel)]="paymentDate" [showIcon]="true" readonlyInput="readonlyInput" dateFormat="dd-mm-yy"></p-calendar>
                <!-- <span style="margin-left:35px">{{receiptDate|date}}</span> -->
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-lg-4 ul-md-4 p-b-0">
            <div class="ui-g form-group">
              <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
                <label for="acAdvanced">Payment Mode</label>
              </div>
              <div class="ui-g-12 width p-l-0">
                <p-dropdown (onChange)="selpayterm(Selectedpayterm)" [autoWidth]="false" [options]="payterm" [(ngModel)]="Selectedpayterm"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="ui-g-12 ui-lg-4 ul-md-4 p-b-0">
            <div class="ui-g form-group">
              <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
                <label for="acAdvanced">Account</label>
              </div>
              <div class="ui-g-12 p-l-0">
                <p-dropdown (onChange)="selpaymode(Selectedpaymode)" [autoWidth]="false" class="width" [options]="allpaymode" [(ngModel)]="Selectedpaymode"></p-dropdown>
              </div>
            </div>
          </div>


          <div class="ui-g-12 ui-lg-4 ul-md-4 p-b-0">
            <div class="ui-g form-group">
              <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
                <label for="acAdvanced">Amount</label>
              </div>
              <div class="ui-g-12 p-l-0 p-r-0">
                <!-- <input type="text" [(ngModel)]="invoiceNumber" pInputText /> -->
                <input type="text" pInputText (keyup)="calcualtePayingSuggestion()" placeholder="0.00" [(ngModel)]="payingAmount" class="text-right"
                />
                <input type="hidden" [(ngModel)]="tempPayingAmount" value="{{payingAmount}}" pInputText></div>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-4 ul-md-4 p-b-0">
            <div class="ui-g form-group">
              <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0">
                <label for="acAdvanced">Reference</label>
              </div>
              <div class="ui-g-12 p-l-0">
                <input type="text" pInputText [(ngModel)]="paymentReference" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ul-md-12 invoice-to-table card ui-datatable">
      <h1 style="font-size:20px;">ACCOUNT DETAIL</h1>
      <p-dataTable [value]="customerinvoices" [editable]="true">
        <p-column field="companyname" header="payee"></p-column>
        <p-column field="duedate" header="Due Date">
          <ng-template let-due="rowData" pTemplate="body">
            <span>{{due.duedate | date: 'MM-dd-y'}}</span>
          </ng-template>
        </p-column>
        <p-column field="reftotal" header="Bill Total" styleClass="text-right">
          <ng-template let-selectedpay="rowData" pTemplate="body">
            <span>{{selectedpay.reftotal | currency : currency_sy : true | slice : 1 }}</span>
          </ng-template>
        </p-column>
        <p-column field="pymntamount" header="Paid" styleClass="text-right">
          <ng-template let-selectedpay="rowData" pTemplate="body">
            <span>{{selectedpay.pymntamount | currency : currency_sy : true | slice : 1 }}</span>
          </ng-template>
        </p-column>
        <p-column field="pymntapplied" header="Payment" [editable]="true" styleClass="text-right">
          <ng-template let-col let-payment="rowData" let-ridx="rowIndex" pTemplate="editor">
            <input type="text" (keypress)="numberOnly($event)" (keyup)="calcualtepaymentApplied($event,ridx)" [(ngModel)]="payment[col.field]"
              [ngClass]="{'appliedClass': payment[col.field] > 0}" [value]="0" pInputText id="{{'paymenAmt' + $index}}" [readonly]="payment.balamount==0"
              class="text-right" />
          </ng-template>
        </p-column>
        <p-column field="balamount" header="Balance Amount" styleClass="text-right">
          <ng-template let-col let-payment="rowData" let-ridx="rowIndex" pTemplate="body">
            <p class="text-right">{{ calcBalanceAmount(payment.balamount,payment.pymntapplied ) | currency : currency_sy : true | slice : 1}}</p>
          </ng-template>
        </p-column>
      </p-dataTable>


    </div>
  </div>
</div>