/* You can add global styles to this file, and also import other style files */

.p-l-0 {
  padding-left: 0 !important;
}

.p-r-0 {
  padding-right: 0 !important;
}

.p-t-0 {
  padding-top: 0 !important;
}

.p-b-0 {
  padding-bottom: 0 !important;
}

.m-t-5 {
  margin-top: 5px;
}

.p-t-5 {
  margin-top: 5px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.p-b-5 {
  margin-bottom: 5px !important;
}

.m-l-5 {
  margin-left: 5px;
}
.m_l_5 {
  margin-left: -5px;
}

.p-l-5 {
  margin-left: 5px;
}

.m-r-5 {
  margin-right: 5px;
}

.p-r-5 {
  margin-right: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.p-t-10 {
  margin-top: 10px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.p-b-10 {
  margin-bottom: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.p-l-10 {
  margin-left: 10px;
}

.m-r-10 {
  margin-right: 10px;
}

.p-r-10 {
  margin-right: 10px;
}

.m-t-15 {
  margin-top: 15px;
}

.p-t-15 {
  margin-top: 15px;
}

.m-b-15 {
  margin-bottom: 15px !important;
}

.p-b-15 {
  margin-bottom: 15px;
}

.m-l-15 {
  margin-left: 15px;
}

.p-l-15 {
  margin-left: 15px;
}

.m-r-15 {
  margin-right: 15px;
}

.p-r-15 {
  margin-right: 15px;
}

.m-t-20 {
  margin-top: 20px;
}

.p-t-20 {
  margin-top: 20px;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-20 {
  margin-bottom: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.p-l-20 {
  margin-left: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.p-r-20 {
  margin-right: 20px;
}

.m-t-25 {
  margin-top: 25px;
}

.p-t-25 {
  margin-top: 25px;
}

.m-b-25 {
  margin-bottom: 25px;
}

.p-b-25 {
  margin-bottom: 25px;
}

.m-l-25 {
  margin-left: 25px;
}

.p-l-25 {
  margin-left: 25px;
}

.m-r-25 {
  margin-right: 25px;
}

.p-r-25 {
  margin-right: 25px;
}

.m-t-30 {
  margin-top: 30px;
}
.m-t-3{
  margin-top:3px;
}
.p-t-30 {
  margin-top: 30px;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.p-b-30 {
  margin-bottom: 30px;
}

.m-l-30 {
  margin-left: 30px;
}

.p-l-30 {
  margin-left: 30px;
}

.m-r-30 {
  margin-right: 30px;
}

.p-r-30 {
  margin-right: 30px;
}

.m-t-35 {
  margin-top: 35px;
}

.p-t-35 {
  margin-top: 35px;
}

.m-b-35 {
  margin-bottom: 35px;
}

.p-b-35 {
  margin-bottom: 35px;
}

.m-l-35 {
  margin-left: 35px;
}

.p-l-35 {
  margin-left: 35px;
}

.m-r-35 {
  margin-right: 35px;
}

.p-r-35 {
  margin-right: 35px;
}

.m-t-40 {
  margin-top: 40px;
}

.p-t-40 {
  margin-top: 40px;
}

.m-b-40 {
  margin-bottom: 40px;
}

.p-b-40 {
  margin-bottom: 40px;
}

.m-l-40 {
  margin-left: 40px;
}

.p-l-40 {
  margin-left: 40px;
}

.m-r-40 {
  margin-right: 40px;
}

.p-r-40 {
  margin-right: 40px;
}

.m-t-45 {
  margin-top: 45px;
}

.p-t-45 {
  margin-top: 45px;
}

.m-b-45 {
  margin-bottom: 45px;
}

.p-b-45 {
  margin-bottom: 45px;
}

.m-l-45 {
  margin-left: 45px;
}

.p-l-45 {
  margin-left: 45px;
}

.m-r-45 {
  margin-right: 45px;
}

.p-r-45 {
  margin-right: 45px;
}

.m-t-50 {
  margin-top: 50px;
}

.p-t-50 {
  margin-top: 50px;
}

.m-b-50 {
  margin-bottom: 50px;
}

.p-b-50 {
  margin-bottom: 50px;
}

.m-l-50 {
  margin-left: 50px;
}

.p-l-50 {
  margin-left: 50px;
}

.m-r-50 {
  margin-right: 50px;
}

.p-r-50 {
  margin-right: 50px;
}

.clearfix {
  clear: both;
}

.m-5 {
  margin: 5px;
}

.p-5 {
  padding: 5px;
}

.p-t-2 {
  padding-top: 2px;
}

.no-padding {
  padding: 0px;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
  margin: 0 auto;
}
.bold{
  font-weight: bold;
}

:focus{
   outline: none;
}

.get-started {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ededed;
  // border-top: 2px solid #3984b8;
  h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    color: #8da0aa;
    font-size: 20px;
    font-weight: bold;
    margin-left: 15px;
  }
  .ui-breadcrumb {
    margin-top: -29px;
  }
  .infobook-logo{
    max-width: 100%;
    width: 30px;
    margin-right: 10px;
    margin-top: -5px;
    height: 30px;
 }
 .ui-widget-header{
   border:0 none;
 }
}

.journal-heading {
  background: #fff;
  padding: 6px 10px 6px;
  border-bottom: 1px solid #ededed;
  margin-bottom: 0px;
  
  .infobook-logo {
    max-width: 100%;
    width: 30px;
    margin-right: 10px;
    margin-top: 0px;
    height: 30px;
  }
  h1 {
    color: #8f8f8f;
    font-size: 22px;
    margin: 0px;
    text-transform: capitalize;
    line-height: 35px;
    display: inline-block;
    letter-spacing: 0.5px;
  }
  .fa-question-circle {
    font-size: 20px;
    position: relative;
    top: -4px;
  }
  .ui-widget-header{
    padding: 0;
  }
  .ui-button{
    // padding: 2px;
    .fa{
      font-size: 14px;
    }
    .ui-button-text{
      font-size: 14px;
      text-align: left;
    }
  }
  
}
.ember-view{

  .infobook-logo {
    max-width: 100%;
    width: 30px;
    margin-right: 10px;
    margin-top: 0px;
    height: 30px;
  }

  .title-text{
    font-size: 22px;
    line-height: 38px;
    text-transform: uppercase;
    font-weight: bold;
  }

}

.view-invoice-content {

  max-height: calc(90vh);

  .pcs-orgname {
    font-size: 18px !important;
    color: #585858 !important;
   }
  .pcs-label {
    font-size: 14px !important;
    color: #676767 !important;
   }
   .inv-view-value{
     color: #676767 !important;
   }
}

.configure-app {
  .profile {
    max-width: 100%;
    display: inline-block;
    width: 90px;
    margin-bottom: 0px;
  }
  img {
    max-width: 100%;
    display: inline-block;
    width: 100px;
   }
  a {
    h1 {
      margin-top: 15px !important;
      margin-bottom: 0;
      font-size: 15px;
      font-weight: bold;
      color: #8da0aa;
    }
  }
}
.configure-button{
  padding: 6px 10px;
  font-size: 14px;
  border-radius: 4px;
     
  &:hover{
    background: #7dc5f8;
    color: #ffffff;
    box-sizing: border-box;
  }
 
}
.box-type{
  width: 97%;
  margin:0 10px;

  h1{
    font-size: 16px;
    font-weight: bold;
    margin: 10px;
    color: #8da0aa;
    letter-spacing: 0.5px;
  }
  img {
    max-width: 100%;
    display: inline-block;
    width: 100px;
   }
}
.box-type-2 {
  width: 92%;
}
.panel {
  background: #fff;
  height: 40vh;
  display: inline-table;
  width: 100%;
}

.chartaccount-heading {
  border-bottom: 1px solid #ededed;
  margin-bottom: 15px;
}

.address-feature {
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
}

.discount-value {
  border-bottom: 1px solid #cdcdcd;
  width: calc(41% + 7px);
  margin: 0 10px;
  color: #464646;
  font-size: 14px;

  .tax-value {
    width: calc(44% + 0px);
    display: inline-block;
    text-align: right;
  }
  .tax-value-1 {
    width: calc(44% + 0px);
    display: inline-block;
  }
  .tax-value-2{
    width: calc(44% + 0px);
    display: inline-block;
    text-align: right;
  }
}
.discount-value-2{
  margin: 0;
}
.total-column-value{
  background: #f5f5f5;
}
.invoice-prints-1{
  tr {
    td{
      text-align: right;
    }
  }
}
.currency-table{
  margin: 0 -10px;
}
.chart-account {
  .ui-panel-titlebar {
    background: #3984B8;
    color: #fff;
    border-bottom: 0 none;
    .fa {
      color: #fff;
      &:hover {
        color: #fff !important;
      }
    }
  }
  .ui-panel-content-wrapper {
    border: 1px solid #d9d9d9;
    border-top: 0;
  }
  .ui-widget-content {
    border: 0;
  }
}

.receipt {
  display: inline-block;
  margin-bottom: 5px;
  background: #f8f8f8;
  margin: 0 15px;

  .invoice-to .form-group {
    background: transparent;
  }
  
  .ui-inputtext {
    width: 100%;
    line-height: 18px;
    // letter-spacing: 0.5px;

     &:focus{
        border-color: #66afe9 !important;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
      }
    }
    
  .label-required {
    &:after {
      color: #f55753;
      content: "*";
      top: -3px;
      position: relative;
      left: -1px;
    }
  }
  .receipt-to {
    .ui-autocomplete {
      width: 100%;
      max-width: 100%;

      .ui-inputtext {
        width: 92%;
        border-right:0;
      }
    }
  }
  .receipt-number {
    .form-group {
      .ui-inputtext {
        width: 100%;
      }
    }
  }
  .receipt-date {
    height: 48px;
    .form-group {
      .ui-calendar-w-btn {
        width: 100%;
      }
      .ui-inputtext {
        width: 90%;
        max-width: 100%;
      }
    }
  }
  .receipt-date-2{
    height: 40px !important;
    .ui-calendar{
      width:90%;
    }
  }
  .form-group{
      label {
        color: #868686;
        font-weight: 400;
        // letter-spacing: 0.5px;
        font-size: 14px;
      }
  }
  .ui-button{
    background: #fff !important;
    border:1px solid #e8e8e8;
    color:#b5b5b5;
    border-left:0;
  }
}
.invoice-type{
  .ui-dropdown-filter-container{
    padding: 5px !important;
    width: 100% !important;
  }
  label{
    font-weight: normal !important;
  }
}
.ui-datepicker {
  padding: 0 !important;
  border-radius: 0 !important;
}
.payment-date{
  height:40px;
    .ui-calendar{
    width: 91%;
    }
}

.address-icon {
  .fa-map-marker {
    font-size: 16px;
    color: #8f8f8f;
    margin-right: 5px;
    margin-top: 2px;
  }
  input {
    margin-bottom: 10px;
  }
  textarea {
    resize: none;
    height: 98px !important;
    padding: 5px;
  }
  .ui-dropdown-filter-container {
    padding: 5px 5px !important;
    width: 100%;
    display: inline-block;
    height: 38px;
  }
  .address-input {
    .ui-inputtext {
      width: 100%;
      max-width: 100%;
    }
  }
}

.ui-contextmenu {
  width: 200px !important;
}

.ui-tabview {
  position: initial;
}

textarea {
  resize: none;
  padding: 5px;
}

.total-column-value {
  .net {
    font-size: 14px;
    color: #373737;
  }
}

.w-150 {
  width: 150px;
}

.tabpanmenu .ui-menu {
  width: 150px;
}

.tabpanelfirst {
  width: 100px;
  /* background: #ddd; */
  position: absolute;
  /* bottom: 41px; */
  height: 32px;
  margin-top: -38px;
  margin: -40px 0px 0px -15px;
}
.other-input{
  input{
    border:0 none;
    text-align: right;
    font-weight: bold;
  }
}
.width{
      .ui-dropdown {
           width: 100%;
      }
    }
  //   .ui-fluid .ui-calendar {
  //     margin-bottom: 2px;
  // }    
 .address-icon-2{
   margin-top: -6px;

   .ui-dropdown{
     width: 98%;
     margin-left: -2px;

     &:focus{
      border-color: #66afe9;
      outline: 0;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
    }
   }
 } 
  
// .ui-dropdown label.ui-dropdown-label {
//   color: #dadada;
// }
.invoice-to-table-2{
  padding: 0 !important;
}
.invoice-to-table {
  margin: 0;
  padding: 0 16px;

  h1{
    color: #8f8f8f;
    font-size: 16px;
    margin: 5px 0;
    font-weight: normal;
    letter-spacing: 0.5px;
    padding: 5px 5px;
    text-transform: uppercase;
  }
  .ui-datatable-thead{
        tr
        {
        border-top: 1px dashed !important;
        border-bottom: 1px solid;
        color: #e1e1e1;
        th{
          border: 0 !important;
          padding:12px !important;
          background: #f8f8f8 !important;
          color: #464646;
          font-size:14px;
          &:nth-child(1) {
            text-align: left;
            text-transform: capitalize;
          }
          &:nth-child(2){
            text-align: left;
          }
          &:nth-child(6){
            text-align: right;
          }
          &:nth-child(8){
            text-align: right;
          }
        }
      }
    }
    .ui-button-icon-only {
        border-radius: 50px;
        width: 25px !important;
        height: 24px;
        position: relative;
        right: 8px;
        color: #9b9b9b;
        font-size: 14px;
        background: transparent;
        border:1px solid #d5d5d5;

        &:hover {
          background: transparent !important;
        }
      }
        .plus-icon {
          right: 0px !important;
          top: auto;
          margin-top: -32px;
          border:1px solid #d5d5d5;
          color: #9b9b9b;
          background: transparent !important;

          &:hover {
            background: transparent !important;
          }
        }
}
.invoice-to-table{
          tbody {
              // border-top: 1px solid #cdcdcd !important;
              border-bottom: 1px solid #cdcdcd !important;
          }
          .ui-widget-content{
            
            tr{
              
            td{
                border: 0 !important;
                text-align: center;

                &:nth-child(1){
                  text-align: left !important;
                  padding: 12px;
                }
                &:nth-child(2){
                  text-align: left !important;
                }
                &:nth-child(4){
                  text-align: right !important;
                }
                &:nth-child(8){
                  text-align: right !important;
                }
                
             }
             .ui-cell-editing{ 
             
              .ui-inputtext{

                &:nth-child(5){
                   border:0 !important;
                   text-align: center;
                }
             }
           }
            
      }
   }
}
body .ui-widget-content{
  border:0 solid rgba(230, 230, 230, 0.9);
}
.ui-dropdown{
  .ui-dropdown-trigger{
    .fa{
      margin-top: 0.5em;  
    }
  } 

}
.top-fixeds{
  .ui-overlaypanel{
  top:140px !important;
}
} 
.tax-amount{
  text-align: center
}
.qty-text{
  text-align: center
}
.total{
   text-align: right;
}
.other-input{
  margin-left:3px;
  input{
    padding: 0;
  }
}
.net-pay{
  margin-left: 10px;
}
.sub-total-row{
  line-height: 30px;
}

.show-table{
  border-top:1px solid #d5d5d5;
  border-bottom:1px solid #d5d5d5;

 .ui-grid-row{
       .names{
          display: table-cell;
          font-weight:bold; 
       }
       .tax-name{
        display: table-cell;
        font-weight:bold; 
      }
    }
}
.invoice-list-tab{
   
  .ui-tabview-nav{
    border:0 none !important;
    li{
      border:1px solid rgba(230, 230, 230, 0.7) !important;
      border-bottom: 0 !important;
    }
  }
  .ui-tabview-panel{
    border:1px solid rgba(230, 230, 230, 0.7) !important;
    padding-top: 10px !important;

    table{
      tr{
        th{
          border-bottom: 1px solid rgba(230, 230, 230, 0.7) !important;
          border-top: 1px solid rgba(230, 230, 230, 0.7) !important;
          border-right:0 !important;
          border-left:0 !important;
          padding: 7px;
          background: #f6f8f9;
          color: #464646;

          &:nth-child(1){
            text-align: left; 
          }
          &:nth-child(3){
            text-align: center !important; 
          }
          &:nth-child(5){
            text-align: right; 
          }
          &:nth-child(6){
            text-align: center; 
          }
          &:nth-child(7){
            text-align: center; 
          }
          .ui-button{
            width:27px !important;
            background: transparent;
            color: #9b9b9b;
            border: 1px solid #d5d5d5;
            border-radius: 50px;

            &:hover{
              color: #525252;
            }
          }
        }
       td{
          border-top: 0px solid rgba(230, 230, 230, 0.7) !important;
          border-right:0 !important;
          border-left:0 !important;
          font-size: 13px;
          padding: 5px;
          letter-spacing: 0.5px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

          &:nth-child(1){
            text-align: left; 
            padding: 0.5em 0.8em;
          }
          &:nth-child(2){
            text-align:center;
            white-space: initial;
            word-wrap: break-word
          }
          &:nth-child(3){
            text-align:center;
            white-space: initial;
            word-wrap: break-word
          }
          &:nth-child(4){
            text-align:right;
          }
          &:nth-child(5){
            text-align: right; 
          }
          &:nth-child(6){
            text-align: center; 
          }
          &:nth-child(7){
            text-align:center;
          }
          &:nth-child(8){
            text-align:center;
          }
          .ui-state-highlight{
            color: #fff !important;
          }
          .ui-button{
            width:25px !important;
            background: transparent;
            color: #9b9b9b;
            border: 1px solid #d5d5d5;
            border-radius: 50px;

            &:hover{
              color: #525252;
            }
          }
          .ui-button{
            // background: transparent;
            // color: #464646;
            width:17%;
          }
          .ui-button-text {
            padding: 0.25em;
        }
       } 
      }
     }
   }
  .ui-paginator-bottom{
    border:0
  }
  
}
.invoice-list-tab-2{
  // margin-top: 10px;
  table{
    tr{
      th{
        &:nth-child(7){
          text-align:center !important;
        }
      }
      td{
        &:nth-child(6){
          text-align:right;
        }
      }
    }
  } 
}
// .invoice-viewlist{
//   border-bottom: 1px solid #ddd;
// }
.invoice-viewlist {
  .ui-button-icon-only {
     width: 26px !important;
  }
  .ui-state-default{
    &:last-child{
    display: none;
  }
 }
}
.changepass-overlay{

    .ui-dialog-content{
        border-top: 3px solid #3984b8;
        padding: 20px 20px 31px !important;
    }
    h1 {
      color: #585858;
      font-size: 18px;
      margin: 0px;
      font-weight: bold;
      letter-spacing: 0.5px;
      padding-bottom: 10px !important;
      text-align: left;
    }
    .ui-dialog-titlebar{
      padding: 0 !important;
      width: 30px;
      right: -25px;
      position: absolute;
      height: 30px;
      z-index: 99;
      top: -25px;
      background: transparent;
    }
    .ui-dialog-titlebar{ 

      .fa-close{
      border:1px solid #3984b8;
      padding: 5px 9px;
      width: 30px;
      border-radius: 50%;
      height:30px;
      line-height: 17px;
      margin:5px 0px;
      background: #fff;
       }
    }
    input{
      background-color: #fff;
      position: relative;
      border: 1px solid #e0e0e0;
      border-radius: 0px;
      padding-top: 7px;
      padding-left: 7px;
      padding-right: 12px;
      padding-bottom: 4px !important;
      height: 45px;
      min-height: 45px; 
  }  
  .ui-button{
    width: auto;
  }
}
.proflable {
  font-size: 13px;
  padding-left: 30px;
  font-weight: bold;
  color: #464646;
}

 .profval {
    font-size: 15px;
    font-weight: 500;
}
.text-master {
    color: #626262 !important;
}
.roles{
  margin-bottom: 0 !important;
  .ui-button{
    padding: 0 !important;
  }
}
.roles-table{
  table{
    tr{
      th{
        border-bottom: 1px solid rgba(230, 230, 230, 0.7) !important;
        border-top: 1px solid rgba(230, 230, 230, 0.7) !important;
        border-right:0 !important;
        border-left:0 !important;
        padding: 0px !important;
        background: #f5f5f5;
        color: #464646;

        &:nth-child(1){
          text-align: left !important;
          padding:10px !important;
        }
        &:nth-child(2){
          text-align: left;
          padding:10px !important;
        }
        &:nth-child(3){
          text-align: center;
          padding:5px !important;
        }
        &:nth-child(4){
          text-align: right !important;
          padding:10px !important;
        }
        &:nth-child(5){
          padding-right: 7px !important;
          text-align:right !important;
        }
        .ui-button{
            width:27px !important;
            background: transparent;
            color: #9b9b9b;
            border: 1px solid #d5d5d5;
            border-radius: 50px;

            &:hover{
              color: #525252;
              background: transparent;
            }
          }
      }
      td{
        border-top: 0px solid rgba(230, 230, 230, 0.7) !important;
        border-right:0 !important;
        border-left:0 !important;
        font-size: 13px;
        letter-spacing: 0.5px;

        &:nth-child(2){
          text-align: left !important;
        }
        &:nth-child(2){
          text-align: left !important;
        }
        &:nth-child(3){
          text-align: center;
        }
        &:nth-child(4){
          text-align: right !important;
        }
        &:nth-child(5){
          text-align: right !important;
        }
        .ui-button{
          width: 25px !important;
          background: transparent;
          color: #757575;
          border: 1px solid #d5d5d5;
          border-radius: 50px;
          height: 25px;

          &:hover{
            background: transparent;
            color: #757575;
          }
        }
      }
    }
  }
 .ui-paginator{
    border-right:0;
    border-left:0;
  }
}
.bank-add{
  .ui-autocomplete{
     width:100%;
 
     .ui-inputtext{
         width: calc(100% - 2em);
     }
   } 
 } 
 .vendor-table {
  .ui-datatable{
    tr {
      th{
        padding: 10px !important;
      }
    }
  } 
}
.billlist{
  border:0 none;
}
.ui-dropdown-filter-container{
    width: 96% !important;
    padding: 5px 5px !important;
}
 .receipt-register{
  width: 97%;
  .drop-button{
    .ui-dropdown{
      width: 100% !important;
    }
  }
  .date-button{
    .ui-calendar{
    width: 90%
    }
  } 
  .date-button-2{
    width: auto;
    text-align: left;

    button{
    height: 30px;
    width: 100%;
    text-align: left;
    background: #6BB2D3 !important;
    color: #fff;
    border: 0 none;
    }
  }
}

.pcs-itemtable-header{
  color: #757575;
  padding: 12px !important;
  background: #f6f8f9 !important;
  font-weight: bold;
}
// .ui-datatable{
//   table{
//     tr{
//       th{
//         text-align: left;
//       }
//     }
//   }
// }
.customer-advance{
  table{
    tr{
      th{
        padding: 10px !important;

        &:nth-child(6){
          text-align: right;
        }
        &:nth-child(7){
          text-align: center;
        }
      }
      td{
        font-size: 13px;

        &:nth-child(6){
          text-align: right;
        }
        &:nth-child(7){
          text-align: center;
        }
      }
    }
  }
}
.advance-table{
  table{
    tr{
      th{
        &:nth-child(2){
          text-align:center !important; 
        }
        &:nth-child(3){
          text-align:right; 
        }
        &:nth-child(4){
          text-align:right; 
        }
        &:nth-child(5){
          text-align:right; 
        }
        &:nth-child(6){
          text-align:right; 
        }
      }
      td{
        font-size: 13px;

        &:nth-child(3){
          text-align:right; 
        }
        &:nth-child(4){
          text-align:right; 
        }
        &:nth-child(5){
          text-align:right; 
        }
      }
    }
  }
}
.product-table {
  .ui-tabview-panels {
    .ui-tabview-panel{
      padding: 0;
    }
  }
}
.product-add{
  padding: 5px 0px;
  width: 99%;
  margin:5px 5px;
  background:#f8f8f8;
  label{
    font-weight: bold;
    letter-spacing: 0.5px;
  }
  .ui-inputtext{
    height:30px;
  }
}
.product-text{

  .ui-autocomplete{
    width: 100%;

    .ui-inputtext{
      width: 88%;
    }
  }
}
.product-text-2{
  
  .ui-autocomplete{
    width: 100%;

    .ui-inputtext{
      width: 92%;
    }
  }
}
.invoice-list-tabs-2 {
  table{
    tr{
      th{
        padding: 0 10px !important;
        &:nth-child(4){
          text-align: right !important;
        }
        &:nth-child(5){
          text-align: center !important;
        }
      }
      td{
        &:nth-child(4){
          text-align: right !important;
        }
       &:nth-child(5){
        text-align: center !important; 
      }
      .ui-button{
        width:25px !important
      }
     }
    }
  }
 }

 .roles-table{
  .ui-overlaypanel-content{
    border-top:2px solid #3984b8;
    margin-top:1px;
    padding: 5px 20px
  }
  .brand-overlay-2{
    padding: 0;
    h2{
      margin:5px 0;
    }
    .form-group{
      input{
        height: auto !important;
        min-height: auto;
       }
    } 
   }
 } 
.credit-add{
  margin: 0;
  label{
    font-size: 14px;
    color: #868686;
    font-weight: bold;
  }
}
.totalvalue{
  margin: 0;
}
.invoice-to-table-2{
  h1{
    color: #8f8f8f;
    font-size: 16px;
    margin: 5px 0;
    font-weight: normal;
    letter-spacing: 0.5px;
    padding: 5px 5px;
    text-transform: uppercase;
  }
  table{
    tr{
      th{
        &:nth-child(1){
          text-align: center !important;
        }
        &:nth-child(2){
          text-align: right !important;
        }
        &:nth-child(3){
          text-align: right !important;
        }
        &:nth-child(4){
          text-align: right !important;
        }
      }
     td{
      &:nth-child(1){
        text-align: center !important;
      }
      &:nth-child(2){
        text-align: right !important;
      }
      &:nth-child(3){
        text-align: right !important;
      }
      &:nth-child(4){
        text-align: right !important;
      }
     } 
    }
  }
}
body{
  .ui-state-disabled{
    opacity: .55
  }
  .ui-widget:disabled {
    opacity: .55;
  }
}
.comments-info {
  float: left;
  margin-left: 1em;
  text-align: right;
  width: 63%;
  h3 {
    font-size: 26px;
    color: #FFF;
    margin: 0 0 0px 0;
}
}
.info-invoice{
  .top-comment-grid{
    border:1px solid #50a72e;
    border-radius: 4px;
    width: 100%;
    background: #50a72e;
    .panel-footer {
      .fa-arrow-circle-right{
        color:#c7efb7;
        font-size: 16px;
     }
     span{
      color:#c7efb7;
      font-size: 14px;
      margin: 0 15px;
      }
    }
  }
.invoice-info{
  padding: 1em;
  display: inline-flex;
  width: 89%;
  
  .comments-icon {
    float: left;
    width: 30%;
    .fa {
      -webkit-transition: .5s all;
      transition: .5s all;
      -moz-transition: .5s all;
    }
    .fa-money {
      font-size: 3em;
      color: #8ccc73;
    }
  }
}
}
.info-bill{
  .top-comment-grid{
    border:1px solid #f0bd4c;
    border-radius: 4px;
    width: 100%;
    background: #f0bd4c;

    .panel-footer {
      .fa-arrow-circle-right{
        color:#fbedd0;
        font-size: 16px;
       }
       span{
        color:#fbedd0;
        font-size: 14px;
        margin: 0 15px;
      }
    }
  }
.bill-info {
    padding: 1em;
    display: inline-flex;
    width: 90%;

    .comments-icon {
      float: left;
      width: 30%;
      .fa {
        -webkit-transition: .5s all;
        transition: .5s all;
        -moz-transition: .5s all;
    }
      .fa-file-text-o {
        font-size: 3em;
        color: #fedf9b;
      }
  }
  .likes-info {
    a {
      color: #fedf9b !important;
    }
  }
}
}
.info-receipt {
  .top-comment-grid{
    border:1px solid #e9453b;
    border-radius: 4px;
    width:100%;
    background: #e9453b;
    .panel-footer {
      .fa-arrow-circle-right{
        color:#fbbcb8;
        font-size: 16px;
      }
      span{
        color:#fbbcb8;
        font-size: 14px;
        margin: 0 15px;
      }
    }
  }
.receipt-info {
    padding: 1em;
    display: inline-flex;
    width: 90%;
    .comments-icon {
      float: left;
      width: 30%;
      .fa {
        -webkit-transition: .5s all;
        transition: .5s all;
        -moz-transition: .5s all;
    }
      .fa-credit-card{
        font-size: 3em;
        color: #fb8f88;  
      }
   }
   .likes-info{
    a {
      color: #fb8f88 !important;
     }
  }
 }
}
.info-payment {
  .top-comment-grid{
    border:1px solid #4858a4;
    border-radius: 4px;
    width: 100%;
    background: #4858a4;

    .panel-footer {
      .fa-arrow-circle-right{
        color:#b2bef9;
        font-size: 16px;
      }
      span{
        color:#b2bef9;
        font-size: 14px;
        margin: 0 15px;
      }
    }
  }
.payment-info {
    padding: 1em;
    display: inline-flex;
    width: 90%;

    .comments-icon {
      float: left;
      width: 30%;
      .fa {
        -webkit-transition: .5s all;
        transition: .5s all;
        -moz-transition: .5s all;
       }
      .fa-file-text{
        font-size: 3em;
        color: #8590c5;  
      }
    }
    .likes-info {
      a {
        color: #8590c5 !important;
     }
    }
 }
}
.top-comment-grid{
    border-radius: 4px;
    overflow: hidden;
    padding: 0;

  &:hover{
    .comments-icon{
      .fa {
        -webkit-transform: scale(3);
        transform: scale(3);
        -moz-transform: scale(3);
        -o-transform: scale(3);
        -ms-transform: scale(3);
        opacity: .3;
        -moz-opacity: .3;
      }
    }
  }
}
.info-invoicevalue{
  line-height: 30px;
  display: block;    
  background: #fff;
}
.likes-info {
  a {
    color: #8ccc73 !important;
    font-size: 1.2em !important;
    margin: 0 !important;
    letter-spacing: 1px;
    text-decoration: none;
  }
}
.invoice-due{
  width:49.5%;
  margin: 0 15px 0 0;
  min-height: 310px;
  border-top: 2px solid #50a72e;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #464646;

  .ui-widget-overlay{
    min-height: 310px;
  }
}
.invoice-due-2{
  width:49%;
  min-height: 310px;
  margin: 0;
  border-top:2px solid #4858a4;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #464646;

  .ui-widget-overlay{
    min-height: 310px;
  }
}
.invoice-due-3{
  width:49.5%;
  margin: 0 15px 0 0;
  min-height: 310px;
  border-top: 2px solid #f0bd4c;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #464646;
  
  .ui-widget-overlay{
    min-height: 310px;
  }
}
.invoice-due-4{
  width:49%;
  min-height: 310px;
  border-top:2px solid #e9453b;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: #464646;

  .ui-widget-overlay{
    min-height: 310px;
  }
}
.ledger{
  background: #f8f8f8; 
  display: inline-block; 
  width:97%;
  margin:0 15px;
}
// .ui-tabview{
//   .ui-tabview-nav {
//     li {
//         padding: 5px 20px 4px 0px;
//       }
//   }
// }
.bank-input{
  border:1px solid #d5d5d5;
  input{
    border:0;
    min-height: 31px !important;
    color: #757575;
    }
   .ui-dropdown{
       width: 100%;
       border:0 none;
       min-height: 31px;
       &:hover{
         border:0 none !important;
       }
       &:focus{
        outline: none;
      }
      input{
        border:1px solid #d5d5d5;
      }
   } 
 }
 .first{
   margin-top: 0px;
 }
 .bank-input-2{
  .ui-autocomplete{
    width:100%;
    .ui-inputtext{
      width:92%;
    }
    .ui-button{
      background: transparent;
      &:hover{
        background: transparent;
      }
      .fa-caret-down{
        color: #b5b5b5;
      }
    }
  }
}
.bank-input-3{
  input {
    height: 30px;
    border: 1px solid #d5d5d5;
  }
}
.ledger{
  .ui-calendar{
    width: 100%;
    input{
      width: 92%;
    }
  }
}
.profile-form{
  span {
    input{
      border:1px solid #d5d5d5;
      height: 30px;
      padding: 0 6px;
      color:#464646;
      width:100%;
      border-radius: 2px;
    }
  }

 .ui-dropdown{
  .ui-dropdown-label{
    height: 30px;
  }
 }
}

.roles-table-2{
  table{
    tr{
      th{
        padding-top: 5px !important;
        padding-bottom: 5px !important;
      }
    }
  }
}
.molal-overlay{
  h2{
    margin: 3px;
    font-size: 16px;
    font-weight: normal;;
    color: #464646;
  }
}
.category{
  input{
    min-height: auto;
    height: auto;
  }
}

.credit-list {
  .ui-tabview-nav{
    position: fixed;
    top:90px;
 } 
}
.credit-list{
  .ui-tabview-panel{
    position: fixed;
    left: auto;
    right: auto;
    top:124px;
    width: 80%;
  }
} 
body{
  height: auto;
}
.credit-list{
  .ui-tabview {
      .ui-tabview-nav li{
          padding: 0;
      }
    }
}

.save-button {
  .blue-btn {
    position: absolute;
    left: auto;
    right: 30px;
  }
}
.icon-button {
  position: absolute;
  right: -8px;
  top: -32px;
}
.credit-list {
  .ui-state-highlight{
    background: #dee4e9 !important;
    border-bottom: 1px solid #d5d5d5 !important;
    color: #757575 !important;
  }
  .ui-state-active{
    background: transparent;
    border:1px solid #d5d5d5 !important;
  }
  .ui-button{
    // width:70px !important;
    .ui-button-text{
      text-align: left;
    }
  }
}
.view-invoice-print{
  tr {
    td{
      text-align: right !important;
    }
  }
} 
.center-icon{
  margin-left: -.3em !important;
}
.multibutton {
  .ui-menu{
    width: 150px;
    left:-56px !important;
    .fa{
      margin-top:-5px;
    }
  }
  ul{
    li {
      a{
        &:hover{
          background: #f8f8f8 !important;
          color: #757575 !important;
        }
      }
    }
  }
}
.multibutton-2 {
    .fa{
      margin-top:-5px;
      
    }
  ul{
    li {
      a{
        &:hover{
          background: #f8f8f8 !important;
          color: #757575 !important;
        }
      }
    }
  }
}
.addproducts {
  .ui-button{
    // position: fixed;
    // right: 14px;
    padding: 2px;
  }
}
.brs-file {
  .ui-fileupload {
    .ui-fileupload-buttonbar {
      padding: 0.0em 0em;
      border-bottom: 0 none ;
      position: relative;
      z-index: 99;
      float: left;
    border:1px solid #ffffff;
    }
  }
}
.menu-list-view {
  margin: 0 5px;
  
  a{
    vertical-align: middle;

    .fa{
      vertical-align: middle;
      font-size: 22px !important;
      margin-top: 10px !important;
      margin-right: 10px !important;
    }
    
  }
}
.product-list-view{
  width: 320px !important;
  padding: 5px !important;
  right:15px !important;

  &:after{
    position: absolute;
    top: -10px;
    right: 120px;
    left: auto;
    display: inline-block;
    content: '';
    border-right: 10px solid transparent;
    border-bottom: 10px solid #d5d5d5;
    border-left: 10px solid transparent;
   }
  a {
    img{
      max-width: 100%;
      width: 80px;
      border:1px solid transparent;
      padding: 5px;

      &:hover{
        border:1px solid #d5d5d5;
        padding: 5px;
      }
    }
  }
}
.chart-of-accounts-tab{
  .ui-treetable {
    th {
      background-color: #989595;
      padding: 1.0em 1em;
      border-color: #c7cdd1;
      color: #ffffff;
      min-height: 65vh;
    }
  }
}
.required:after {
  color: #f55753;
  content: "*";
  font-family: arial;
  font-size: 16px;
  position: absolute;
  right: 13px;
  top: 6px;
}
.req:after {
  color: #f55753;
  content: "*";
  font-family: arial;
  font-size: 16px;
  position: absolute;
}
.form-group-default {
  position: relative;
}
.pll-right{
  position: relative;
  left: 20px
}
.changepass-overlay {
  .ui-dialog{
    width: 30rem !important;
   }
}
.required-3:after{
  left:48px !important;
}
.required-4:after{
  margin-left:5px !important;
}
.bank-input:after{
  right:14px !important;
  top:12px !important;
}
.journal-panel{
  background: #fff;
  height:86vh;
  display:inline-table;
}
.tab-view
.ui-tabview .ui-tabview-panel {
    padding: 35.5em 1em !important;
}

.invoice-tax{
  margin-top:19px;

  span{
    font-weight: normal;
    display: inline-block;
    margin-top: -12px;
  }
  .ui-panel-content{
    padding:0em 0em !important;
  }
}
.invoice-select{
  .ui-dropdown-panel{
    .ui-dropdown-items {
       width:22em;
    }
  }
}
.ui-dropdown-panel{
  .ui-dropdown-items {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
 }
}
.tb-list-view
{

  .invoice-list-tab
  {
    table
    {
      td{
        .ui-button{
          width:27px !important;
          background: transparent;
          color: #9b9b9b;
          border: 1px solid #d5d5d5;
          border-radius: 50px;
          &:hover{
            color: #525252;
            border: 1px solid #525252;
            background: transparent;
          }
        }
      }
    }
  }
  .tabel
  {
    table{
      tbody
      {
        td{
          .ui-button{
            width:27px !important;
            background: transparent;
            color: #9b9b9b;
            border: 1px solid #d5d5d5;
            border-radius: 50px;
            &:hover{
              color: #525252;
              border: 1px solid #525252;
              background: transparent;
            }
          }
          &:nth-child(1)
          {
            font-size: 13px;
            width: 10%;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          &:nth-child(3)
          {
            font-size: 13px;
            white-space: initial;
            word-wrap: break-word;
          }
          &:nth-child(4)
          {
            font-size: 13px;
            white-space: initial;
            word-wrap: break-word;
          }
          &:nth-child(5)
          {
            font-size: 13px;
            white-space: initial;
            word-wrap: break-word;
          }
          &:nth-child(2)
          {
            font-size: 13px;
            white-space: initial;
            word-wrap: break-word;
          }
        }
        
      }
         
    }
  }
  
}
.discount-value-3{
  width:calc(98% + 7px) !important;
}

.product-table{
  .ui-tabview-panels {
    .ui-tabview-panel {
        padding: 10px !important;
    }
  }
}
.list-graphs{
  .ui-panel-titlebar{
  border-bottom: 0 !important;
  }
}
.list-graphs {
  .ui-widget-overlay{
  z-index: 10 !important;
 }
}
.select-box {
  .elipsis_div {
    text-overflow: ellipsis;
    max-width: 290px;
    white-space: nowrap;
 }
}
.ui-dropdown{
  .ui-dropdown-panel{
    max-width: 218px;
  }
}
.tabview-height .ui-tabview .ui-tabview-panel {
  // padding: 0.5em 1em;
  // border: 1px solid #c7cdd1;
  border-top: 0 none;
  height: 450px;
}

.ui-datatable-tablewrapper table tbody tr.ui-widget-content span{
  font-size: 13px
}
.button-brs-color.ui-button.ui-button-text-icon-left.ui-button-text {
  padding: 1.385em .6em .385em 2em !important;
  background: #3984b8 !important;
  color: #ffffff !important;
}

.left
{
float:left !important;
}

p-tabview .ui-tabview .ui-tabview-panel
{
  float:left
}

.tb-list-view{
.ui-treetable {
  .ui-treetable-footer {
    padding: 0 !important;
    display: inline-block;
    width: 100%;
    border: 0;
   }
  }
}

.ui-datatable-tablewrapper table tr td
{
  width: 150px;
  white-space: initial;
  word-wrap: break-word;
};
.margin-right .ui-fileupload .ui-fileupload-buttonbar .ui-button {
  margin-right: -2px !important;
  border-top: #ffffff;
  border-bottom: #ffffff;
  border-right: 1px solid #d5d5d5;
  margin-bottom: -8px;
}
.button-color .ui-button.ui-button-text-icon-left .ui-button-text {
  padding: .385em .6em .385em 2em;
  background: #3984b8;
  color: white;
}
.button-icon-color .ui-button.ui-button-text-icon-left .fa {
  margin-top: -.5em;
  color: white;
}

.upload-border .ui-widget-content {
  border: 1px solid rgba(230, 230, 230, 0.9) !important;
}
.invoice-tax .ui-widget-header a
{
  top:-4px
}
.ui-panel p-datatable .ui-datatable-thead tr
{
  border-top : none !important;
}
.changepass-overlay{
  .ui-dropdown-items-wrapper {
    position: fixed;
  }
}
.ui-messages-detail
{
    display: none !important;
}
body .ui-messages.ui-messages-success .ui-messages-icon
{
  color : #fff
}