<div class="panel">
  <div *ngIf='externalinput==false' class="ui-g-12 p-t-0 p-b-0 p-l-0 p-r-0">
    <div class="bg-1">
      <div class="ui-g-12 p-l-0 p-r-0 p-t-0 p-b-0 m-b-10">
        <div class="journal-heading">
          <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
          <h1>LEDGER </h1>
          <div class="ui-toolbar-group-right">
            <button [routerLink]="['/reports/list']" icon="fa-window-close " pbutton="" type="button" class="ui-button ui-widget ui-state-default center-icon ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left center-icon ui-clickable fa fa-times"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
          </div>
        </div>
      </div>
      <form novalidate [formGroup]="ledgerFilterForm" (ngSubmit)="search(ledgerFilterForm.value)">
        <div class="ui-g-12 p-t-0 p-b-0 p-l-0 p-r-0">
          <div class="ledger invoice-table">
            <div class="ui-g-12 ui-lg-12 ul-md-12">
              <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0">
                <div class="ui-g form-group">
                  <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
                    <label for="acAdvanced">From Date </label>
                  </div>
                  <div class="ui-g-12 p-l-0">
                    <p-calendar formControlName="startdt" [showIcon]="true" dateFormat="dd-mm-yy"></p-calendar>
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0">
                <div class="ui-g form-group">
                  <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
                    <label for="acAdvanced">To Date </label>
                  </div>
                  <div class="ui-g-12 p-l-0">
                    <p-calendar formControlName="enddt" [showIcon]="true" dateFormat="dd-mm-yy"></p-calendar>
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0">
                <div class="ui-g form-group">
                  <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
                    <label for="acAdvanced">Ledger</label>
                  </div>
                  <div class="ui-g-12 width p-l-0">
                    <p-dropdown formControlName="accheadname" [style]="{'width':'229px'}" [options]="ledgerlist" [filter]="true"></p-dropdown>
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-lg-3 ul-md-3 p-b-0">
                <div class="ui-g form-group">
                  <div class="ui-g-12 p-l-0" style="padding-top: 23px;">
                    <button type="submit" pButton icon="fa fa-search" label="Search"></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <!-- <div class="ui-g-12 ui-lg-12 ul-md-12 invoice-to-table card">
          <h1>LEDGER DETAIL</h1>
        
        </div> -->
    </div>
  </div>
  <!--<p-growl [value]="msgs" sticky="sticky">
      </p-growl>-->
  <div class="panel ui-g-12 ui-fluid invoice-to-table">
    <div class="ui-g-12 ui-lg-12 ul-md-12 p-l-0 p-r-0  pt-15">
      <div class="clearfix"></div>
      <!-- Left Assets  -->
      <div class="ui-g-12 ui-lg-12 ul-md-12 p-l-0 p-r-0 p-t-0 datatable_container">

        <p-dataTable [value]="FilteredLedgerList" selectionMode="single" #dt [(selection)]="selectedLedger" scrollable="true" scrollHeight="300px"
          [responsive]="true">
          <p-column [style]="{'width':'15%'}" field="feature">
            <ng-template pTemplate="header">
              <span>Feature</span>
            </ng-template>
            <ng-template let-col let-Ledgerdata="rowData" pTemplate="body">
              <div>{{Ledgerdata.feature}} </div>
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'15%'}" field="txnrefno">
            <ng-template pTemplate="header">
              <span>REF NO</span>
            </ng-template>
            <ng-template let-col let-Ledgerdata="rowData" pTemplate="body">
              <div>{{Ledgerdata.txnrefno}}</div>
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'15%'}" field="ledgerdate">
            <ng-template pTemplate="header">
              <span>Ledger Date</span>
            </ng-template>
            <ng-template let-col let-Ledgerdata="rowData" pTemplate="body">
              <div class="text-center">{{Ledgerdata.ledgerdate | date :dispDateFormat}}</div>
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'20%'}" field="debit" styleClass="text-right">
            <ng-template pTemplate="header">
              <span>Debit</span>
            </ng-template>
            <ng-template let-col let-Ledgerdata="rowData" pTemplate="body">
              <div>{{Ledgerdata.debit | currency : currency_sy : true}}</div>
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'20%'}" field="credit" styleClass="text-right">
            <ng-template pTemplate="header">
              <span>Credit</span>
            </ng-template>
            <ng-template let-col let-Ledgerdata="rowData" pTemplate="body">
              <div>{{Ledgerdata.credit | currency : currency_sy : true}}</div>
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'10%'}" styleClass="col-button" styleClass="text-right">
            <ng-template pTemplate="header">
                <span>Action</span>
            </ng-template>
            <ng-template let-col let-Ledgerdata="rowData" pTemplate="body">
              <button type="button" pButton (click)="viewfeatures(Ledgerdata)" icon="fa-eye"></button>
            </ng-template>
          </p-column>
        </p-dataTable>`
      </div>
      <div class="nettotal">
        <table>
          <tr>
            <td width="45%">
              <div class="ledgertotal text-right">Total</div>
            </td>
            <td width="20%">
              <div class="ledgertotal text-right"> {{ debitTotal | currency:currency_sy:true }}</div>
            </td>
            <td width="20%">
              <div class="ledgertotal text-right">{{ creditTotal | currency:currency_sy:true }}</div>
            </td>
            <td width="10%">
            </td>
          </tr>
        </table>
      </div>

    </div>
  </div>