
.configure-app{
    h1{
      margin-bottom: 20px;
      margin-top:20px;  
      letter-spacing: 0.5px;
      color: #8da0aa;
      letter-spacing: 0.5px;
      font-size: 16px;
    }

    p{
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 20px;
        min-height: 65px;
    }

}
