<div class="ui-g">
    <div class="panel">
        <div class="get-started card">
            <h1 class="">Get Started</h1>
            <div class="ui-toolbar-group-right ui-breadcrumb ui-widget ui-widget-header ui-helper-clearfix ui-corner-all">
                <ul>
                    <li><a [routerLink]="['/']" class="ui-breadcrumb-home fa fa-home"></a></li>
                </ul>
            </div>
        </div>
        <div class="ui-g dashboard">
            <!-- <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card shadow-boxui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="../landingpage/assets/images/settings.png">
                        <h1>Configure Application</h1>
                        <p>Update your Profile/Company Profile,Create Users and provide required access rights.</p>
                        <a class="ui-button configure-button" [routerLink]="['/settings']"> Configure </a>
                    </div>
                </div>
            </div> -->
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card shadow-boxui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="../landingpage/assets/images/customer.png">
                        <h1>Manage Parties</h1>
                        <p>Create your Customers & Vendors, & their Organization details, Update GSTIN & TIN NO.</p>
                        <a class="ui-button configure-button" [routerLink]="['/parties']"> Create </a>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card shadow-boxui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="../landingpage/assets/images/flyer.png">
                        <h1>Manage Brands</h1>
                        <p>Update your Own Brands and Create Brands the organization deals with.</p>
                        <a class="ui-button configure-button" [routerLink]="['/brand']"> Create </a>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card shadow-boxui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="../landingpage/assets/images/rgb.png">
                        <h1>Product Categories</h1>
                        <p>Create Product Categories to organize products.</p>
                        <a class="ui-button configure-button" [routerLink]="['/category']"> Create </a>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card shadow-boxui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="../landingpage/assets/images/checklist.png">
                        <h1>Ledgers</h1>
                        <p>Create company specific ledgers within the main account groups.</p>
                        <a class="ui-button configure-button" [routerLink]="['/ledger']"> Create </a>
                    </div>
                </div>
            </div>
            <div class="ui-g-12 ui-md-6 ui-lg-3">
                <div class="ui-g card shadow-boxui-shadow-1 overview-box overview-box-1 no-gutter configure-app">
                    <div class="text-center">
                        <img class="" src="../landingpage/assets/images/bank.png">
                        <h1>Bank</h1>
                        <p>Update your Bank Accounts with detailed Information.</p>
                        <a class="ui-button configure-button" [routerLink]="['/bank']"> Create </a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>