.invoice-prints {
    min-height: 20px;
    padding: 10px 25px;
    margin-bottom: 5px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
  }