.chartoa .ui-treetable thead th {
    background-color: #f8f8f8;
    padding: 1.0em 1em;
    border-color: #c7cdd1;
    color: #585858;
}
.p-t-3
{
    padding-top: 3px;
}
.scroll
{
    min-height: 250px;
    max-height: 250px;
    overflow-y: scroll;
}
.pa-r-5
{
    padding-right: 5px;
}
.p-l-21
{
    padding-left: 21px;
}
.p-r-21
{
    padding-right: 21px;
}
.chart-tab
{
    width: 38% !important;
    overflow: visible;
    height: 40px !important;
}
.ui-treetable-tablewrapper 
{}