<div class="ui-g panel">
    
      <div class="chartaccount-heading journal-heading">
        <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
        <h1>Chart of account</h1>
      </div>
      <div class="ui-g-12 ui-lg-12 ui-md-12 " class="chart-of-accounts-tab chart-of-accounts-tab-view">
        
        <div class="ui-g-12 ui-lg-6 ui-md-12 p-b-0 p-r-0 p-l-21">
          <div class="scroll">
            <p-treeTable #tbTreeTable [value]="Assetsvalues" selectionMode="single" [(selection)]="selectedAccount"  scrollable="true" scrollHeight="300px">
    
              <p-column field="accountname" header="Particular">
                <ng-template let-col let-account="rowData" pTemplate="header">
                  <div style="text-align: left" class="chartoa "  ><i class="fa fa-book"></i> ASSETS</div>
                </ng-template>
                <ng-template let-col let-account="rowData" pTemplate="body">
                  <span style="text-align: left;font-weight: bold;">{{account.data.accountname}}</span>
                </ng-template>
              </p-column>
            </p-treeTable>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-6 ui-md-12 p-l-0 p-t-3 p-r-21">
            <div class="scroll ">
          <p-treeTable #tbTreeTable [value]="Liabilitisvalues" selectionMode="single" [(selection)]="selectedAccount" scrollable="true" scrollHeight="300px">
    
            <p-column  field="accountname" header="Particular">
              <ng-template let-col let-account="rowData" pTemplate="header">
                <div style="text-align: left" class="chartoa  chart-tab"><i class="fa fa-book"></i> LIABILITIES</div>
              </ng-template>
              <ng-template let-col let-account="rowData" pTemplate="body">
                <span style="text-align: left;font-weight: bold;">{{account.data.accountname}}</span>
              </ng-template>
            </p-column>
          </p-treeTable>
        </div>
        </div>
    
        <div class="ui-g-12 ui-lg-6 ui-md-12  p-r-0 p-l-21 ">
            <div class="scroll">
          <p-treeTable #tbTreeTable [value]="Expensesvalues" selectionMode="single" [(selection)]="selectedAccount"  [style]="{'margin':'5px'}" scrollable="true" scrollHeight="300px">
    
            <p-column [style]="{'width':'40%','overflow':'visible'}" field="accountname" header="Particular">
              <ng-template let-col let-account="rowData" pTemplate="header">
                <div style="text-align: left"><i class="fa fa-book pa-r-5"></i>EXPENSES</div>
              </ng-template>
              <ng-template let-col let-account="rowData" pTemplate="body">
                <span style="text-align: left;font-weight: bold;">{{account.data.accountname}}</span>
              </ng-template>
            </p-column>
          </p-treeTable>
        </div>
        </div>
    
        <div class="ui-g-12 ui-lg-6 ui-md-12 p-l-0  p-r-21">
            <div class="">
          <p-treeTable #tbTreeTable [value]="Incomevalues" selectionMode="single" [(selection)]="selectedAccount"  [style]="{'margin':'5px'}" scrollable="true" scrollHeight="300px">
    
            <p-column [style]="{'width':'40%','overflow':'visible'}" field="accountname" header="Particular">
              <ng-template let-col let-account="rowData" pTemplate="header">
                <div style="text-align: left"><i class="fa fa-book pa-r-5"></i>INCOME</div>
              </ng-template>
              <ng-template let-col let-account="rowData" pTemplate="body">
                <span style="text-align: left;font-weight: bold;">{{account.data.accountname}}</span>
              </ng-template>
            </p-column>
          </p-treeTable>
        </div>
        </div>
        <!-- <p-column [style]="{'width':'40%'}" field="crdr" header="Particular">
                  <ng-template let-col let-account="rowData" pTemplate="header">
                    <div style="text-align: center">Credit/Debit</div>
                  </ng-template>
                  <ng-template let-col let-account="rowData" pTemplate="body">
                    <div style="text-align: center;font-weight: bold;">{{account.data.crdr}}</div>
                  </ng-template>
                </p-column>
          
                <p-column [style]="{'width':'40%','overflow':'visible'}" field="accountname" header="Particular">
                  <ng-template let-col let-account="rowData" pTemplate="header">
                    <div style="text-align: center">Account Type</div>
                  </ng-template>
                  <ng-template let-col let-account="rowData" pTemplate="body">
                    <div style="text-align: center;font-weight: bold;">{{account.data.prntaccheadname}}</div>
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'40%','overflow':'visible'}" field="accountname" header="Particular">
                  <ng-template let-col let-account="rowData" pTemplate="header">
                    <div style="text-align: center">Account Group</div>
                  </ng-template>
                  <ng-template let-col let-account="rowData" pTemplate="body">
                    <div style="text-align: center;font-weight: bold;">{{account.data.accountgroup}}</div>
                  </ng-template>
                </p-column>
                <p-column [style]="{'width':'40%','overflow':'visible'}" field="accountname" header="Particular">
                  <ng-template let-col let-account="rowData" pTemplate="header">
                    <div style="text-align: center">Fiancial Statement</div>
                  </ng-template>
                  <ng-template let-col let-account="rowData" pTemplate="body">
                    <div style="text-align: center;font-weight: bold;">{{account.data.alie}}</div>
                  </ng-template>
                </p-column> -->
    
    
    
      </div>
    </div>