<div class="ui-g-12 panel p-r-0 p-l-0">

  <div class="bg-1">
    <div class="ui-g-12 p-l-0 p-r-0 p-t-0 p-b-0">
      <div class="journal-heading">
        <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
        <h1>BRS Report</h1>
        <span>
          <i class="fa fa-fw fa-question-circle" pTooltip="Tap on BRS to View"></i>
        </span>

        <div class="ui-toolbar-group-right">
          <button [routerLink]="['/reports/list']" icon="fa-window-close " pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
            <span class="ui-button-icon-left center-icon ui-clickable fa fa-times"></span>
            <span class="ui-button-text ui-clickable">ui-btn</span>
          </button>
          <button icon="fa-print" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
            <span class="ui-button-icon-left ui-clickable fa fa-fw fa-print"></span>
            <span class="ui-button-text ui-clickable">ui-btn</span>
          </button>
          <button icon="fa-arrow-down" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
            <span class="ui-button-icon-left ui-clickable fa fa-fw fa-arrow-down"></span>
            <span class="ui-button-text ui-clickable">ui-btn</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-lg-12 ui-md-12 receipt receipt-register margin-brs">
    <div class="ui-g-12 ui-lg-2 ui-md-3">
      <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
        <label for="acAdvanced">From date</label>
      </div>
      <div class="ui-inputgroup ui-g-12 p-l-0 left">
        <p-calendar [(ngModel)]="startdate" [showIcon]="true" showOnFocus="true" dateFormat="dd-mm-yy" readonlyInput="readonlyInput"></p-calendar>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-2 ui-md-3">
      <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
        <label for="acAdvanced">To date</label>
      </div>
      <div class="ui-inputgroup ui-g-12 p-l-0 left" >
          <p-calendar [(ngModel)]="enddate" [showIcon]="true" showOnFocus="true" dateFormat="dd-mm-yy" readonlyInput="readonlyInput"></p-calendar>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-2 ui-md-2 date-button-2" style="margin-top:23px">
      <button pButton type="button" (click)="getbrsListAll(startdate,enddate)" icon="fa-search" label="Search"></button>
    </div>
  </div>
  <div class="invoice-list-tab ui-g-12">
    <p-tabView [activeIndex]>
      <p-tabPanel header="BRS List">
        <p-dataTable #brslisttable [value]="brslist" selectionMode="single" [paginator]="true" [rows]="10"
          [responsive]="true">

          <p-column field="txnno" header="Tranx No" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template let-selectedbrs="rowData" pTemplate="body">
              <span>{{selectedbrs.txnno }}</span>
            </ng-template>
          </p-column>
          <p-column field="txndate" header="Tranx Date" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template let-selectedbrs="rowData" pTemplate="body">
              <span>{{selectedbrs.txndate | date: date_dformat }}</span>
            </ng-template>
          </p-column>
          <p-column field="description" header="Description" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template let-selectedbrs="rowData" pTemplate="body">
              <p>{{selectedbrs.description}}</p>
            </ng-template>
          </p-column>
          <p-column field="debit" styleClass="text-right" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template pTemplate="header">
              <label>Debit</label>
              <!-- <button type="button" pButton icon="fa-refresh"></button> -->
            </ng-template>
            <ng-template let-selectedbrs="rowData" pTemplate="body">
              <span>{{selectedbrs.debit | currency : currency_sy : true }}</span>
            </ng-template>
          </p-column>
          <p-column field="credit" styleClass="text-right" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template pTemplate="header">
              <label>Credit</label>
              <!-- <button type="button" pButton icon="fa-refresh"></button> -->
            </ng-template>
            <ng-template let-selectedbrs="rowData" pTemplate="body">
              <span>{{selectedbrs.credit | currency : currency_sy : true }}</span>
            </ng-template>
          </p-column>
          <p-column field="closeingbal" styleClass="text-right" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template pTemplate="header">
              <label>Closeing Bal.</label>
              <!-- <button type="button" pButton icon="fa-refresh"></button> -->
            </ng-template>
            <ng-template let-selectedbrs="rowData" pTemplate="body">
              <span>{{selectedbrs.closeingbal | currency : currency_sy : true }}</span>
            </ng-template>
          </p-column>
          <p-column field="closeingbal" styleClass="text-right">
            <ng-template pTemplate="header">
              <label>Status
                <button pButton icon="fa-search" (click)="showhidefilter()"></button>
              </label>
            </ng-template>
            <ng-template let-selectedbrs="rowData" pTemplate="body">
              <span>{{ selectedbrs.reconstatus }}</span>
            </ng-template>
          </p-column>
          <!-- <p-column styleClass="col-button">
                  <ng-template pTemplate="header">
                    <label>Action</label>
                  </ng-template>
                </p-column> -->
        </p-dataTable>
      </p-tabPanel>
      <!-- <p-tabPanel header="Upload">
                <app-brsupload></app-brsupload>
              </p-tabPanel> -->
      <!-- <p-tabPanel header="BRS Matching">
                <app-brsmatching (brsUpdateevent)="brsUpdateEvent($event)"></app-brsmatching>
              </p-tabPanel> -->
    </p-tabView>
  </div>
</div>