.headingclass
{
    padding: 10px 15px;
}
.bg-white
{
    background-color: #fff;
}
.pdropdown .ui-dropdown {
    width: 100% !important;
  }
  
.p-10
{
    padding: 10px;
}

.prolist .addbutton
{
       margin-top: -60px;
    margin-right: 10px;
}
.card.card-w-title {
    padding-bottom: 50px;
}
.invoice-prints {
    min-height: 20px;
    padding: 10px 25px;
    margin-bottom: 0.2px;
    background-color: #f5f5f5;
    border: 0px solid #e3e3e3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 0px 0px rgba(255, 255, 255, 0.05);
    box-shadow: inset 0 0px 5px hsla(0, 0%, 100%, 0.05);
  }
  
  .invoice-prints tr td {
    padding: 3px 10px !important;
  }
  .panel-text {
    padding: 6px 10px 7px !important;
    border-bottom: 1px solid #ededed;
  }
 .ui-tabview-panel {
    padding: 5em 2em;
  }
  .form-group {
   
      width: 100%;
    }