<div class="ui-g-12 panel p-l-0 p-r-0 p-t-0">
  <div class="journal-heading">
    <img _ngcontent-c5="" class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
    <h1 class="">Debit List </h1> 
    <div class="ui-toolbar-group-right ui-corner-all addproducts">
      <button pButton type="button" label="Add" icon="fa-plus" (click)="Addproducts(debitview)"></button>
    </div>
  </div>
    
   <div class="invoice-list-tab invoice-table invoice-list-tab-2 ui-g-12">
    <p-tabView [controlClose]="true" (onClose)="handleClose($event,debitview)" #debitview [activeIndex]="activetabindex">
      <p-tabPanel [selected]="list" header="Debit List" leftIcon="fa-book">
        <p-dataTable [value]="alldebit" selectionMode="single"  [paginator]="true" [rows]="10" [responsive]="true">
          <p-column field="contactname" header="Vendor Name" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
          <p-column field="transno" header="Transaction No" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
          <p-column field="crdrrefno" header="	Bill No" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
          <p-column styleClass="col-button" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template pTemplate="header">
              Transaction Date
            </ng-template>
            <ng-template let-alldebit="rowData" pTemplate="body">
              {{alldebit.crdrdate | date:dataFormat}}
            </ng-template>
          </p-column>
          <!-- <p-column field="totalamount" header="Bill Total (₹)" [sortable]="true"></p-column> -->
          <p-column styleClass="col-button" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template pTemplate="header">
              Bill Total
            </ng-template>
            <ng-template let-alldebit="rowData" pTemplate="body">
              {{alldebit.totalamount | currency : currency_Symbol :true}}
            </ng-template>
          </p-column>
          <p-column styleClass="col-button" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template pTemplate="header">
              Debit Amount
            </ng-template>
            <ng-template let-alldebit="rowData" pTemplate="body">
              {{alldebit.amount | currency : currency_Symbol :true}}
            </ng-template>
          </p-column>
          <p-column styleClass="col-button">
            <ng-template pTemplate="header">
              <label>Action <button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button></label>
            </ng-template>
            <ng-template let-selectedviewdebit="rowData" pTemplate="body" style="text-align:right">
              <button type="button" pButton icon="fa-eye" (click)="addTabviewdebit(selectedviewdebit,debitview)"></button>
              <button type="button" pButton icon="fa-pencil" (click)="editDeposit(selectedviewdebit,debitview)"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </p-tabPanel>
      <p-tabPanel [selected]="addnew" header="Add Debit Note" leftIcon="fa-plus" *ngIf="addproduct" [closable]="true" #fileInput>
        <app-debit-note (notifyNewDebitNote)="notifyNewDebitNote($event)"></app-debit-note>
      </p-tabPanel>
      <p-tabPanel [selected]="activeTab_edit" header="Edit Debit Note" leftIcon="fa-plus" *ngIf="showEdit" [closable]="true" #fileInput>
        <app-debit-note (notifyNewDebitNote)="notifyNewDebitNote($event)" [debitidlist]="debitidlist"></app-debit-note>
      </p-tabPanel>
      <p-tabPanel header="{{debit.transno}}" *ngFor="let debit of selectedviewdebit" [closable]="true"  #fileInput>
          <div class="my_dynamica_lead_tabPanel">
            <app-view-dnote crdrid={{debit.crdrid}}></app-view-dnote>
          </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>