<p-growl  sticky="sticky">
</p-growl>
<div class="ui-g ui-fluid panel">
  <div class="ui-g-12 p-l-0 p-r-0 p-t-0 p-b-0 m-b-10">
    <div class="journal-heading">
      <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
      <h1>Profit and Loss</h1>
      <div class="ui-toolbar-group-right">
        <button [routerLink]="['/reports/list']" icon="fa-window-close " pbutton="" type="button" class="ui-button ui-widget ui-state-default center-icon ui-corner-all ui-button-icon-only">
          <span class="ui-button-icon-left center-icon ui-clickable fa fa-times"></span>
          <span class="ui-button-text ui-clickable">ui-btn</span>
        </button>
        <!-- <p-menu #menu popup="popup" [model]="menuItems" [style]="{'width':'250px'}"></p-menu> -->
        <!-- <button type="button" pButton icon="fa fa-list" label="Trial Balance" (click)="menu.toggle($event)"></button> -->
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-lg-12 ui-md-12 receipt receipt-register">
    <div class="ui-g-12 ui-lg-3 ui-md-3 p-l-0 drop-button">
      <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 ">
        <label for="acAdvanced">Financial year</label>
      </div>
      <div class="ui-g-12 p-l-0 left">
        <p-dropdown [options]="finyearlist" [(ngModel)]="selectedfinyear" (onChange)="onFinyearSelect($event)">
          <ng-template let-car pTemplate="item">
            <div class="ui-helper-clearfix">
              <div>{{car.label}}</div>
            </div>
          </ng-template>
        </p-dropdown>
      </div>
    </div>
    <div class="ui-g-12 ui-lg-2 ui-md-2 date-button-2 m-t-15" style="margin-top:23px">
      <button pButton type="button"  icon="fa-search" label="Search" ></button>
    </div>

    <div class="ui-g-4 pull-right m-t-20">
      <div class="ui-lg-4 highlight left value text-right" [ngClass]="{'profit': net_profitorloss_key =='Profit', 'Loss' : net_profitorloss_key == 'loss'}">Net {{net_profitorloss_key}} </div>
      <div class="ui-lg-6 highlight left value text-right m-l-20 amountval bold">{{net_profitloss_value | currency : currency_sy : true}}</div>
    </div>
  </div>
  <div class="ui-g-12 ui-lg-12 ul-md-12">
    <div class="clearfix"></div>
    <!-- Left Assets  -->
    <div class="ui-g-6 ui-lg-6 ul-md-6">
      <div class="datatable_container">
        <p-dataTable [value]="bl_expansesList" expandableRows="true" rowGroupMode="subheader" groupField="prntaccheadname">
          <p-headerColumnGroup>
            <p-row>
              <p-column header="Expenses" colspan="3"></p-column>
            </p-row>
            <p-row>
              <p-column header="Account"></p-column>
              <!-- <p-column header="Credit"></p-column> -->
              <p-column header="Year - {{prevyear}}" [style]="{'text-align':'right'}"></p-column>
              <p-column header="Year - {{currentyear}}" [style]="{'text-align':'right'}"></p-column>
            </p-row>
          </p-headerColumnGroup>
          <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['prntaccheadname']}}</ng-template>
          <p-column [style]="{'width':'50%'}">
            <ng-template let-col let-astdata="rowData" pTemplate="body">
              <span>{{astdata.data.accountname}}</span>

            </ng-template>
          </p-column>
          <p-column [style]="{'width':'25%'}">
            <ng-template let-col let-astdata="rowData" pTemplate="body">
              <div class="text-right">{{astdata.data.pdebit | currency : currency_sy : true }}</div>
              <div *ngIf="astdata.data.credit > 0" class="text-right">
                ({{((astdata.data.pcredit) | currency : currency_sy : true )}})</div>
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'25%'}">
            <ng-template let-col let-astdata="rowData" pTemplate="body">
              <div class="text-right">{{astdata.data.debit | currency : currency_sy : true }}</div>
              <div *ngIf="astdata.data.credit > 0" class="text-right">
                ({{((astdata.data.credit) | currency : currency_sy : true )}})</div>
            </ng-template>
          </p-column>
          <!-- <p-column>
              <ng-template let-col let-astdata="rowData" pTemplate="body">
                  <div class="text-right">{{astdata.data.credit | currency : currency_sy : true }}</div>
              </ng-template>
          </p-column> -->
          <!-- <ng-template pTemplate="rowgroupfooter" let-accounts>
              <td  style="text-align:right">Total</td>
              <td>{{calculateGroupTotal(accounts) | currency:'INR':true:'.0-0' }}</td>
          </ng-template> -->

        </p-dataTable>
      </div>
      <div class="ui-g-12 ui-lg-12 ui-md-12 text-left ui-toolbar-group-right total-column-value bold clearfix">
        <div class="ui-lg-6 left net_lebel text-right bold">Total</div>
        <div class="ui-lg-5 m-l-5 left net_value text-right bold">
          {{ expanse_total | currency : currency_sy : true }}
        </div>
      </div>
    </div>
    <!-- Liabilities -->
    <div class="ui-g-6 ui-lg-6 ul-md-6">
      <div class="datatable_container">
        <p-dataTable [value]="bl_lossesList" expandableRows="true" rowGroupMode="subheader" groupField="prntaccheadname">
          <p-headerColumnGroup>
            <p-row>
              <p-column header="Incomes" colspan="3"></p-column>
            </p-row>
            <p-row>
              <p-column header="Account"></p-column>
              <p-column header="Year - {{prevyear}}" [style]="{'text-align':'right'}"></p-column>
              <p-column header="Year - {{currentyear}}" [style]="{'text-align':'right'}"></p-column>
              <!-- <p-column header="Debit"></p-column> -->
            </p-row>
          </p-headerColumnGroup>
          <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['prntaccheadname']}}</ng-template>
          <p-column>
            <ng-template let-col let-astdata="rowData" pTemplate="body">
              <span>{{astdata.data.accountname}}</span>

            </ng-template>
          </p-column>
          <!-- <p-column>
          <ng-template let-col let-astdata="rowData" pTemplate="body">
            <div class="text-right">{{astdata.data.debit | currency : currency_sy : true }}</div>
          </ng-template>
        </p-column> -->
          <p-column [style]="{'width':'50%'}">
            <ng-template let-col let-astdata="rowData" pTemplate="body">
              <div class="text-right ">{{astdata.data.pcredit | currency : currency_sy : true }}</div>
              <div *ngIf="astdata.data.debit > 0" class="text-right">
                ({{((astdata.data.pdebit) | currency : currency_sy : true )}})</div>
            </ng-template>
          </p-column>
          <p-column [style]="{'width':'50%'}">
            <ng-template let-col let-astdata="rowData" pTemplate="body">
              <div class="text-right">{{astdata.data.credit | currency : currency_sy : true }}</div>
              <div *ngIf="astdata.data.debit > 0" class="text-right">
                ({{((astdata.data.debit) | currency : currency_sy : true )}})</div>
            </ng-template>
          </p-column>
          <!-- <ng-template pTemplate="rowgroupfooter" let-accounts>
                <td  style="text-align:right">Total</td>
                <td>{{calculateGroupTotal(accounts) | currency:'INR':true:'.0-0' }}</td>
            </ng-template> -->

        </p-dataTable>
      </div>
      <div class="ui-g-12 ui-lg-12 ui-md-12 text-left ui-toolbar-group-right total-column-value bold clearfix">
        <div class="ui-lg-6 left net_lebel text-right bold">Total</div>
        <div class="ui-lg-5 m-l-5 left net_value text-right bold">
          {{ income_total | currency : currency_sy : true }}
        </div>
      </div>



    </div>

  </div>