<p-growl  sticky="sticky">
</p-growl>
<div class="ui-g ui-fluid panel">
  <div class="ui-g-12 ui-lg-12 ul-md-12 p-l-0 p-r-0 p-t-0">
    <div class="ui-g-12 ui-lg-12 ul-md-12">
      <div class="ui-g-12 ui-lg-12 ul-md-6 receipt p-b-0 p-l-0 p-r-0 p-t-0 brs-m">
             <div class="ui-g-12 ui-lg-6 ul-md-8 p-b-0">
          <div class="ui-g form-group">
            <div class="ui-g-12 p-t-0 ui-lg-3 ul-md-4 p-l-0 bold p-r-0 p-b-0 req required-4">
              <div class=" m-t-13" for="acAdvanced">From Date-To Date</div>
            </div>
            <div class="ui-g-12 ui-lg-6 ul-md-12 p-b-0">
              <p-calendar class="width ui-calendar" [showIcon]="true" [(ngModel)]="fromtodate" selectionMode="range" showOnFocus="true" dateFormat="dd/mm/yy" readonlyInput="true"></p-calendar>
            </div>
          </div>
        </div>
      
        <div class="ui-g-12 ui-lg-4 ul-md-4 p-b-0 ">
          <div class="ui-g form-group">

            <div class="ui-g-12 m-l-15 p-l-0 p-r-0 pull-right">
              <button pButton type="button" class="blue-btn" (click)="getbrslist()" icon="fa-search" label="Search"></button>
            </div>
          </div>
        </div>
        <div class="ui-g-2 ui-lg-2 ul-md-2 pull-right m-t-13" style="padding-top:0px;">
          <button pButton type="button" class="blue-btn" icon="fa fa-upload" (click)="updatebrsstatement()" label="Update"></button>
        </div>
      </div>

      <div class="clearfix"></div>


      <div class="ui-g-12 ui-lg-12 ul-md-12 p-b-0 p-l-0 p-r-0  m-t-10">
        <p-dataTable #brslistable [value]="brslist" [editable]="true"  scrollable="true" scrollHeight="200px">
          <p-column header="#" [style]="{'width':'2%'}">
            <ng-template let-selectedtrans="rowData" let-ridx="rowIndex" pTemplate="body">
              <span>{{ridx + 1}}</span>
            </ng-template>
          </p-column>
          <p-column field="txnno" header="Trxn No" [style]="{'width':'17%'}">
            <ng-template let-selectedtrans="rowData" let-ridx="rowIndex" pTemplate="body">
              <span>{{selectedtrans.txnno}}</span>
            </ng-template>
          </p-column>
          <p-column field="txndate" header="Trxn Date" [style]="{'width':'15%'}">
            <ng-template let-selectedtrans="rowData" let-ridx="rowIndex" pTemplate="body">
              <span>{{selectedtrans.txndate  | date: date_dformat}}</span>
            </ng-template>
          </p-column>

          <p-column field="debit" header="Debit" [style]="{'width':'15%','text-align':'right'}">
            <ng-template let-selectedtrans="rowData" let-ridx="rowIndex" pTemplate="body">
              <span>{{selectedtrans.debit | currency : currency_sy : true}}</span>
            </ng-template>
          </p-column>
          <p-column field="credit" header="Credit" [style]="{'width':'15%','text-align':'right'}">
            <ng-template let-selectedtrans="rowData" let-ridx="rowIndex" pTemplate="body">
              <span>{{selectedtrans.credit | currency : currency_sy : true}}</span>
            </ng-template>
          </p-column>
          <p-column field="feature" [style]="{'width':'15%','text-align':'right'}">
            <ng-template pTemplate="header">
              <label>Feature/Ref</label>
            </ng-template>
            <ng-template let-selectedtrans="rowData" let-ridx="rowIndex" pTemplate="body">
              <span>{{selectedtrans.feature}} - {{selectedtrans.pymtrectno}}</span>
            </ng-template>
          </p-column>
          <p-column field="pymtamount" header="Payment" [style]="{'width':'15%','text-align':'right'}">
            <ng-template let-selectedtrans="rowData" let-ridx="rowIndex" pTemplate="body">
              <span>{{selectedtrans.pymtamount | currency : currency_sy : true}}</span>
            </ng-template>
          </p-column>
          <p-column field="recostatus" header="Status" [style]="{'width':'20%'}" [editable]="true">
            <ng-template let-col let-selectedtrans="rowData" let-ridx="rowIndex" pTemplate="editor">
              <!-- <textarea [rows]="2" [cols]="20" [(ngModel)]="selectedtrans[col.field]" pInputTextarea autoResize="autoResize"></textarea> -->
              <p-dropdown [filter]="true" [(ngModel)]="selectedtrans[col.field]" (onChange)="onBRSTypeSelect($event,selectedtrans,ridx,brslistable);"
                [options]="brstypeList" [autoWidth]="false" [style]="{'width':'100%'}" required="true" appendTo="body">
              </p-dropdown>
            </ng-template>
            <ng-template let-col let-selectedtrans="rowData" let-ridx="rowIndex" pTemplate="body">
              <span>{{selectedtrans.recostatus}}</span>
            </ng-template>
          </p-column>
        </p-dataTable>

      </div>
      <div class="clearfix"></div>


    </div>
  </div>
</div>