<div class="layout-wrapper" 
    [ngClass]="{'layout-menu-slim': slimMenu, 
                'layout-menu-overlay': overlayMenu, 
                'layout-menu-static': staticMenu,
                'layout-menu-static-inactive': staticMenuInactive,
                'layout-menu-overlay-active': overlayMenuActive,
                'layout-menu-active': mobileMenuActive}">
    
    <app-topbar></app-topbar>
    <app-notifications></app-notifications>
    <div class="layout-main">
        <app-menu [reset]="resetSlim"></app-menu>        
        <div class="layout-content"> 
            <!-- For Success Message --> 
            <p-messages id="successMessage" [(value)]="successMessage"></p-messages> 

             <!-- For Error Message -->               
            <p-growl [(value)]="messages"  life="3000"></p-growl>
            <!-- Service loader -->
            <spinner [backgroundColor]="'#06b3bb'"></spinner>
            <!-- Views -->
            <router-outlet></router-outlet>
        </div>
        
        <app-footer></app-footer>
    </div>     
    
    <div class="layout-mask" *ngIf="mobileMenuActive"></div>   
</div>