<div class="ui-g-12 panel p-l-0 p-r-0">
  <div class="journal-heading">
    <img _ngcontent-c5="" class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
    <h1 class="">Parties</h1>
    <div class="ui-toolbar-group-right ui-corner-all">
      <button [routerLink]="['/getstarted']" icon="fa-check" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
        <span class="ui-button-icon-left ui-clickable fa fa-fw fa-chevron-left"></span>
        <span class="ui-button-text ui-clickable">ui-btn</span>
      </button>
      <button pButton type="button" label="Parties" icon="fa-plus" (click)="Addproducts(partiesView)"></button>
    </div>
  </div>

  <!--<div class="ui-g">
  <div class="ui-g-12">-->
  <!--<div class="ui-g-6 top-fixeds">
      <p-overlayPanel #op1>
        <app-addparties></app-addparties>
       </p-overlayPanel>
    </div>-->
  <div class="invoice-list-tab invoice-list-tabs-2 ui-g-12">
    <p-tabView [controlClose]="true" (onClose)="handleClose($event)" #partiesView [activeIndex]>
      <p-tabPanel [selected]="list" header="Parties List" leftIcon="fa-list">
        <p-dataTable [value]="partieslist" [rows]="10" [paginator]="true">
          <p-column class="p-b-0" field=companyname header="Company Name" [filter]="show" [sortable]="true" filterMatchMode="contains" [style]="{'width': '14%'}"></p-column>
          <p-column class="p-b-0" field=billcityname header="City" [filter]="show" [sortable]="true"  filterMatchMode="contains"></p-column>
          <p-column class="p-b-0" field=accheadname header="Group" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
          <p-column class="p-b-0" field=status header="Status" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
          <p-column class="p-b-0" field=industryname header="Industry Name" [filter]="show" [sortable]="true" filterMatchMode="contains" [style]="{'width': '14%'}"></p-column>
          <p-column class="p-b-0" [filter]="show" [sortable]="true" filterMatchMode="contains">
            <ng-template class="center" pTemplate="header">
              <label>Create By</label>
            </ng-template>
            <ng-template let-partieslist="rowData" pTemplate="body">
              {{partieslist.createdby}}
              <br> {{partieslist.createddt | date:datafromat }}
            </ng-template>
          </p-column>
          <p-column class="p-b-0" [filter]="show" [sortable]="true" filterMatchMode="contains">
            <ng-template class="center" pTemplate="header">
              <label> Updated By</label>
            </ng-template>
            <ng-template let-partieslist="rowData" pTemplate="body">
              {{partieslist.lastupdatedby}}
              <br> {{partieslist.lastupdateddt | date:datafromat }}
            </ng-template>
          </p-column>
          <p-column>
            <ng-template pTemplate="header">
              <p>Action
                <button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button>
              </p>
            </ng-template>

            <ng-template let-selectedpro="rowData" pTemplate="body" style="text-align:right">
              <button type="button" pButton icon="fa-pencil" (click)="viewproduct(selectedpro,partiesView)"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </p-tabPanel>
      <p-tabPanel [selected]="addnew" header="Add Parties" leftIcon="fa-plus" *ngIf="addparties" [closable]="true" #fileInput>
        <app-addparties [partiesdetails]="partiesdetails" (notifyNewProduct)="notifyNewProduct($event)"></app-addparties>
      </p-tabPanel>
      <p-tabPanel [selected]="editpar" header="Edit Parties" leftIcon="fa-pencil" *ngIf="editparties" [closable]="true" #fileInput>
        <app-addparties [partiesdetails]="partiesdetails" (notifyNewProduct)="notifyNewProduct($event)"></app-addparties>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>