<div class="ui-g-12 panel p-r-0 p-l-0">
    
      <div class="bg-1">
        <div class="ui-g-12 p-l-0 p-r-0 p-t-0 p-b-0">
          <div class="journal-heading">
            <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
            <h1>Payment Register</h1>
            <span><i class="fa fa-fw fa-question-circle" pTooltip="Tap on payment to View"></i> </span>
    
            <div class="ui-toolbar-group-right">
              <button [routerLink]="['/reports/list']" icon="fa-close-windows" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable center-icon fa fa-times"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
              <button icon="fa-print" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-print"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
              <button icon="fa-arrow-down" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-arrow-down"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
    
    
            </div>
          </div>
        </div>
      </div>
    
    
      <div class="ui-g-12 ui-lg-12 ui-md-12 receipt receipt-register">
        <div class="ui-g-12 ui-lg-3 ui-md-3 p-l-0 drop-button">
          <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
            <label for="acAdvanced">Vendor</label>
          </div>
          <div class="ui-g-12 width p-l-0">
              <p-dropdown [options]="contactlist" [(ngModel)]="selectedCon" (onChange)="onContactSelect($event)"></p-dropdown>
          </div>
        </div>
    
        <div class="ui-g-12 ui-lg-3 ui-md-3 p-l-0 date-button">
          <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
            <label for="acAdvanced">From date</label>
          </div>
          <div class="ui-g-12  p-l-0">
              <p-calendar [(ngModel)]="invoiceDate" [showIcon]="true" showOnFocus="true" dateFormat="dd-mm-yy" readonlyInput="readonlyInput"></p-calendar>
          </div>
        </div>
    
        <div class="ui-g-12 ui-lg-3 ui-md-3 date-button">
          <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
            <label for="acAdvanced">To date</label>
          </div>
          <div class="ui-g-12  p-l-0">
              <p-calendar [(ngModel)]="DueDate" [showIcon]="true" showOnFocus="true" dateFormat="dd-mm-yy" readonlyInput="readonlyInput"></p-calendar>
          </div>
        </div>
    
        <div class="ui-g-12 ui-lg-2 ui-md-2 date-button-2" style="padding-top: 30px">
            <button pButton type="button" class="brs-width" (click)="getAllPayments(invoiceDate,DueDate)" icon="fa-search" label="Search"></button>
        </div>
      </div>
      <div class="ui-g-12  invoice-list-tab">
        <p-tabView #paytabview [activeIndex]="activetabindex" (onClose)="handleTabClose($event,paytabview)">
          <p-tabPanel [selected]="list" header="Matched" leftIcon="fa-book">
            <p-dataTable [value]="list" selectionMode="single"  [paginator]="true" [rows]="paginator" [responsive]="true">
              <p-column field="contactname" header="Customer Name" [sortable]="true"></p-column>
              <p-column field="pymtrectno" header="Payment No" [sortable]="true"></p-column>
              <p-column field="pymtamount" header="Payment Total" [sortable]="true">
                <ng-template let-selectedpay="rowData" pTemplate="body">
                  <span>{{selectedpay.pymtamount | currency : currency_sy : true}}</span>
                </ng-template>
              </p-column>
              <p-column field="pymtrectdt" header="Payment Date">ss
                <ng-template let-date="rowData" pTemplate="body">
                  <span>{{date.pymtrectdt | date:date_dformat }}</span>
                </ng-template>
              </p-column>
              <p-column field="createdby" header="Created By" [style]="{'align-text': 'center'}">
                <ng-template let-createdby="rowData" pTemplate="body">
                  <span>{{createdby.createdby }}</span>
                </ng-template>
              </p-column>
              <p-column styleClass="col-button" [style]="{'align-text': 'center'}">
                <ng-template pTemplate="header">
                  <label>Action</label>
                </ng-template>
                <ng-template let-selectedrec="rowData" pTemplate="body">
                  <a pButton (click)="addTabViewinvoice(selectedrec,paytabview)" icon="fa-eye" style="text-align:center;"></a>
                </ng-template>
              </p-column>
            </p-dataTable>
          </p-tabPanel>
          <p-tabPanel [closable]="true" *ngFor="let pay of selectedpymntrec; let i = index" header="{{pay.pymtrectno}}">
            <div class="my_dynamica_lead_tabPanel">
              <app-view-payment pymtrectid="{{pay.pymtrectid}}"></app-view-payment>
            </div>
          </p-tabPanel>
        </p-tabView>
    
      </div>
    </div>