<p-growl [value]="msgs" sticky="sticky">
</p-growl>
<div class="panel">
  <div class="journal-heading">
    <img _ngcontent-c5="" class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
    <h1 class="">Categories</h1>
    <div class="ui-toolbar-group-right ui-corner-all">
      <button [routerLink]="['/getstarted']"  icon="fa-check" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-chevron-left"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
      <button pButton type="button" label="Add" icon="fa-plus" (click)="addcategory($event,op3)"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12 roles-table">
      <!--<div class="ui-g-0">
        <p-overlayPanel #op1>
          <app-addcategory [catgdetails]="catgdetails" [addovrlay]="addovrlay" (loadcategorylist)="loadcategorylist($event)"></app-addcategory>
        </p-o3verlayPanel>
      </div>-->
       <div class="molal-overlay">
          <div class="changepass-overlay">
              <p-dialog #op3 header="" [(visible)]="adddialog_display" modal="modal" width="350" [responsive]="true">
              <app-addcategory [catgdetails]="catgdetails" [addovrlay]="addovrlay" (loadcategorylist)="loadcategorylist()"></app-addcategory>
              </p-dialog>
          </div>
      </div>
      <div class="invoice-list-tab roles-table">
        <p-tabView [controlClose]="true">
          <p-tabPanel header="Category" leftIcon="fa-book">
            <p-dataTable [value]="catglist" [rows]="10" [paginator]="true">
              <p-column field=categoryname header="Category Name"  [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
              <p-column field=tenantname header="Company Name"  [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
              <p-column field=status header="Status"  [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
              <p-column field=lastupdatedby header="Updated By"  [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
              <p-column>
                <ng-template pTemplate="header">
                  <p>Action <button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button></p>
                </ng-template>
                <ng-template pTemplate="body" let-selectedcategory="rowData">
                 <a pButton (click)="update($event,selectedcategory,op4)" icon="fa-pencil"></a>&emsp;
                </ng-template>
              </p-column>
            </p-dataTable>
          </p-tabPanel>
        </p-tabView>
      
      <!--<div class="ui-g-6">
        <p-overlayPanel #op2>
          <app-addcategory [catgdetails]="catgdetails" [editovrlay]="editovrlay" (loadcategorylist)="loadcategorylist($event)"></app-addcategory>
        </p-overlayPanel>
      </div>-->
      <div class="molal-overlay">
    <div class="changepass-overlay">
        <p-dialog #op4 header="" [(visible)]="display" modal="modal" width="350" [responsive]="true">
        <app-addcategory [catgdetails]="catgdetails" [editovrlay]="editovrlay" (loadcategorylist)="loadcategorylist()"></app-addcategory>
        </p-dialog>
    </div>
  </div>
</div>
    </div>
  </div>
  </div>
