
.tree_footercols
{
    display: block;
    float: left !important;
    padding: 15px 0px 0 0px;
    text-align: right;
    font-weight: bold;
    color: #292929;
    width: 160px;
    white-space: initial;
    word-wrap: break-word;
    padding-right: 0;
}
.ui-treetable .ui-treetable-footer {
   min-height: 35px !important;
}
.ui-tabview .ui-tabview-panel {
    min-height : calc( 75vh ) !important;
}

