<div class="panel ui-g-12 m-b-25 p-t-0 p-b-0 p-l-0 p-r-0">
  <div class="shadow-box ui-shadow-1 bg-white prolist height-auto">
    <div class="ui-g-12 p-l-0 p-r-0">
      <div class="journal-heading">
        <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
        <h1>Invoices</h1>
        <div class="ui-toolbar-group-right multibutton-2">
          <p-menu #menu popup="popup" [model]="invoicelistmainmenu"></p-menu>
          <button type="button" pButton icon="fa fa-list" label="Sales" (click)="menu.toggle($event)"></button>
        </div>
        <!-- <div class="ui-toolbar-group-right">
          <button icon="fa-arrow-down" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-arrow-down"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
          <button [routerLink]="['/sales/addedit']" icon="fa-plus" label="New" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-plus"></span><span class="ui-button-text ui-clickable">Invoice</span></button>
        </div> -->
      </div>
    </div>
    <div class="ui-g-12 p-l-0 p-r-0">
      <!--<div class="ui-g-6">
       <p-blockUI [blocked]="transactionNoRecordDisp.invoice" [target]="invoiceSummary">
              <i class="fa fa-lock fa-5x" style="position:absolute;top:29%;left:46%"></i>
           </p-blockUI>
          <p-panel #invoiceSummary>           
            <p-chart *ngIf="invoiceSummaryData" type="bar" [data]="invoiceSummaryData" [options]="barChartConfig"></p-chart>
          </p-panel> 
      </div>-->

      <div class="ui-g-6 list-graphs">
        <div class="shadow-box ui-shadow-1">
          <p-blockUI [blocked]="transactionNoRecordDisp.invoice" [target]="invoiceSummary">
            <i class="fa fa-lock fa-5x" style="position:absolute;top:29%;left:46%"></i>
          </p-blockUI>
          <p-panel #invoiceSummary>
            <p-chart *ngIf="invoiceSummaryData" type="bar" [data]="invoiceSummaryData" [options]="barChartConfig"></p-chart>
          </p-panel>
        </div>
      </div>
      <div class="ui-g-6 list-graphs">
        <div class="shadow-box ui-shadow-1">
          <p-blockUI [blocked]="transactionNoRecordDisp.invoiceCount" [target]="invoiceCount">
            <i class="fa fa-lock fa-5x" style="position:absolute;top:29%;left:46%"></i>
          </p-blockUI>
          <p-panel #invoiceCount>
            <p-chart *ngIf="invoiceCountData" type="bar" [data]="invoiceCountData" [options]="barChartConfig"></p-chart>
          </p-panel>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>
  <div class="ui-g ui-fluid">
    <div class="ui-g-12 ui-lg-12 invoice-list-tab">
      <!-- <p-menu class="tabpanmenu" #menu popup="popup" [model]="invoicelistmainmenu"></p-menu> -->
      <p-tabView [controlClose]="true" (onClose)="handletabClose($event)">
        <!-- <p-tabPanel (click)="menu.toggle($event)" header="Invoice List" leftIcon="fa-list"> -->
        <p-tabPanel header="Invoice List" leftIcon="fa-list">

          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Global Filter" style="width:30%">
          </div>

          <!-- <div class="tabpanelfirst"></div> -->
          <p-dataTable #invoicelisttable [value]="invoicelist" selectionMode="single" [paginator]="true" [rows]="paginator" [responsive]="true"
            [globalFilter]="gb">
            <p-column field="contactname" header="Name" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
            <p-column field="invoiceno" header="Invoice No" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
            <p-column field="invoicedt" header="Invoice Date" [filter]="show" filterMatchMode="contains" [sortable]="true">
              <ng-template let-selectedinvoice="rowData" pTemplate="body">
                <span>{{selectedinvoice.invoicedt | date: date_dformat }}</span>
              </ng-template>
            </p-column>
            <p-column field="duedate" header="Due Date" [filter]="show" filterMatchMode="contains" [sortable]="true">
              <ng-template let-selectedinvoice="rowData" pTemplate="body">
                <span>{{selectedinvoice.duedate | date: date_dformat }}</span>
              </ng-template>
            </p-column>
            <p-column field="subtotal" styleClass="text-right" [filter]="show" filterMatchMode="contains" [sortable]="true">
              <ng-template pTemplate="header">
                <label>Sub Total</label>
                <!-- <button type="button" pButton icon="fa-refresh"></button> -->
              </ng-template>
              <ng-template let-selectedinvoice="rowData" pTemplate="body">
                <span>{{selectedinvoice.subtotal | currency : currency_sy : true }}</span>
              </ng-template>
            </p-column>
            <p-column field="invoicetotal" header="Total" styleClass="text-right" [filter]="show" filterMatchMode="contains" [sortable]="true">
              <ng-template let-selectedinvoice="rowData" pTemplate="body">
                <span>{{selectedinvoice.invoicetotal | currency : currency_sy : true }}</span>
              </ng-template>
            </p-column>
            <p-column field="pymntamount" header="Paid" [style]="{'text-align': 'right'}" styleClass="text-right" [filter]="show" filterMatchMode="contains"
              [sortable]="true">
              <ng-template let-selectedinvoice="rowData" pTemplate="body">
                <span>{{selectedinvoice.pymntamount | currency : currency_sy : true }}</span>
              </ng-template>
            </p-column>
            <p-column styleClass="col-button">
              <ng-template pTemplate="header">
                <label>Action
                  <button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button>
                </label>
                <!-- <button type="button" pButton icon="fa-refresh"></button> -->
              </ng-template>
              <ng-template let-selectedinvoice="rowData" pTemplate="body">
                <a pButton [routerLink]="['../viewinvoice', 'invoice',selectedinvoice.invoiceid ]" icon="fa-eye"></a>
                <a pButton [routerLink]="['../editinvoice', selectedinvoice.invoiceid ]" icon="fa-pencil"></a>
                <!-- <button type="button" pButton (click)="addTabViewinvoice(selectedinvoice)" icon="fa-eye"></button> -->
              </ng-template>
            </p-column>
          </p-dataTable>
        </p-tabPanel>
        <p-tabPanel header="Pro-forma Invoice List" leftIcon="fa-list">
          <!-- <div class="tabpanelfirst"></div> -->

          <div class="ui-widget-header" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" placeholder="Global Filter" style="width:30%">
          </div>

          <p-dataTable #proformainvoicelisttable [value]="proformainvoicelist" selectionMode="single" [paginator]="true" [rows]="5"
            [responsive]="true" [globalFilter]="gb">
            <p-column field="contactname" header="Name" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
            <p-column field="invoiceno" header="Invoice No" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
            <p-column field="invoicedt" header="Invoice Date" [filter]="show" filterMatchMode="contains" [sortable]="true">
              <ng-template let-selectedinvoice="rowData" pTemplate="body">
                <span>{{selectedinvoice.invoicedt | date: date_dformat }}</span>
              </ng-template>
            </p-column>
            <p-column field="duedate" header="Due Date" [filter]="show" filterMatchMode="contains" [sortable]="true">
              <ng-template let-selectedinvoice="rowData" pTemplate="body">
                <span>{{selectedinvoice.duedate | date: date_dformat }}</span>
              </ng-template>
            </p-column>
            <p-column field="subtotal" styleClass="text-right" [filter]="show" filterMatchMode="contains" [sortable]="true">
              <ng-template pTemplate="header">
                <label>Sub Total</label>
                <!-- <button type="button" pButton icon="fa-refresh"></button> -->
              </ng-template>
              <ng-template let-selectedinvoice="rowData" pTemplate="body">
                <span>{{selectedinvoice.subtotal | currency : currency_sy : true}}</span>
              </ng-template>
            </p-column>
            <p-column field="invoicetotal" header="Total" styleClass="text-right" [filter]="show" filterMatchMode="contains" [sortable]="true">
              <ng-template let-selectedinvoice="rowData" pTemplate="body">
                <span>{{selectedinvoice.invoicetotal | currency : currency_sy : true}}</span>
              </ng-template>
            </p-column>
            <p-column field="pymntamount" header="Paid" [style]="{'text-align': 'right'}" styleClass="text-right" [filter]="show" filterMatchMode="contains"
              [sortable]="true">
              <ng-template let-selectedinvoice="rowData" pTemplate="body">
                <span>{{selectedinvoice.pymntamount | currency : currency_sy : true}}</span>
              </ng-template>
            </p-column>
            <p-column styleClass="col-button">
              <ng-template pTemplate="header">
                <label>Action
                  <button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button>
                </label>
                <!-- <button type="button" pButton icon="fa-refresh"></button> -->
              </ng-template>
              <ng-template let-selectedinvoice="rowData" pTemplate="body">
                <a pButton [routerLink]="['../viewinvoice', 'proforma',selectedinvoice.invoiceid]" icon="fa-eye"></a>
                <a pButton [routerLink]="['../editproformainvoice', selectedinvoice.invoiceid ]" icon="fa-pencil"></a>
                <!-- <button type="button" pButton (click)="addTabViewinvoice(selectedinvoice)" icon="fa-eye"></button> -->
              </ng-template>
            </p-column>
          </p-dataTable>
        </p-tabPanel>
        <!-- <p-tabPanel header="Add Product" leftIcon="fa-user" *ngIf="addproduct">
        <app-products></app-products>
      </p-tabPanel> -->
        <!-- <p-tabPanel [closable]="true" *ngFor="let invoice of selectedinvoice; let i = index" header="{{invoice.invoiceno}}">
          <div class="my_dynamica_lead_tabPanel">
            <app-view-invoice invoiceid="{{invoice.invoiceid}}"></app-view-invoice>
          </div>
        </p-tabPanel> -->
      </p-tabView>

    </div>
    <!-- <div class="content-section invoicelist">    
        <p-contextMenu #cxtMenu  [model]="invoicelistmenuitem" appendTo="body" ></p-contextMenu>
    </div> -->
  </div>
</div>