<p-growl  sticky="sticky">
</p-growl>

<div class="col-md-12  bg-white">
  <form [formGroup]="bank" class="formgroup" (ngSubmit)="createbank(bank.value)">
    <div class="ui-g form-group p-10 p-l-0 p-r-0 p-b-0 p-t-0 ">
      <div class="receipt ui-g-12 bank-t p-b-0 p-l-0 p-r-0">
        <div class="ui-g-12 form-group-default">
          <div class="ui-g-12 ui-lg-1 ui-md-12 req required-4">
            <label for="input ui-g-12 padding-top bold">Date</label>
          </div>
          <div class="ui-g-12  ul-md-12 p-t-0 p-r-0 receipt-date receipt-date-2 calc">

            <p-calendar class="ui-dropdown calc" [showIcon]="true"  readonlyInput="readonlyInput" dateFormat="dd/mm/yy" formControlName="Docmentdata"></p-calendar> <span style="margin-left:35px">{{Docmentdata|date}}</span>
          </div>
        </div>
    </div>

      <div class="ui-g-12 ui-lg-4 ui-md-12 p-l-0 form-group-default">
        <div class="ui-g-12  p-r-0 p-l-0 p-t-0 p-b-0 bank-input required">
          <label class="ui-g-12 padding-top bold">From </label>
          <p-dropdown [filter]="true" formControlName="selectedfrom" placeholder="Select Scoure Bank " (onChange)="onSelectedBankFrom()" [style]="{'width':'100%'}"
            [autoWidth]="false" [options]="BankList" name="selectedfrom">
            <ng-template let-BankList pTemplate="item">
              <div class="ui-helper-clearfix select-box">
                <div class="elipsis_div">{{BankList.label}}</div>
              </div>
            </ng-template>
</p-dropdown>
        </div>
      </div>
      <div class="ui-g-12 ui-lg-4 ui-md-12 form-group-default">
        <div class="ui-g-12  p-r-0 p-l-0 p-t-0 p-b-0 bank-input required">
          <label class="ui-g-12 padding-top bold">To </label>
          <p-dropdown [filter]="true" pInputText (onChange)="onSelectedBankTo()" placeholder="Select Descation Bank " [style]="{'width':'100%'}"
            [autoWidth]="false" [options]="BankList" name="selectedto" formControlName="selectedto">
            <ng-template let-BankList pTemplate="item">
              <div class="ui-helper-clearfix select-box">
                <div class="elipsis_div">{{BankList.label}}</div>
              </div>
            </ng-template>
          </p-dropdown>
        </div>
      </div>
      <div class="ui-g-12 ui-lg-4 ui-md-12 p-r-0 form-group-default">
        <div class="ui-g-12  p-r-0 p-l-0 p-t-0 bank-input required">
          <label class="ui-g-12 bold "> Amount </label>
          <input type="text" maxlength ="{{amtlength}}" class="ui-g-12 text-right " pInputText placeholder="Enter Amount" (keypress)=numberOnly($event) name="Amount" formControlName="amount">
        </div>
      </div>

      <div class="ui-g-12 ">
        <div class="ui-g-11 bank-field narr-mar p-l-0 margin-bo">
          <!-- <input type="text" pInputText placeholder=" Narration " class="ui-g-12" name="Remark" formControlName="Remark"> -->
          <textarea autoresize="autoResize" class="ui-g-6 m-l-5 ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched"
            pinputtextarea="" placeholder="" pInputText placeholder=" Comments" name="Remark" formControlName="Remark" ng-reflect-auto-resize="autoResize"
            ng-reflect-rows="3" ng-reflect-cols="20" rows="3" cols="20"></textarea>
            <span><i class="fa fa-fw fa-question-circle" pTooltip="Use this field to comments your payment amount"></i> </span>
        </div>
        <div class="ui-g-1 margin-but-top pull-right">
          <button type="submit" pButton label="Save" icon="fa fa-check" *ngIf="!bankfind" style="width:65px" class="blue-btn"></button>
          <button type="submit" pButton *ngIf="bankfind"  icon="fa fa-check" label="Update" style="width:78px" class="blue-btn"></button>
        </div>

        <!-- <div class="ui-g-12"> -->

      </div>
      <!-- </div> -->
      <!-- </div> -->


    </div>

  </form>
</div>
<!-- <div class="row width100"> -->
<!-- <div class="ui-g-6">
            <div class="ui-g-3">
              <label> Document No  </label>
            </div>
            <div class="ui-g-9">
              <input type="text" pInputText placeholder=" Docment Number" class="ui-g-12" name="DocmentNo" formControlName="DocmentNo">
            </div>
          </div> -->
<!-- <div class="ui-g-12 ui-lg-6 ui-md-4">
          
          <div class="ui-g-12 ui-lg-12  ul-md-12 p-r-0 receipt-date receipt-date-2 bank-field"> -->