<p-growl [value]="msgs" sticky="sticky">
</p-growl>

<div class="col-md-12  bg-white">
  <form [formGroup]="bank" (ngSubmit)="createbank(bank.value)">
    <div class="ui-g form-group p-10 p-l-0 p-r-0 p-b-0 p-t-0 ">
      <div class="receipt ui-g-12 bank-t p-b-0 p-l-0 p-r-0">
        <div class="ui-g-12 form-group-default">
          <div class="ui-g-12 ui-lg-1 ui-md-12 req required-4">
            <label for="input ui-g-12 padding-top bold">Date</label>
          </div>
          <div class="ui-g-12  ul-md-12 p-t-0 p-r-0 receipt-date receipt-date-2 calc">
            <p-calendar class="ui-dropdown calc" [showIcon]="true"  readonlyInput="readonlyInput" dateFormat="dd/mm/yy" formControlName="Docmentdata"></p-calendar> <span style="margin-left:35px">{{Docmentdata|date}}</span>
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-lg-4 ui-md-12 p-l-0 form-group-default">
        <div class="ui-g-12  p-r-0 p-l-0 p-t-0 p-b-0 bank-input bank-input-2 required">
          <label class="ui-g-12 padding-top bold auto-size">From </label>
          <p-autoComplete [(ngModel)]="selectedfrom" [suggestions]="filterformlist" field="subaccheadname" name="selectedfrom" formControlName="selectedfrom"
            (completeMethod)="searchfrom($event)" [dropdown]="true" placeholder="Select Account" [minLength]="1" (onSelect)="selectfrom($event)"
            (onDropdownClick)="handleDropdownClick($event,'from')">
            <ng-template let-from pTemplate="item">
              <div class="ui-helper-clearfix select-box">
                <div class="elipsis_div">{{from.subaccheadname}}</div>
              </div>
            </ng-template>
          </p-autoComplete>
        </div>
      </div>
      <div class="ui-g-12 ui-lg-4 ui-md-12 p-l-0 form-group-default">
        <div class="ui-g-12  p-r-0 p-l-0 p-t-0 p-b-0 bank-input bank-input-2 required">
          <label class="ui-g-12 padding-top bold auto-size">To </label>
          <p-autoComplete [(ngModel)]="selectedto" [suggestions]="filtertolist" field="subaccheadname" name="selectedto" formControlName="selectedto" (completeMethod)="searchto($event)"
            [dropdown]="true" [minLength]="1" placeholder="Select Bank" (onSelect)="selectto(selectedto)"   (onDropdownClick)="handleDropdownClick($event,'to')">
            <ng-template let-to pTemplate="item">
              <div class="ui-helper-clearfix select-box">
                <div class="elipsis_div">{{to.subaccheadname}}</div>
              </div>
            </ng-template>
          </p-autoComplete>
        </div>
      </div>
      <div class="ui-g-12 ui-lg-4 ui-md-12 p-r-0 form-group-default">
        <div class="ui-g-12  p-r-0 p-l-0 p-t-0 bank-input required">
          <label class="ui-g-12 bold"> Amount </label>
          <input type="text" maxlength ="{{amtlength}}" class="ui-g-12 text-right" pInputText (keypress)=numberOnly($event) placeholder="Enter Amount"  name="Amount" formControlName="amount">
        </div>
      </div>


      <div class="ui-g-12 ">
        <div class="ui-g-11 bank-field narr-mar p-l-0 margin-bo">
          <!-- <input type="text" pInputText placeholder=" Narration " class="ui-g-12" name="Remark" formControlName="Remark"> -->
          <!-- <textarea _ngcontent-c8="" autoresize="autoResize" class="ui-g-6 m-l-5 ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched"
              pinputtextarea="" placeholder="" pInputText placeholder=" Narration " name="Remark" formControlName="Remark"
              ng-reflect-auto-resize="autoResize" ng-reflect-rows="3" ng-reflect-cols="30" rows="2" cols="30"></textarea> -->
          <textarea autoresize="autoResize" class="ui-g-6 m-l-5 ng-pristine ng-valid ui-inputtext ui-corner-all ui-state-default ui-widget ng-touched"
            pinputtextarea="" placeholder="" pInputText placeholder=" Comments " name="Remark" formControlName="Remark" ng-reflect-auto-resize="autoResize"
            ng-reflect-rows="3" ng-reflect-cols="20" rows="3" cols="20"></textarea>
            <span><i class="fa fa-fw fa-question-circle" pTooltip="Use this field to comments your payment amount"></i> </span>
        </div>

      <div class="ui-g-1  pull-right margin-but-top">
        <button type="submit" pButton label="save" icon="fa fa-check" j *ngIf="!bankfind" style="width:65px" class="blue-btn pull-right"></button>
        <button type="submit" pButton *ngIf="bankfind"  icon="fa fa-check" label="update" style="width:78px" class="blue-btn  pull-right"></button>
      </div>
    </div>
    </div>
  </form>
</div>
<!-- <div class="ui-g-6">
              <div class="ui-g-3">
                <label> Document No </label>
              </div>
              <div class="ui-g-9">
                <input type="text" pInputText placeholder=" Docment Number" class="ui-g-12" name="DocmentNo" formControlName="DocmentNo">
              </div>
            </div> -->