.headingclass
{
    padding: 10px 15px;
}
.bg-white
{
    background-color: #fff;
}
.p-10
{
    padding: 10px;
}
.formwidth
{
    width:65%;
}

.formgroup

{
padding: .2em;
}
.width100
{
    width:100%;
}
.p-dropdown .ui-dropdown {
    width: 150% !important;
}
.padding-0
{
    padding: 0;
}
.bank-t{
   margin-left: 0px;
   margin-right: 0px;
}
.margin-top{
    margin-top: -50px;

}

.calc{
    width:49%;
}
.margin-bo{   
     margin-bottom: 20px;
    }
    .bank-margin{
        margin-right:-12px;
    }
    .padding-top{
        
        padding-top: 7px;
        padding-bottom: 13px;
    }
    .narr-mar{
        margin-left:-14px;
    }
    .m-t-22{   
         margin-top: -60px;
        }
        .margin-transfer-bank
        {
            margin-right: 400px;
        }
.auto-size
{
    width: 318px;
}
.right-text
{
    text-align: right;
}
.margin-but-top{
    margin-top: 34px;
}