<div class="ui-g-12 panel p-l-0 p-r-0 ">
    <div class="journal-heading">
        <img _ngcontent-c5="" class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
        <h1 class="">Bank Withdraw</h1>
        <div class="ui-toolbar-group-right ui-corner-all">
          <button pButton type="button" label="Add" icon="fa-plus" (click)="AddDeposite(bwviewtab)"></button>
        </div>
      </div>
      <div class="invoice-list-tab ui-g-12">
        <p-tabView [controlClose]="true" (onClose)="handleClose($event,bwviewtab)" [activeIndex]="activetabIndex" #bwviewtab>
          <p-tabPanel [selected]="list" header="Withdraw" leftIcon="fa-book">
            <p-dataTable [value]="allbankwithdraw" selectionMode="single"  scrollable="true"  [paginator]="true" [rows]="10" [responsive]="true">
                <p-column field="journalno" header="Trans.No"  [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
                <p-column styleClass="col-button" [filter]="show"  filterMatchMode="contains">
                  <ng-template pTemplate="header">
                      Trans.Date
                  </ng-template>
                  <ng-template let-allbankwithdraw="rowData" pTemplate="body">
                      {{allbankwithdraw.journaldt | date:datafromat}}
                  </ng-template>
              </p-column>
                <p-column field="createdby" header="Created By"  [filter]="show" [sortable]="true"  filterMatchMode="contains"></p-column>
                <p-column styleClass="col-button" [filter]="show" [style]="{'text-align': 'right'}"  filterMatchMode="contains">
                  <ng-template pTemplate="header">
                      Amount
                  </ng-template>
                  <ng-template let-journalTot="rowData" pTemplate="body" style="text-align:right">
                      {{journalTot.journaltotal | currency : currency_Symbol :true}}
                  </ng-template>
              </p-column>
                <!--<p-column field="{{journaltotal}}  |currency : currency_Symbol :true" header="Amount "  [filter]="show" [sortable]="true"></p-column>-->
                <p-column styleClass="col-button"  [style]="{'text-align': 'center'}"  filterMatchMode="contains">
                  <ng-template pTemplate="header" >
                    <p>Action<button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button></p>
                  </ng-template>
                  <ng-template let-selecteddeps="rowData" pTemplate="body"  style="text-align:center">
                      <button type="button" pButton (click)="addTabViewwithdraw(selecteddeps,bwviewtab)" icon="fa-eye"></button>
                    <button  type="button" pButton  icon="fa-pencil" (click)="viewDeposite(selecteddeps,bwviewtab)"></button>
               
                  </ng-template>
                </p-column>
            </p-dataTable>
          </p-tabPanel>
          <p-tabPanel [selected]="addnew" header="Add Withdraw" leftIcon="fa-plus" *ngIf="adddeposit" [closable]="true" #fileInput>
              <app-bankwithdraw [withdrawls]="withdrawls" (notifyNewBankWithDraw)="notifyNewBankWithDraw($event)"></app-bankwithdraw>
          </p-tabPanel>
          <p-tabPanel [selected]="editpro" header="Edit Withdraw" leftIcon="fa-pencil" *ngIf="editdeposit" [closable]="true" #fileInput>
            <app-bankwithdraw [withdrawls]="withdrawls" (notifyNewBankWithDraw)="notifyNewBankWithDraw($event)"></app-bankwithdraw>
           </p-tabPanel>
           <p-tabPanel [selected]="viewdeposit" [closable]="true" *ngFor="let withdraw of selecteddeps; let i = index"  header="{{withdraw.journalno}}"  leftIcon="fa-eye">
            <div class="my_dynamica_lead_tabPanel">
              <!-- I can add content to this div with tabView.onChange() api -->
              <app-view-bankwithdraw journalid="{{withdraw.journalid}}" ></app-view-bankwithdraw>
    
            </div>
            
    
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>