<div class="ui-g ui-fluid white-bg panel">
  <div class="ui-g-12 ui-lg-12 ul-md-12 p-l-0 p-r-0">
    <div class="view-invoice-content">
      <div id="pdfcontainer" class="ember-view">
        <div class="ui-g-12 p-t-0 invoice-viewlist">
          <!-- <div class="ui-g-12 ui-lg-4 ui-md-4 p-t-0 p-b-0">
            <div class="invoice-logos" style="display:inline-flex;vertical-align: top; text-align:left;">
              <img class="infobook-logo" src="../assets/img/infobook-logo.png">
              <span class="title-text">{{credit_feature}}</span>
            </div>
          </div> -->
          <div class="ui-g-12 ui-lg-8 ui-md-8 p-t-0 p-b-0 icon-button">
            <div class="ui-toolbar-group-right">

              <!-- <button [routerLink]="['/accounts/creditnote']" icon="fa-check" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-chevron-left"></span><span class="ui-button-text ui-clickable">ui-btn</span></button> -->
              <button icon="fa-print" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-print"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
              <button icon="fa-trash" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-arrow-down"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
              <button icon="fa-print" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-arrows-alt"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
            </div>
          </div>
        </div>
        <div class="pcs-template " id="printSectionId">
          <div print-section class="pcs-template-body ">
            <table style="clear:both;width:100%;margin-top:20px;table-layout:fixed;">
              <tbody>
                <tr>
                  <td style="width:60%;vertical-align:top;word-wrap: break-word;">

                    <div>
                      <span class="pcs-orgname"><b>{{creditDeta.contactname}}</b></span><br>
                      <span class="pcs-label">
                        <span id="tmp_org_address" style="white-space: pre-wrap;word-wrap: break-word;">{{creditDeta.billingaddress}}</span>
                      </span>
                    </div>
                  </td>
                  <!-- Cnote header start -->
                  <td class="invoice-prints" style="vertical-align:bottom;width: 30%;" align="right">
                    <table class="invoice-prints-1 view-invoicetable-print" style="table-layout: fixed;word-wrap: break-word;" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td width="25%">
                            <span class="pcs-label inv-view-label">Transaction No :</span>
                          </td>
                          <td width="30%">
                            <span class="pcs-label" id="tmp_entity_number">{{transno}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td width="25%">
                            <span class="pcs-label inv-view-label">Credit Date :</span>
                          </td>
                          <td style="text-align:right;">
                            <span id="tmp_entity_date" class="inv-view-value">{{creditDeta.crdrdate| date:dataFormat }}</span>
                          </td>
                        </tr>
                        <tr>
                          <td width="25%">
                            <span class="pcs-label inv-view-label">Ref No :</span>
                          </td>
                          <td width="30%">
                            <span id="tmp_due_date" class="inv-view-value">{{creditDeta.crdrrefno }}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <!-- Cnote heade end  -->

                </tr>

              </tbody>
            </table>

            <table class="pcs-itemtable" style="width:100%;margin-top:20px;table-layout:fixed;" cellspacing="0" cellpadding="0" border="0">

              <thead>
                <tr style="height:32px;">

                  <td class="pcs-itemtable-header" style="text-align:center;">
                    Due Date
                  </td>
                  <td class="pcs-itemtable-header" style="text-align:left;">
                    Invoice Total(₹)
                  </td>
                  <td class="pcs-itemtable-header" style="text-align:left;">
                    Paid(₹)
                  </td>
                  <td class="pcs-itemtable-header" style="text-align:left;">
                    Credit Amount(₹)
                  </td>
                  <td class="pcs-itemtable-header" align="right">
                    Balance Amount(₹)
                  </td>
                </tr>
              </thead>
              <tbody class="itemBody">
                <tr>
                  <td class="pcs-item-row" style="padding: 10px 10px 5px 10px;text-align:center;word-wrap: break-word;" valign="top">
                    <div class="tmp_item_rate">{{invoicelineitems.duedate| date:dataFormat}}</div>
                  </td>
                  <td class="pcs-item-row" style="padding: 10px 10px 5px 10px;text-align:left;word-wrap: break-word;" valign="top">
                    <div class="pcs-item-desc">{{invoicelineitems.invoicetotal|currency : currency_Symbol :true}}</div>
                  </td>
                  <td class="pcs-item-row" style="padding: 10px 10px 5px 10px;text-align:left;word-wrap: break-word;" valign="top">
                    <span id="tmp_item_rate">{{invoicelineitems.pymntamount|currency : currency_Symbol :true}}</span>
                  </td>
                  <td class="pcs-item-row" style="padding: 10px 10px 5px 10px;text-align:left;word-wrap: break-word;" valign="top">
                    <div class="pcs-item-desc">{{invoicelineitems.creditamount|currency : currency_Symbol :true}}</div>
                  </td>
                  <td class="pcs-item-row" style="padding: 10px 10px 5px 10px;text-align:right;word-wrap: break-word;" valign="top">
                    <div class="pcs-item-desc">{{invoicelineitems.balamount|currency : currency_Symbol :true}}</div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="ui-g-12 ui-lg-12 ui-md-12 p-r-0">
              <div class="ui-g-12 ui-lg-12 ui-md-12" id="totaldetail" class="sub-total-row">
                <div class="ui-g-12 ui-lg-12 ui-md-12 p-t-0 p-b-0 ui-toolbar-group-right discount-value discount-value-2 clearfix">
                  <span class="ui-g-12 ui-lg-4 ui-md-4 p-r-0 p-l-0 text-right m-l-0">Sub Value </span>
                  <span class="ui-g-12 ui-lg-8 ui-md-8 p-r-0 p-l-0 text-right">{{invoicelineitems.subtotal|currency : currency_Symbol :true}}</span>
                </div>
                <div class="ui-g-12 ui-lg-12 ui-md-12 p-t-0 p-b-0 ui-toolbar-group-right discount-value discount-value-2 clearfix">
                  <span class="ui-g-12 ui-lg-4 ui-md-4 p-r-0 p-l-0 text-right m-l-0">Discount Value</span>
                  <span class="ui-g-12 ui-lg-8 ui-md-8 p-r-0 p-l-0 text-right">{{invoicelineitems.discntvalue|currency : currency_Symbol :true}}</span>
                </div>
                <div class="ui-g-12 ui-lg-12 ui-md-12 p-t-0 p-b-0 ui-toolbar-group-right discount-value discount-value-2 clearfix">
                  <span class="ui-g-12 ui-lg-4 ui-md-4 p-r-0 p-l-0 text-right m-l-0">Tax Value  </span>
                  <span class="ui-g-12 ui-lg-8 ui-md-8 p-r-0 p-l-0 text-right">{{invoicelineitems.taxtotal|currency : currency_Symbol :true}}</span>
                </div>
                <div class="ui-g-12 ui-lg-12 ul-md-12 ui-toolbar-group-right discount-value discount-value-2 no-padding clearfix">
                  <div class="ui-g-12 ui-lg-4 ui-md-4 p-r-0 p-l-0 text-right pull-left m-t-0 m-l-0">Other Expenses </div>
                  <div class="ui-g-12 ui-lg-8 ui-md-8 text-right pull-left text-right bold no-padding m_l_5 m-t-5 m-b-5">
                    {{invoicelineitems.otherexpenses|currency : currency_Symbol :true}}
                  </div>
                </div>
              </div>
              <div class="ui-g-12 ui-lg-12 ui-md-12 p-t-0 p-b-0 p-l-0 p-r-0">
                <div class="ui-g-12 ui-lg-5 ui-md-5 text-left p-r-0 ui-toolbar-group-right total-column-value bold clearfix">
                  <div class="ng-binding">
                    <div class="net ui-g-12 ui-lg-4 ui-md-4 p-r-0 p-l-0 text-right m-l-0 ">Net Pay</div>
                    <div class="ui-g-12 ui-lg-8 ui-md-8 p-r-0 p-l-0 text-right bold m_l_5">{{ invoicelineitems.invoicetotal|currency : currency_Symbol :true}}</div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>