.invoice-prints {
  min-height: 20px;
  padding: 10px 25px;
  margin-bottom: 20px;
  background-color: #f6f8f9;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
}

.invoice-prints tr td {
  padding: 3px 10px !important;
}

// invoice table design
.pcs-template {
  font-size: 11pt;
  font-family: "Segoe UI", Arial, sans-serif;
  font-size: 9pt;
  color: #333333;
  background: #ffffff;
}

.pcs-header-content {
  font-size: 9pt;
  color: #333333;
  background-color: #ffffff;
}

.pcs-template-body {
  padding: 0 0.250000in 0 0.250000in;
}

.pcs-template-footer {
  height: 0.700000in;
  font-size: 8pt;
  color: #aaaaaa;
  padding: 0 0.400000in 0 0.550000in;
  background-color: #ffffff;
}

.pcs-footer-content {
  word-wrap: break-word;
  color: #aaaaaa;
  border-top: 1px solid #e3e3e3;
}

.pcs-label {
  color: #817d7d;
}

.pcs-entity-title {
  font-size: 22px;
  color: #8da0aa !important;
  font-family: 'proxima_nova_rgregular' !important;
  text-transform: uppercase;
}

.pcs-orgname {
  font-size: 10pt;
  color: #333333;
}

.pcs-totals td {
  font-size: 14px;
}

.pcs-customer-name {
  font-size: 10pt;
  color: #333333;
}

.pcs-taxtable-header {
  font-size: 10pt;
  color: #000;
  background-color: #f5f4f3;
}

.itemBody tr {
  page-break-inside: avoid;
  page-break-after: auto;
}

.pcs-item-row {
  font-size: 10pt;
  border-bottom: 1px solid #e3e3e3;
  background-color: #ffffff;
  color: #464646;
}

.pcs-item-sku {
  margin-top: 2px;
  font-size: 10px;
  color: #545454;
}

.pcs-item-desc {
  color: #464646;
  font-size: 10pt;
}

.pcs-balance {
  background-color: #f5f4f3;
  font-size: 9pt;
  color: #000000;
}

.pcs-totals {
  font-size: 9pt;
  color: #000000;
  background-color: #ffffff;
}

.pcs-notes {
  font-size: 9pt;
}

.pcs-terms {
  font-size: 9pt;
}

.pcs-header-first {
  background-color: #ffffff;
  font-size: 9pt;
  color: #333333;
  height: auto;
}

.pcs-status {
  font-size: 15pt;
  border: 3px solid;
  padding: 3px 8px;
}


/*@page :first {
          @top-center {
              content: element(header);
          }
          margin-top: 0.700000in;
      }*/

.pcs-template-header {
  padding: 0 0.400000in 0 0.550000in;
  height: 0.700000in;
}


/* invoice table */

.date-text .form-control {
  margin-left: 1px;
  width: 100% !important;
}

.date-text-2 .form-control {
  margin-left: 0px;
  width: 97% !important
}

.invoice-table .form-control {
  width: 97% !important;
}

.invoice-table {
  margin-left: 9px;
}

.reference-number {
  margin-left: 11px;
}

.pricing-table .ui-select-bootstrap .ui-select-match-text {
  padding-right: 0
}

.pricing-table .ui-select-bootstrap .ui-select-choices-row span {
  margin-bottom: 5px;
}
