<div class="ui-g-12 panel p-r-0 p-l-0">

  <div class="bg-1">
    <div class="ui-g-12 p-l-0 p-r-0 p-t-0 p-b-0">
      <div class="journal-heading">
        <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
        <h1>Receipt Register</h1>
        <span><i class="fa fa-fw fa-question-circle" pTooltip="Tap on receipt to View"></i> </span>

        <div class="ui-toolbar-group-right">
          <button [routerLink]="['/reports/list']" icon="fa-window-close " pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable center-icon fa fa-times"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
          <button icon="fa-print" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-print"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
          <button icon="fa-arrow-down" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-arrow-down"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
        </div>
      </div>
    </div>
  </div>

  <div class="ui-g-12 ui-lg-12 ui-md-12 receipt receipt-register">
    <div class="ui-g-12 ui-lg-3 ui-md-3 p-l-0 drop-button">
      <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
        <label for="acAdvanced">Customer</label>
      </div>
      <div class="ui-g-12 width p-l-0">
        <p-dropdown [options]="contactlist" [(ngModel)]="selectedCon" (onChange)="onContactSelect($event)"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12 ui-lg-3 ui-md-3 p-l-0 date-button">
      <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
        <label for="acAdvanced">From date</label>
      </div>
      <div class="ui-g-12  p-l-0">
          <p-calendar [(ngModel)]="invoiceDate" [showIcon]="true" showOnFocus="true" dateFormat="dd-mm-yy" readonlyInput="readonlyInput"></p-calendar>
      </div>
    </div>

    <div class="ui-g-12 ui-lg-3 ui-md-3 date-button">
      <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0 req required-4">
        <label for="acAdvanced">To date</label>
      </div>
      <div class="ui-g-12  p-l-0">
          <p-calendar [(ngModel)]="DueDate" [showIcon]="true" showOnFocus="true" dateFormat="dd-mm-yy" readonlyInput="readonlyInput"></p-calendar>
      </div>
    </div>

    <div class="ui-g-12 ui-lg-2 ui-md-2 date-button-2" style="padding-top: 30px">
        <button pButton type="button" class="brs-width" (click)="getallreceipts(invoiceDate,DueDate)" icon="fa-search" label="Search"></button>
    </div>
  </div>
  <div class="ui-g-12  ui-lg-12  invoice-list-tab">
    <p-tabView #recviewtab [controlClose]="true" [activeIndex]="activetabindex" (onClose)="handleTabClose($event,recviewtab)">
      <p-tabPanel header="Receipt List" leftIcon="fa-list">
        <p-dataTable [value]="list" selectionMode="single" [paginator]="true" [rows]="paginator" [responsive]="true">
          <p-column field="contactname" header="Customer Name" [sortable]="true"></p-column>
          <p-column field="pymtrectno" header="Receipt No" [sortable]="true"></p-column>
          <p-column field="pymtamount" header="Receipt Total" [sortable]="true" styleClass="text-right">
            <ng-template let-selectedrec="rowData" pTemplate="body">
              <span>{{selectedrec.pymtamount | currency : currency_sy : true}}</span>
            </ng-template>
          </p-column>
          <p-column field="pymtrectdt" header="Receipt Date" [sortable]="true">
            <ng-template let-date="rowData" pTemplate="body">
              <span>{{date.pymtrectdt | date:date_dformat }}</span>
            </ng-template>
          </p-column>
          <p-column field="createdby" header="Created By" [sortable]="true" styleClass="text-center"></p-column>
          <p-column styleClass="col-button">
            <ng-template pTemplate="header">
              <label>Action</label>
            </ng-template>
            <ng-template let-selectedrec="rowData" pTemplate="body" styleClass="text-right">
              <a pButton (click)="addTabViewinvoice(selectedrec,recviewtab)" icon="fa-eye"></a>
            </ng-template>
          </p-column>
        </p-dataTable>
      </p-tabPanel>
      <p-tabPanel [closable]="true" *ngFor="let rec of selectedpymntrec; let i = index" header="{{rec.pymtrectno}}">
        <div class="my_dynamica_lead_tabPanel">
          <app-receipt-view pymtrectid="{{rec.pymtrectid}}"></app-receipt-view>
        </div>
      </p-tabPanel>
    </p-tabView>

  </div>
</div>