<div class="ui-g-12 panel p-l-0 p-r-0 p-t-0 p-b-0">
  <div class=" journal-heading">
    <img _ngcontent-c5="" class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
    <h1 class="">Bank Deposit</h1>
    <div class="ui-toolbar-group-right ui-corner-all">
      <button pButton type="button" label="Add" icon="fa-plus" (click)="AddDeposite(bdtabview)"></button>
    </div>
  </div>
  <div class="invoice-list-tab ui-g-12">
    <p-tabView [controlClose]="true" (onClose)="handleClose($event,bdtabview)" #bdtabview [activeIndex]="activetabindex">
      <p-tabPanel [selected]="list" header="Deposit" leftIcon="fa-book">
        <p-dataTable [value]="allbankdeposit" selectionMode="single" scrollable="true"  [paginator]="true"
          [rows]="10" [responsive]="true">
          <p-column field="journalno" header="Trans.No" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
          <p-column styleClass="col-button" [filter]="show" filterMatchMode="contains">
            <ng-template pTemplate="header">
              Trans.Date
            </ng-template>
            <ng-template let-allbankdeposit="rowData" pTemplate="body">
              {{allbankdeposit.journaldt | date:datafromat}}
            </ng-template>
          </p-column>
          <p-column field="createdby" header="Created By" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
          <p-column styleClass="col-button" [filter]="show" [style]="{'text-align': 'right'}" filterMatchMode="contains">
            <ng-template pTemplate="header" style="text-align:center">
              Amount
            </ng-template>
            <ng-template let-journalTot="rowData" pTemplate="body">
              {{journalTot.journaltotal | currency : currency_Symbol :true}}
            </ng-template>
          </p-column>
          <p-column styleClass="col-button" [style]="{'text-align': 'center'}">
            <ng-template pTemplate="header">
              <label>Action<button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button></label>
            </ng-template>
            <ng-template let-selecteddeps="rowData" pTemplate="body" style="text-align:center">
              <button type="button" pButton (click)="addTabViewdeposite(selecteddeps,bdtabview)" icon="fa-eye"></button>
              <button type="button" pButton icon="fa-pencil" (click)="viewDeposite(selecteddeps,bdtabview)"></button>

            </ng-template>
          </p-column>
        </p-dataTable>
      </p-tabPanel>
      <p-tabPanel [selected]="addnew" header="Add Deposit" leftIcon="fa-plus" *ngIf="adddeposit" [closable]="true" #fileInput>
        <app-bankdeposite [depositls]="depositls" (notifyNewBankDeposit)="notifyNewBankDeposit($event)"></app-bankdeposite>
      </p-tabPanel>
      <p-tabPanel [selected]="editpro" header="Edit deposit" leftIcon="fa-pencil" *ngIf="editdeposit" [closable]="true" #fileInput>
        <app-bankdeposite [depositls]="depositls" (notifyNewBankDeposit)="notifyNewBankDeposit($event)"></app-bankdeposite>
      </p-tabPanel>
      <p-tabPanel [closable]="true" *ngFor="let deposite of selecteddeps; let i = index" header="{{deposite.journalno}}" leftIcon="fa-eye">
        <div class="my_dynamica_lead_tabPanel">
          <app-view-bankdeposite journalid="{{deposite.journalid}}"></app-view-bankdeposite>
        </div>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>