<div class="ui-g-12 panel  p-l-0 p-r-0 p-t-0 p-b-0">
    <div class=" journal-heading">
        <img _ngcontent-c5="" class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
        <h1 class="">Bank transfer</h1>
        <div class="ui-toolbar-group-right ui-corner-all">
          <button pButton type="button" label="Add" icon="fa-plus" (click)="AddTransfer(btview)"></button>
        </div>
      </div>
      <div class=" invoice-list-tab ui-g-12">
        <p-tabView [controlClose]="true" (onClose)="handleClose($event,btview)" #btview [activeIndex]="activetabindex">
          <p-tabPanel [selected]="list" header="Transfer" leftIcon="fa-book">
            
            <p-dataTable [value]="allbanktransfer" selectionMode="single" scrollable="true" scrollHeight="300px" 
              [paginator]="true" [rows]="10" [responsive]="true">
              <p-column field="journalno" header="Trans.No" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
              <p-column styleClass="col-button"[filter]="show"  filterMatchMode="contains">
                <ng-template pTemplate="header">
                    Trans Date 
                </ng-template>
                <ng-template let-allbanktransfer="rowData" pTemplate="body">
                    {{allbanktransfer.journaldt | date:datafromat}}
                </ng-template>
            </p-column>
              <p-column field="createdby" header="Created By" [filter]="show" [sortable]="true"  filterMatchMode="contains"></p-column>
              <p-column styleClass="col-button" [filter]="show" [style]="{'text-align': 'right'}"  filterMatchMode="contains">
                  <ng-template pTemplate="header">
                      Amount
                  </ng-template>
                  <ng-template let-journalTot="rowData" pTemplate="body">
                      {{journalTot.journaltotal | currency : currency_Symbol :true}}
                  </ng-template>
              </p-column>
              <!--<p-column field="journaltotal" header=" Amount  (₹)" [filter]="show" [sortable]="true"></p-column>-->
              <p-column styleClass="col-button" [style]="{'text-align': 'center'}">
                <ng-template pTemplate="header">
                  <p>Action<button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button></p>
                </ng-template>
                <ng-template let-selectedtrf="rowData" pTemplate="body"  style="text-align:center">
                    <button type="button" pButton (click)="addTabViewtransfer(selectedtrf,btview)" icon="fa-eye"></button>
                  <button  type="button" pButton  icon="fa-pencil" (click)="viewtransfer(selectedtrf,btview)"></button>
                
                </ng-template>
              </p-column>
            </p-dataTable>
          </p-tabPanel>
          <p-tabPanel [selected]="addnew" header="Add Transfer" leftIcon="fa-plus" *ngIf="addtrf" [closable]="true" #fileInput>
              <app-banktransfer [tranfls]="tranfls" (notifyNewBankTransfer)="notifyNewBankTransfer($event)"></app-banktransfer>
          </p-tabPanel>
          <p-tabPanel [selected]="editpro" header="Edit transfer" leftIcon="fa-pencil" *ngIf="edittrf" [closable]="true" #fileInput>
            <app-banktransfer [tranfls]="tranfls" (notifyNewBankTransfer)="notifyNewBankTransfer($event)"></app-banktransfer>
           </p-tabPanel>
           <p-tabPanel [closable]="true" *ngFor="let transfer of selectedtrf; let i = index" header="{{transfer.journalno}}"  leftIcon="fa-eye">
            <div class="my_dynamica_lead_tabPanel">
              <!-- I can add content to this div with tabView.onChange() api -->
           <app-view-banktransfer journalid="{{transfer.journalid}}"></app-view-banktransfer>
            </div>
            
          </p-tabPanel>
        </p-tabView>
      </div>
    </div>