
.margin-b {   
    margin-bottom: 100px;
  }
  .invoice-prints tr td {
    padding: 3px 10px !important;
  }
  
.align-text
{
vertical-align: bottom;
width: 32%;
}
.pcs-itemtable-header {
  font-size: 10pt;
  color: #ffffff;
  background: #3984b8 !important;
}
.pcs-itemtable-header {
  font-size: 10pt;
  color: #ffffff;
  background: #3984b8 !important;
}
.invoice-prints {
  min-height: 20px;
  padding: 10px 25px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
}

.invoice-prints tr td {
  padding: 3px 10px !important;
}

.align-text
{
vertical-align: bottom;
width: 32%;
}
.margin-b {   
  margin-bottom: 100px;
}
.pcs-itemtable-header {
  color: #757575;
  padding: 12px !important;
  background: #f6f8f9 !important;
  font-weight: bold;
}
.align-left-bank
.invoice-list-tab .ui-tabview-panel table tr td:nth-child(2) {
  text-align: left !important;
}