<div class="ui-g ui-fluid white-bg margin-b">
    <div class="ui-g-12 ui-lg-12 ul-md-12">
      <div id="pdfcontainer " class="ember-view">
        <div class="pcs-template" id="printSectionId">
          <div print-section class="pcs-template-body ">
            <table class="pull-right align-text invoice-prints p-l-0 p-r-0"style="clear:both;width:30%;margin-top:1px;table-layout:fixed;"*ngIf="depositeheader">
                <tbody>
                  <tr>
                    <!-- bank header start -->
                    <td class="p-l-0 p-r-0" style="vertical-align:bottom;width: 30%;" align="right">
                      <table class="invoice-prints-1 pull-right" style="float:left;width: 100%;table-layout: fixed;word-wrap: break-word;" cellspacing="0"
                        cellpadding="0" border="0">
                        <tbody>
                          <tr>
                              <td style="text-align:right;padding:5px 10px 5px 0px;font-size: 12pt;">
                              <span class="pcs-label inv-view-label">Document No:</span>
                            </td>
                            <td style="text-align:right;">
                              <span class="pcs-label" id="tmp_entity_number">{{depositeheader.journalno}}</span>
                            </td>
                          </tr>
                          <tr>
                            <td style="text-align:right;padding:5px 10px 5px 0px;font-size: 12pt;">
                              <span class="pcs-label inv-view-label">Document Date:</span>
                            </td>
                            <td style="text-align:right;">
                              <span id="tmp_entity_date" class="inv-view-value">{{depositeheader .journaldt | date:datafromat }}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
    
                </tbody>
              </table>
            <table class="pcs-itemtable" style="width:100%;margin-top:20px;table-layout:fixed;" cellspacing="0" cellpadding="0" border="0">
              <thead>
                <tr style="height:32px;">
                  <td class="pcs-itemtable-header" style="padding:5px 5px 5px 5px;text-align: center;word-wrap: break-word;width: 5%;">
                    S.No
                  </td>
                  <td class="pcs-itemtable-header" style="padding:5px 5px 5px 5px;word-wrap: break-word;width: 5%;">
                  </td>
                  <td class="pcs-itemtable-header" style="padding:5px 10px 5px 5px;word-wrap: break-word;width: 11%;" align="left">
                    Particulars
                  </td>
                  <td class="pcs-itemtable-header" style="padding:5px 10px 5px 5px;word-wrap: break-word;width: 11%;" align="center">
                    Debit
                  </td>
                  <td class="pcs-itemtable-header text-center" style="padding:5px 10px 5px 5px;word-wrap: break-word;width: 11%;" align="center">
                    Credit
                  </td>
                </tr>
              </thead>
              <tbody class="itemBody">
                <tr *ngFor="let journal of depositedetails;let index = index">
                  <td class="pcs-item-row" style="padding: 10px 0 10px 5px;text-align: center;word-wrap: break-word;" valign="top">
                    {{ index + 1}}
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 0 13px 5px;word-wrap: break-word;" valign="top">
                    <span class="bold">{{journal.type}}</span>
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 0 13px 5px;text-align:left;word-wrap: break-word;" valign="top">
                    <div class="pcs-item-desc">{{ journal.accheadname}}</div>
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 0 13px 5px;text-align:center;word-wrap: break-word;" valign="top">
                    <div *ngIf="journal.crdr == 'D'">{{journal.dramount}}</div>
                  </td>
                  <td class="pcs-item-row" style="padding: 15px 0 13px 5px;text-align:right;word-wrap: break-word;" valign="top">
                    <div *ngIf="journal.crdr == 'C'">{{journal.cramount}}</div>
                  </td>
                </tr>
                <tr *ngIf="depositeheader">
                  <td colspan="1" class="pcs-item-row align-left-bank" style="padding: 30px 10px 5px 10px;word-wrap: break-word; " valign="top">Narration :</td>
                  <td colspan="4" class="pcs-item-row text-left" style="padding: 19px 10px 5px 10px;word-wrap: break-word;text-align:left" valign="top"><p>{{depositeheader.remarks|| "-"}}</p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>