<p-growl [value]="msgs" sticky="sticky">
  </p-growl>
  <div class="col-md-12 margin-b-10">
    <form [formGroup]="par" (ngSubmit)="save(par.value)">
      <div class="ui-g form-group p-10">
        <div>
          <h3 class="first p-b-0" style="margin-bottom:1px">Parties</h3>
        </div>
        <div class="bank-t">
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0 form-group-default">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0  bank-input required">
                <label class="ui-g-12"> Company Name </label>
              <input type="text" pInputText placeholder="Company Name" class="ui-g-12" formControlName="companyname">
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0 form-group-default">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input required">
              <label class="ui-g-12"> Group </label>
              <p-dropdown (onChange)="setContactType($event)" [options]="groups" [style]="{'width': '100%'}" [filter]="true" placeholder="select Group" formControlName="accheadname">
                <ng-template let-group pTemplate="item">
                  <div>{{group.label}}</div>
                </ng-template>
              </p-dropdown>
              <!--<input type="text" pInputText placeholder="select group" class="ui-g-12" formControlName="subaccheadname">-->
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0 p-b-0 form-group-default">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input required">
              <label class="ui-g-12">Contact Name </label>
              <input type="text" pInputText placeholder="Enter Name" class="ui-g-12" formControlName="firstname">
            </div>
  
          </div>
  
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0 form-group-default">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input required">
                <label class="ui-g-12"> Phone Number </label>
              <input type="text" pInputText placeholder="Phone Number" (keypress)="numberOnly($event)" class="ui-g-12" formControlName="mobileno">
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0 ">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
              <label class="ui-g-12"> Industry </label>
              <p-dropdown [options]="industries" [style]="{'width': '100%'}" [filter]="true" placeholder="select industry" formControlName="industryname">
                <ng-template let-industry pTemplate="item">
                  <div>{{industry.label}}</div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
       
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0 ">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 bank-input">
                <label class="ui-g-12"> Email ID </label>
              <input type="email" pInputText placeholder="Email ID" class="ui-g-12" formControlName="emailid">
            </div>
          </div>
      
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0 ">
           
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
              <label class="ui-g-12">Department</label>
              <input type="text" pInputText placeholder="Department" class="ui-g-12" formControlName="cntctdeprtmnt">
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
              <label class="ui-g-12">Designation</label>
              <input type="text" pInputText placeholder="Designation" class="ui-g-12" formControlName="cntctdesignation">
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
                <label class="ui-g-12">GSTIN Number</label>
              <input type="text" pInputText placeholder="GSTIN Number" class="ui-g-12" formControlName="gstno">
            </div>
          </div>
  
  
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
                <label class="ui-g-12">TIN Number</label>
              <input type="text" pInputText placeholder="TIN Number" class="ui-g-12" formControlName="tinno">
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
                <label class="ui-g-12">Website</label>
              <input type="text" pInputText placeholder="Website Address" class="ui-g-12" formControlName="socialids"><br><br><br>
            </div>
          </div>
  
        </div>
  
        <div>
          <h3 class="first p-b-0" style="margin-bottom:1px">Billing Address</h3>
        </div>
        <div class="bank-transfer ui-g-12">
  
          <div class="row width100">
              <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
                  <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
                      <label class="ui-g-12">Street Address</label>
                    <input type="text" pInputText placeholder="Street Address" class="ui-g-12" formControlName="billaddress">
                  </div>
                </div>
                <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
                    <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
                        <label class="ui-g-12">Pin Code</label>
                      <input type="text" pInputText placeholder="Pin Code" (keypress)="numberOnly($event)" class="ui-g-12" formControlName="billzipcode">
                    </div>
                  </div>
      
             <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
              <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
                <label class="ui-g-12"> Country </label>
                <p-dropdown [options]="countrys" [style]="{'width': '100%'}" [filter]="true" placeholder="select country" formControlName="billcountryname"
                (onChange)="loadstate($event,'B')">
                  <ng-template let-country pTemplate="item">
                    <div>{{country.label}}</div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
          </div>
  
  
          <div class="row width100">
            <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
              <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
                <label class="ui-g-12"> State  </label>
                <p-dropdown [options]="billstates" [style]="{'width': '100%'}" [filter]="true" placeholder="select state" formControlName="billstatename"
                  (onChange)="loadcities($event,'B')">
                  <ng-template let-state pTemplate="item">
                    <div>{{state.label}}</div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
  
            <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
              <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
                  <label class="ui-g-12"> City </label>
                <p-dropdown [options]="billcities" [style]="{'width': '100%'}" [filter]="true" placeholder="select city" formControlName="billcityname">
                  <ng-template let-city pTemplate="item">
                    <div>{{city.label}}</div>
                  </ng-template>
                </p-dropdown>
              </div>
  
            </div>
        
    
          </div>
        </div>
  <div style="float: right">
      <label>  <p-checkbox formControlName="agreed" binary="true" (onChange)="checkbox()">Same as Billing Address</p-checkbox></label>
  </div>
  
        <div>
          <h3 class="first p-b-0" style="margin-bottom:1px">Shipping Address</h3>
        </div>
        <!-- <div class="receipt ui-g-12"> -->
        <div class="bank-transfer ui-g-12">
          <div class="row width100">
  
       
  
            <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
              <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
                  <label class="ui-g-12">Street Address</label>
                <input type="text" pInputText placeholder="Street Address" class="ui-g-12" formControlName="shipaddress">
              </div>
            </div>
            <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
                <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
                    <label class="ui-g-12">Pin Code</label>
                  <input type="text" pInputText placeholder="Pin Code" (keypress)="numberOnly($event)" class="ui-g-12" formControlName="shipzipcode">
                </div>
              </div>
            
            <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
              <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
                <label class="ui-g-12"> Country </label>
                <p-dropdown [options]="countrys" [style]="{'width': '100%'}" [filter]="true" placeholder="select country" formControlName="shipcountryname"
                (onChange)="loadstate($event,'S')">
                  <ng-template let-country pTemplate="item">
                    <div>{{country.label}}</div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
          </div>
          <div class="row width100">
             <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
              <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
              <label class="ui-g-12"> State</label>
                <p-dropdown [options]="shipstates" [style]="{'width': '100%'}" [filter]="true" placeholder="select state" formControlName="shipstatename"
                  (onChange)="loadcities($event,'S')">
                  <ng-template let-state pTemplate="item">
                    <div>{{state.label}}</div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
  
            <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
              <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input">
                <label class="ui-g-12"> City</label>
                <p-dropdown [options]="shipcities" [style]="{'width': '100%'}" [filter]="true" placeholder="select city" formControlName="shipcityname">
                  <ng-template let-city pTemplate="item">
                    <div>{{city.label}}</div>
                  </ng-template>
                </p-dropdown>
              </div>
            </div>
         
            <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 bank-input" *ngIf="partiesdetails?.contactid">
              <label class="ui-g-12"> Status : </label>
              <p-dropdown required [style]="{'width': '100%'}" [options]="changestatus" placeholder="select status" formControlName="status">
                <ng-template let-status pTemplate="item">
                  <div>{{status.value}}</div>
                </ng-template>
              </p-dropdown>
            </div>
            </div>
            <div class="ui-g-12 ui-lg-12 ui-md-12 p-t-0 p-r-0">
                <div class="ui-toolbar-group-right ui-corner-all">
                    <button icon="fa fa-check" pButton type="submit" label='{{buttonText}}'></button>
                </div>
           
            </div>
          </div>
          <!-- </div> -->
          <!-- <div class="row ui-md-12">
            <div class="col-md-4 pull-right">
              <button type="submit" pButton label="save" style="width:100px" class="blue-btn"></button>
            </div>
          </div> -->
         
  
        </div>
  
      </div>
    </form>
  </div>