.clearfix {
    clear: both;
  }
  
  .white-bg {
    background: #fff;
  }
  
  .pdropdown .ui-dropdown
   {
    width: 100% !important;
  }
  
  .tax-amount 
  {
    font-weight: bold;
    overflow: hidden;
    color: #4873b8;
    max-width: 65px;
    white-space: nowrap;
  }
  
  .address-info 
  {
    float: left;
    /*width:100%;*/
  }
  
  .sub-total-row 
  {
    font-size: 14px;
  }
  
  .total-column-value
   {
    background: #f5f5f5;
    font-size: 24px;
    padding: 5px;
  }
  
  .total-column-label
   {
    font-size: 18px;
    padding: 10px 20px;
  }
  
  .form-layout .table tbody tr td 
  {
    padding: 0px 8px;

  }
  
  .form-layout .table .form-control
   {
    font-size: 12px;
    color: #464646;
  }

  .journal-border
  {
    border-width:0px;
  }
  .journal-page
  {
    border-top:dashed;
    border-width:1px;
    color:#D7D7D7;
    border-bottom: 1px solid rgba(230, 230, 230, 0.7) !important;
    padding: 0;
    width: 99%;
    margin: 0 6px;
    label{
      color: #757575 !important;
    }
  }
  .journal-width{
    border-bottom: 1px solid rgba(230, 230, 230, 0.7) !important;
    padding: 0;
    width: 99%;
    margin: 0 6px;
  }
  .journal-list
  {
    display: inline-block;
    margin-bottom: 5px;
    background: #f8f8f8;
  }
    .ui-inputtext
     {
      background: #ffffff;
      padding: 0.385em;
      border: 0px solid #d5d5d5;
    }
    .p-b-1 
    {
      padding-bottom: 0px !important;
    }
    .m-t-list
    {
      
      margin-top: -12px !important;
    }
    .bank-input{
      border:1px solid #d5d5d5 !important;
          
      }
      .receipt-journals {
        background: #ffffff !important;
        height:31px !important;
        .ui-inputtext{
          text-align: right;
        }
      }
      .bank-input-2{
        .ui-autocomplete{
          width:100%;
          .ui-inputtext{
            width:92%;
          }
          .ui-button{
            background: transparent;
            &:hover{
              background: transparent;
            }
            .fa-caret-down{
              color: #ffffff !important;
            }
          }
        }
      }
      

.journal-arrow
{
  .ui-dropdown-trigger{
    background-color: #ffffff !important;
  }
}

.bg-lightb
{
  background-color: #f6f8f9;
}
.margin-b-journals
{
margin-bottom: 22px;
}
.margin-top
{
  margin-top: 7px;
  position: relative;
  right: 20px !important;
}

.receipt-trash .ui-button {
  margin: -2px 15px;
}

.receipt-journals .ui-button {
  position: relative;
  top: -10px;
}
.totalvalue{
  width: 97.5%;
  margin:0 15px !important;
}
.receipt-journals-2{
  .input-box{
    margin-left: -7px;
  }
}
.journal-selectbox{
  height: 31px;
  &:last-child{
    margin-bottom: 10px;
  }
}