<div class="ui-g-12 panel p-l-0 p-r-0 p-t-0 p-b-0">
  <div class=" journal-heading">
    <img _ngcontent-c5="" class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
    <h1 class="">Banks</h1>
    <div class="ui-toolbar-group-right ui-corner-all">
      <button [routerLink]="['/getstarted']"  icon="fa-check" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
        <span class="ui-button-icon-left ui-clickable fa fa-fw fa-chevron-left"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>
      <!-- <button _ngcontent-c4="" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" icon="fa-arrow-down"
        pbutton="" type="button"><span _ngcontent-c4="" class="ui-button-icon-left ui-clickable fa fa-fw fa-arrow-down"></span>
        <span _ngcontent-c4="" class="ui-button-text ui-clickable">ui-btn</span></button> -->
      <button pButton type="button" label="Bank" icon="fa-plus" (click)="addBank()"></button>
    </div>
  </div>
  <div class="ui-g-12 invoice-list-tab roles-table clearfix">
    <p-tabView [controlClose]="true" (onClose)="handleClose($event)">
      <p-tabPanel [selected]="list" header="Bank List" leftIcon="fa-list">
        <p-dataTable [value]="allbanks"  [rows]="10" [paginator]="true">
          <p-column field=bankname header="Bank Name" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
          <p-column field=ifsccode header="IFSC code" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
          <p-column field=status header="Status" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
          <p-column field=lastupdatedby header="Updated By" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
          <p-column>
            <ng-template class="center" pTemplate="header">
              <p>Action <button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button></p>
            </ng-template>
            <ng-template let-selectedbank="rowData" pTemplate="body">
              <button type="button" pButton  style="width: 35px;" icon="fa fa-pencil" (click)="update(selectedbank)"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
      </p-tabPanel>
      <p-tabPanel [selected]="addnew" header="Add Bank Details" leftIcon="fa-plus" *ngIf="addbankDetails" [closable]="true" #fileInput>
         <app-addbank [banklist]="banklist" (notifyNewBank)="notifyNewBank($event)"></app-addbank> 
        <!--<app-addbank></app-addbank>-->
      </p-tabPanel>
      <p-tabPanel [selected]="editbank" header="Edit Bank Details" leftIcon="fa-pencil" *ngIf="editbankDetails" [closable]="true"
        #fileInput>
        <app-addbank [banklist]="banklist" (notifyNewBank)="notifyNewBank($event)"></app-addbank>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>