.bg-white {
  background-color: #fff;
}

.ui-brs {
  background-color: #ffffff;
  padding: 1em 1em;
  border-color: #ffffff;
  color: #FFFFFF;
  border: 0px;
  clear: both;
}
.margin-right .ui-fileupload .ui-fileupload-buttonbar .ui-button {
  margin-right: -2px !important;
}

body .ui-fileupload .ui-fileupload-buttonbar {
  border-bottom: 1px solid #c7cdd1 !important;
  background:#f8f8f8 !important;
  border: 0px solid #ffffff !important;
  float: left;
}
.ui-fileupload-choose
{
    height:100px !important;
}
.datagrid table {
  border-collapse: collapse;
  text-align: left;
  width: 100%;
}

.datagrid {
  font: normal 12px/150% Arial, Helvetica, sans-serif;
  background: #fff;
  overflow: hidden;
//   border: 1px solid #8C8C8C;
//   -webkit-border-radius: 3px;
//   -moz-border-radius: 3px;
//   border-radius: 3px;
}

.datagrid table td,
.datagrid table th {
  padding: 3px 10px;
}

.datagrid table thead th {
//   background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #F5FAD7), color-stop(1, #7D7D7D));
//   background: -moz-linear-gradient( center top, #F5FAD7 5%, #7D7D7D 100%);
//   filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F5FAD7', endColorstr='#7D7D7D');
  font-size: 13px;
  font-weight: 700;
  border-left: 1px solid #A3A3A3; 
  border-bottom: 1px solid rgba(230, 230, 230, 0.7) !important;
  border-top: 1px solid rgba(230, 230, 230, 0.7) !important;
  border-right: 0 !important;
  border-left: 0 !important;
  padding: 7px;
  background: #f5f5f5;
  color: #464646;
}

// .datagrid table thead th:first-child {
//   border: none;
// }

.datagrid table tbody td {
  color: #757575;
  border-left: 1px solid #DBDBDB;
  font-size: 13px;
  font-weight: normal;
  padding: 0.5em 0.8em;
}

.datagrid table tbody .alt td {
  background: #EBEBEB;
  color: #757575;
}

.datagrid table tbody td:first-child {
  border-left: none;
}

.datagrid table tbody tr:last-child td {
  border-bottom: none;
}

.ui-fileupload-content {
  padding: 5px !important;
  position: relative !important;
  background: #f8f8f8 ;
 
}


.brs-file .ui-fileupload .ui-fileupload-buttonbar {
    padding: 0.5em 1em;
    border-bottom: 0 none ;
    position: relative;
    z-index: 99;
    float: left ;
 
}
.m-l-0
{
  margin-left: 0px;
}

.brs-m .ui-fileupload .ui-fileupload-buttonbar .ui-button {
  margin-right: 0px !important;
}
.uploads
 {
border: 1px solid #d5d5d5;
}
.button-brs-color.ui-button.ui-button-text-icon-left.ui-button-text {
  padding: .385em .6em .385em 2em;
  background: #3984b8 !important;
  color: #ffffff !important;
}
