<div class="ui-g-12 panel p-l-0 p-r-0 p-t-0">
  <div class="journal-heading">
    <img _ngcontent-c5="" class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
    <h1 class="">Credit List </h1>
       <div class="ui-toolbar-group-right ui-corner-all addproducts">
          <button pButton type="button" label="Add" icon="fa-plus" (click)="Addproducts(crdview)"></button>
        </div>
  </div>

    <div class="invoice-list-tab invoice-table invoice-list-tab-2 ui-g-12 cred-it-list">
    <p-tabView  [controlClose]="true" (onClose)="handleClose($event,crdview)" #crdview [activeIndex]="indextabview">
      <p-tabPanel [selected]="list" header="Credit Note" leftIcon="fa-book">
         
        <p-dataTable [value]="allcredit" selectionMode="single"  [paginator]="true" [rows]="10" [responsive]="true">
          <p-column field="contactname" header="Customer Name" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
          <p-column field="transno" header="Transaction No" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
          <p-column field="crdrrefno" header="Invoice No" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
          <!-- <p-column field="createddt" header="Transaction Date" [sortable]="true"></p-column> -->
          <p-column styleClass="col-button" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template pTemplate="header">
              Transaction Date
            </ng-template>
            <ng-template let-allcredit="rowData" pTemplate="body">
              {{allcredit.crdrdate | date:dataFormat}}
            </ng-template>
          </p-column>
          <!-- <p-column field="totalamount" header="Inv Total (₹)" [sortable]="true"></p-column> -->
          <p-column styleClass="col-button" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template pTemplate="header">
              Invoice Total
            </ng-template>
            <ng-template let-allcredit="rowData" pTemplate="body">
              {{allcredit.totalamount |currency : currency_Symbol :true}}
            </ng-template>
          </p-column>
          <!-- <p-column field="amount" header="Credit Amount" [sortable]="true"></p-column> -->
          <p-column styleClass="col-button" [filter]="show" filterMatchMode="contains" [sortable]="true">
            <ng-template pTemplate="header">
              Credit Amount
            </ng-template>
            <ng-template let-allcredit="rowData" pTemplate="body">
              {{allcredit.amount |currency : currency_Symbol :true}}
            </ng-template>
          </p-column>
          <p-column styleClass="col-button">
            <ng-template pTemplate="header">
              <label>Action <button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button></label>
            </ng-template>
            <ng-template let-selectedcredit="rowData" pTemplate="body"  style="text-align:right">
              <!-- <a pButton [routerLink]="['../../viewcreditnote', allcredit.crdrid ]" icon="fa-eye"></a> -->
              <button  type="button" pButton  icon="fa-eye"  (click)="addTabviewcreditnote(selectedcredit,crdview,'flag')" ></button>
              <button  type="button" pButton  icon="fa-pencil"  (click)="EditClickcredit(selectedcredit,crdview)" ></button>
             
            </ng-template>
          </p-column>
          
        </p-dataTable>
        
      </p-tabPanel>
      <p-tabPanel [selected]="activeTab_addCredit" header="Add Credit Note" leftIcon="fa-plus" *ngIf="addproduct" [closable]="true" #fileInput>
        <app-credit-note (notifyNewCreditNote)="notifyNewCreditNote($event)"></app-credit-note>
      </p-tabPanel>
      <p-tabPanel [selected]="activeTab_editcredit" header="Edit Credit Note"  *ngIf="showEdit" leftIcon="fa-pencil" [closable]="true" #fileInput>
        <app-credit-note (notifyNewCreditNote)="notifyNewCreditNote($event)" [creditls]="creditls"></app-credit-note>
       </p-tabPanel>
       <p-tabPanel  [selected]="activeTab_viewcredit" header="{{credit.transno}}" *ngFor="let credit of selectedcredit" [closable]="true" leftIcon="fa-eye"  #fileInput>
          <div class="my_dynamica_lead_tabPanel" >
            <app-view-cnote crdrid={{credit.crdrid}}></app-view-cnote>
          </div>
      </p-tabPanel>
    </p-tabView>
  
  </div>
</div>