<p-growl  sticky="sticky">
</p-growl>

<div class="card card-w-title p-l-0 p-t-0 p-r-0 p-b-0 clearfix">
    <div class="ui-g-12 ui-md-12 credit-add receipt p-r-1 p-l-0 p-b-0 m-b-15">
        <div class="ui-g-12 ui-lg-4 ui-md-4 p-t-0 p-b-0">
            <div class="ui-g-12 p-l-0 p-r-0 form-group-default form-group-default-2">
                <div class="ui-g-12 p-t-0 p-b-0 p-r-0 required required">
                    <label for="input">To</label>
                </div>
                <div class="ui-g-12 ui-lg-12  bank-add ul-md-12 p-r-0" *ngIf="!creditls">
                    <p-autoComplete (onSelect)="getselectedCustomer($event)" field="firstname" [(ngModel)]="selectedcontact" [suggestions]="filteredContacts"
                        (completeMethod)="searchContacts($event)" [size]="30" [minLength]="0" placeholder="Select Customer" [dropdown]="true"
                        (onDropdownClick)="handleDropdownClick($event,'contactlist')">
                        <ng-template let-contactlist pTemplate="item">
                            <div class="ui-helper-clearfix select-box">
                                <div class="elipsis_div">{{ contactlist.firstname + " " + contactlist.lastname}}</div>
                            </div>
                        </ng-template>
                    </p-autoComplete>
                </div>
            </div>
            <div class="ui-g-12 ui-lg-12 ui-md-12 p-t-0 p-r-0" *ngIf="creditls">
                <input id="input" [(ngModel)]="selectedcontact" [disabled]="true" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
            </div>
        </div>
        <div class="ui-g-12 ui-lg-4 ui-md-4 form-group-default form-group-default-2">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 required required-2">
                <label for="input">Invoice No</label>
            </div>
            <div class="ui-g-12 ui-lg-12  bank-add ul-md-12 p-r-0" *ngIf="!creditls">
                <p-autoComplete (onSelect)="getselectedinvoice($event)" field="invoiceno" [disabled]="!selectedcontact" [(ngModel)]="selectedinvoice"
                    [suggestions]="filterinvoicelist" (completeMethod)="Searchinvoice($event)" [size]="30" [minLength]="0" placeholder="Select Invoice"
                    [dropdown]="true" (onDropdownClick)="handleDropdownClick($event,'invoicelist')">
                    <ng-template let-invoicelist pTemplate="item">
                        <div class="ui-helper-clearfix select-box">
                            <div class="elipsis_div">{{invoicelist.invoiceno}}</div>
                        </div>
                    </ng-template>
                </p-autoComplete>
            </div>

            <div class="ui-g-12 ui-lg-12 ui-md-12 p-r-0" *ngIf="creditls">
                <input id="input" [(ngModel)]="selectedinvoice" type="text" [disabled]="true" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
            </div>
        </div>
        <div class="ui-g-12 ui-lg-4 ui-md-4 form-group-default form-group-default-2">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 required required-2">
                <label for="input">Date</label>
            </div>
            <div class="ui-g-12 ui-lg-12  ul-md-12 p-r-0 receipt-date receipt-date-2">
                <p-calendar [(ngModel)]="date" dateFormat="dd-mm-yy"  readonlyInput="readonlyInput" [showIcon]="true"></p-calendar>
                <!-- <span style="margin-left:35px">{{date|date}}</span> -->
            </div>
        </div>

        <div class="row width100 clearfix">
            <div class="ui-g-12 ui-lg-4 ui-md-4 form-group-default form-group-default-2">
                <div class="ui-g-12 p-t-0 p-b-0 p-r-0 required required-2">
                    <label for="input">Amount</label>
                </div>
                <div class="ui-g-12 ui-lg-12 p-r-0">
                    <input id="input" [(ngModel)]="amount" (keypress)="numberOnly($event)" [disabled]="!selectedinvoice" (keyup)="onChangeAmount()"
                        type="text" maxlength="{{amtlength}}" placeholder="Enter Amount" class="ui-inputtext ui-corner-all ui-state-default ui-widget text-right">
                </div>
            </div>
            <div class="ui-g-12 ui-lg-4 ui-md-4">
                <div class="ui-g-12 p-t-0 p-b-0 p-r-0">
                    <label for="input">Reference</label>
                </div>
                <div class="ui-g-12 ui-lg-12 p-r-0">
                    <input id="input" [(ngModel)]="Refernce" pinputtext="" type="text" class="ui-inputtext ui-corner-all ui-state-default ui-widget">
                </div>
            </div>
        </div>
    </div>

    <!-- <h1>Invoice Details</h1> -->
    <div class="card-w-title invoice-to-table-2 p-l-0 p-r-0 p-b-0 m-b-10 clearfix">

        <h1 class="first m-b-0">Invoice Details</h1>

        <p-dataTable [value]="selectedinvoicedetils">
            <p-column styleClass="col-button">
                <ng-template pTemplate="header">
                    Due Date
                </ng-template>
                <ng-template let-selectedinvoicedetil="rowData" pTemplate="body">
                    {{selectedinvoicedetil.duedate| date :dispDateFormat}}
                </ng-template>
            </p-column>
            <p-column styleClass="col-button">
                <ng-template pTemplate="header">
                    Invoice Total
                </ng-template>
                <ng-template let-selectedinvoicedetil="rowData" pTemplate="body">
                    {{selectedinvoicedetil.invoicetotal |currency : currency_Symbol :true}}
                </ng-template>
            </p-column>
            <p-column styleClass="col-button">
                <ng-template pTemplate="header">
                    Paid
                </ng-template>
                <ng-template let-selectedinvoicedetil="rowData" pTemplate="body">
                    {{selectedinvoicedetil.pymntamount |currency : currency_Symbol :true}}
                </ng-template>
            </p-column>
            <p-column styleClass="col-button">
                <ng-template pTemplate="header">
                    Credit Amount
                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">
                    {{amount}}
                </ng-template>
            </p-column>
            <p-column styleClass="col-button">
                <ng-template pTemplate="header">
                    Balance Amount
                </ng-template>
                <ng-template let-car="rowData" pTemplate="body">
                    {{balanceAmount() |currency : currency_Symbol :true}}
                </ng-template>
            </p-column>
        </p-dataTable>
    </div>
    <div class="card-w-title clearfix">
        <div class="receipt pull-right totalvalue ui-g-12 ui-lg-4 ui-md-4">
            <div class="ui-g-12 ui-md-6 text-right">
                <span class="tax-value bold">Total</span>
                <span class="value-table total-value-amount bill-receipt-total">-</span>
            </div>
            <div class="ui-g-10 ui-md-6 text-right p-r-0 p-l-0 text-right">
                {{amount}}
            </div>
        </div>
        <div class="row ui-md-12 p-r-0 clearfix save-button">
            <div class="ui-g-12 ui-lg-4 ui-md-4 pull-right text-right p-l-0 p-r-0">
                <button type="submit" pButton label="{{buttonText}}" icon="fa-check" [disabled]="submitted" class="blue-btn" (click)=createCDN()></button>
            </div>
        </div>
        <div class="ui-g-12">
            <div class="ui-g-10">
            </div>
        </div>
    </div>
    <div class="ui-g-10 ui-md-2">
    </div>
</div>