<p-growl [value]="msgs" sticky="sticky">
</p-growl>
<div class="ui-g ui-fluid panel">
  <div class="ui-g-12 p-l-0 p-r-0 p-t-0 p-b-0 m-b-10">
    <div class="journal-heading">
      <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
      <h1>Invoice</h1>
      <div class="ui-toolbar-group-right multibutton">
        <!--<p-menu #menu popup="popup" [model]="menuItems" [style]="{'width':'250px'}"></p-menu>
          <button type="button" pButton icon="fa fa-list" label="Invoice" (click)="menu.toggle($event)"></button>-->
        <p-splitButton icon="fa fa-check" [model]="menuItems" label="Save"></p-splitButton>
      </div>
    </div>
  </div>
  <div class="ui-g-12 ui-lg-12 ul-md-12 p-l-0 p-r-0 p-t-0">
    <div class="clearfix"></div>
    <!-- Left Side -->
    <div class="receipt">
      <div class="ui-g-12 ui-lg-4 ul-md-4 p-r-0">
        <div class="ui-g-12 ui-lg-12 ul-md-12 invoice-to p-l-0 p-r-0">
          <div class="ui-g form-group form-group-default form-group-default-2">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 req required-4">
              <label for="acAdvanced">Customer</label>
            </div>
            <div class="ui-g-12 ui-lg-12 ul-md-12 p-r-0">
              <!-- <p-autoComplete (onSelect)="getselectedCustomer(contact,dataTable)" [(ngModel)]="contact" [suggestions]="filteredContacts"
                  (completeMethod)="filterContacts($event)" [size]="30" [minLength]="1" placeholder="Select Customer" [dropdown]="true"
                  (onDropdownClick)="handleDropdownClick($event)">
                  <ng-template let-contactlist pTemplate="item">
                    <div class="ui-helper-clearfix">
                      <div>{{ contactlist.firstname + " " + contactlist.lastname}}</div>
                    </div>
                  </ng-template>
                </p-autoComplete> -->
              <p-dropdown [filter]="true" [(ngModel)]="selectedContactDetails" filter="filter" (onChange)="getselectedCustomer($event.value)"
                [options]="contactlistDropdown" [autoWidth]="false" [style]="{'width':'100%'}" required="true" appendTo="body">
                <ng-template let-item pTemplate="item">
                  <div class="ui-helper-clearfix select-box">
                    <div class="elipsis_div">{{item.label}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>

            <div class="ui-g-12 ui-lg-12 ul-md-12 address-icon p-l-0 p-t-0 p-r-0">
              <div class="ui-g form-group">
                <div class="ui-g-12 p-b-0 m-t-3 p-r-0">
                  <label for="acAdvanced">Address</label>
                  <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
                </div>
                <div class="ui-g-12 address-input p-r-0">
                  <textarea class="ui-g-12 m-l-0" [(ngModel)]="editableBillingaddress" [rows]="3" [cols]="30" pInputTextarea placeholder=""
                    autoResize="autoResize"></textarea>
                </div>
              </div>
            </div>
            <!-- <div class="ui-g-12 ui-lg-4 ul-md-4 address-icon p-l-0 p-r-0 p-t-0 address-icon-2">
                  <div class="ui-g form-group">
                   
                    <div class="ui-g-8 address-input">
                      <textarea class="ui-g-12 m-l-0" [(ngModel)]="editableBillingaddress" [rows]="3" [cols]="30" pInputTextarea placeholder=""
                      autoResize="autoResize"></textarea>
                    </div>
                  </div>
                </div> -->
          </div>
        </div>
      </div>
      <div class="ui-g-12 ui-lg-8 ul-md-8">
        <div class="ui-g-12 ui-lg-4 ul-md-4 p-b-0">
          <div class="ui-g form-group">
            <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0">
              <label for="acAdvanced">Invoice To</label>
            </div>
            <div class="ui-g-12 p-l-0 p-r-0">
              <!-- <input type="text" [(ngModel)]="invoiceNumber" pInputText /> -->
              <input class="ui-g-12 m-l-0 pull-left" type="text" [(ngModel)]="contactname" pInputText />
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-4 ul-md-4 p-b-0">
          <div class="ui-g form-group">
            <div class="ui-g-12 p-t-0 p-l-0 p-r-0 p-b-0">
              <label for="acAdvanced">Reference No</label>
            </div>
            <div class="ui-g-12 p-l-0 p-r-0">
              <input ib-number-only min="1" max="100" decimals="2" type="text" [(ngModel)]="referecefnumber" pInputText />
            </div>
          </div>
        </div>

        <div class="ui-g-12 ui-lg-4 ul-md-4 p-t-0 p-b-0">
          <div class="ui-g form-group">
            <div class="ui-g-12 p-l-0 p-r-0 p-b-0">
              <label for="acAdvanced">Invoice Date</label>
            </div>
            <div class="ui-g-12 p-l-0 p-r-0">
              <p-calendar [(ngModel)]="invoiceDate" [showIcon]="true" showOnFocus="true" dateFormat="dd-mm-yy" readonlyInput="readonlyInput"></p-calendar>

            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-4 ul-md-4 p-t-0 p-b-0">
          <div class="ui-g form-group">
            <div class="ui-g-12 p-l-0 p-r-0 p-b-0">
              <label for="acAdvanced">Due Date</label>
            </div>
            <div class="ui-g-12 p-l-0 p-r-0">
              <p-calendar [(ngModel)]="DueDate" [showIcon]="true" showOnFocus="true" dateFormat="dd-mm-yy" readonlyInput="readonlyInput"></p-calendar>
            </div>
          </div>
        </div>

        <div class="ui-g-12 ui-lg-4 ul-md-4 p-t-0 p-b-0 p-l-0 p-r-0">
          <div class="ui-g form-group">
            <div class="ui-g-12 p-b-0">
              <label for="acAdvanced">Invoice Type</label>
            </div>
            <div class="ui-g-12">
              <div class="ui-g-12 ui-g-12 p-l-0 p-r-0 p-t-0 invoice-type">
                <p-dropdown [autoWidth]="false" class="pdropdown" (onChange)="onSelectInvoicetype($event);" [options]="Invoicetype" [(ngModel)]="selectedInvoiceType">
                  <ng-template let-item pTemplate="item">
                    <div class="ui-helper-clearfix select-box">
                      <div class="elipsis_div">{{item.label}}</div>
                    </div>
                  </ng-template>
                </p-dropdown>
              </div>
              <!-- <input type="text" pInputText /> -->
            </div>
          </div>
        </div>
        <div class="ui-g-12 ui-lg-4 ul-md-4 p-t-0 p-l-0">
          <div class="ui-g form-group">
            <div class="ui-g-12">
              <label for="acAdvanced">Reverse Charge</label>
            </div>
            <div class="ui-g-12 p-r-0 invoice-type">
              <!-- <input type="text" pInputText /> -->

              <p-radioButton name="groupname" value="Y" label="Yes" [(ngModel)]="selectedreversecharge"></p-radioButton>
              <p-radioButton name="groupname" value="N" label="No" [(ngModel)]="selectedreversecharge"></p-radioButton>
              <!-- <p-dropdown [autoWidth]="false" class="pdropdown" [options]="reversecharge" [(ngModel)]="selectedreversecharge"></p-dropdown> -->
            </div>
          </div>
        </div>
        <!-- Left Side -->
        <div class="clearfix"></div>
        <div class="ui-g-12 ui-lg-4 ul-md-4 address-icon p-l-0 p-r-0 p-t-0 address-icon-2">
          <div class="ui-g form-group form-group-default form-group-default-2">
            <div class="ui-g-12 supply-text p-b-0 req required-4">
              <label for="acAdvanced">Place of supply</label>
              <!-- <i class="fa fa-map-marker" aria-hidden="true"></i> -->
            </div>
            <div class="ui-g-12 p-r-0 invoice-type">
              <p-dropdown [(ngModel)]="selectedplaceofsupply" [filter]="true" (onChange)="selectedpos($event)" [autoWidth]="false" class="pdropdown"
                [options]="placeofsupplies">
                <ng-template let-item pTemplate="item">
                  <div class="ui-helper-clearfix select-box">
                    <div class="elipsis_div">{{item.label}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
  <!-- product add selection started -->
  <div *ngIf="invoiceid" class="ui-g-12 ui-lg-12 ul-md-12 invoice-to-table card">
    <!-- <p-dataTable #productTable expandableRows="true" [value]="selectedproductsList" [editable]="true" [(selection)]="selectedProductItems" (onEdit)="onEdit($event)"
        (onEditComplete)="onEditProduct($event)"> -->
    <p-dataTable #productTable expandableRows="true" [value]="selectedproductsList" [editable]="true" [(selection)]="selectedProductItems"
      (onEdit)="onEdit($event)" (onEditComplete)="onEditProduct($event)">
      <p-column [style]="{'width':'30px'}" expander="true" styleClass="col-icon">

      </p-column>

      <p-column field="prodname" header="Particulars" [editable]="true">

        <ng-template let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="editor">
          <!-- <span>{{selectedproduct.prodname}}</span> -->
          <p-dropdown [filter]="true" (onChange)="onProductSelect($event,selectedproduct,ridx,productTable);productTable.closeCell();"
            [options]="productList" [autoWidth]="false" [style]="{'width':'100%'}" required="true" appendTo="body">
          </p-dropdown>
        </ng-template>
      </p-column>
      <p-column field="quantity" header="Quantity" [editable]="true" styleClass="text-right">
        <ng-template let-col let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="editor">
          <input (keypress)="numberOnly($event)" type="text" (keyup)="producteditingObserve($event,selectedproduct,ridx)" [(ngModel)]="selectedproduct[col.field]"
            pInputText />
        </ng-template>
      </p-column>
      <p-column field="mrp" header="Unit Cost" [editable]="true" styleClass="text-right">
        <ng-template let-col let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="body">
          <span>{{selectedproduct[col.field] | currency : currency_sy : true | slice : 1 }}</span>
        </ng-template>

      </p-column>
      <p-column field="discntprcnt" header="Discount (₹ or %)" [editable]="true" styleClass="text-right">
        <ng-template let-col let-selectedproduct="rowData" pTemplate="body">
          <span>{{selectedproduct[col.field]}}</span>
        </ng-template>
        <ng-template let-col let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="editor">
          <input type="text" (keypress)="numberOnly($event)" (keyup)="discountKeyup($event,selectedproduct,ridx)" [(ngModel)]="selectedproduct[col.field]"
            pInputText />
        </ng-template>
      </p-column>
      <p-column field="discntvalue" header="Discount ₹ " styleClass="text-right">
        <ng-template let-col let-selectedproduct="rowData">
          {{selectedproduct[col.field] | currency : currency_sy : true | slice : 1 }}
        </ng-template>
      </p-column>
      <p-column field="taxname" header="Tax">
        <ng-template let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="body">
          <!-- <span class="tax-amount"> {{ selectedproduct.taxvalue != 0 ? selectedproduct.taxvalue : '' }}</span> -->
          <span>{{selectedproduct.taxname}}</span>

        </ng-template>
      </p-column>
      <!-- <p-column field="taxname" header="Tax" [editable]="true">
          <ng-template let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="body">
            <span class="tax-amount"> {{selectedproduct.taxvalue != 0 ? selectedproduct.taxvalue : '' }}</span>
            <span>{{selectedproduct.taxname}}</span>
  
          </ng-template>
          <ng-template let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="editor">
            <p-dropdown [filter]="true" (onChange)="setSelectedTax($event,selectedproduct,ridx)" [options]="gsttaxlist" [autoWidth]="false"
              [style]="{'width':'100%'}" required="true" appendTo="body">
            </p-dropdown>
          </ng-template>
        </p-column> -->
      <p-column field="btotal" header="Total" styleClass="text-right">
        <ng-template let-col let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="body">
          {{ ( selectedproduct.quantity * selectedproduct.mrp ) | currency : currency_sy : true | slice : 1 }}

        </ng-template>
      </p-column>
      <p-column styleClass="col-button" [style]="{'width':'75px'}">
        <ng-template pTemplate="header">

        </ng-template>
        <ng-template let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="body">
          <button type="button" pButton (click)="removeproduct(selectedproduct)" icon="fa-trash-o"></button>
        </ng-template>
      </p-column>
      <!-- expanded rows start-->
      <ng-template let-selectedproduct pTemplate="rowexpansion">
        <div class="ui-grid ui-grid-responsive ui-fluid show-table">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2" style="text-align:center">
              <img src="assets/layout/images/nopro.png" class="m-t-15" />
            </div>
            <div class="ui-grid-col-5">
              <div class="ui-grid ui-grid-responsive ui-grid-pad">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-5 names label">Product Name: </div>
                  <div class="ui-grid-col-10">{{selectedproduct.prodname}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-5 names label">UOM: </div>
                  <div class="ui-grid-col-10">{{selectedproduct.uomdesc}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-5 names label">MRP: </div>
                  <div class="ui-grid-col-10">{{selectedproduct.mrp}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-5 names label">Tax: </div>
                  <div class="ui-grid-col-10">{{selectedproduct.selltaxname}}</div>
                </div>
              </div>
            </div>

            <div class="ui-grid-col-5 invoice-prints m-t-5">
              <span class="ui-grid-col-12">
                HSN Description :
              </span>
              <span class="ui-grid-col-12">
                {{selectedproduct.hsndesc || 'Select product'}}
              </span>
            </div>

          </div>
        </div>
      </ng-template>
      <!-- expanded row end -->
    </p-dataTable>
    <button type="button" class="pull-right m-5 plus-icon" pButton (click)="addnewproduct()" icon="fa-plus"></button>
  </div>
  <!-- product edit and selection start  -->
  <!-- product selection started -->
  <div *ngIf="!invoiceid" class="ui-g-12 ui-lg-12 ul-md-12 invoice-to-table">
    <!-- <p-dataTable #productTable expandableRows="true" [value]="selectedproductsList" [editable]="true" [(selection)]="selectedProductItems" (onEdit)="onEdit($event)"
          (onEditComplete)="onEditProduct($event)"> -->
    <p-dataTable #productTable expandableRows="true" [value]="selectedproductsList" [editable]="true" [(selection)]="selectedProductItems"
      (onEdit)="onEdit($event)" (onEditComplete)="onEditProduct($event)">

      <p-column [style]="{'width':'4%'}" expander="true" styleClass="col-icon">

      </p-column>

      <p-column field="prodname" header="Particulars" [editable]="true" [style]="{'width':'24%'}">

        <ng-template let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="editor">
          <!-- <span>{{selectedproduct.prodname}}</span> -->
          <p-dropdown [filter]="true" (onChange)="onProductSelect($event,selectedproduct,ridx,productTable);productTable.closeCell();"
            [options]="productList" [autoWidth]="false" [style]="{'width':'100%'}" required="true" appendTo="body">
          </p-dropdown>
          <span>{{selectedproduct.UOM}}</span>
        </ng-template>
      </p-column>
      <p-column field="quantity" header="Quantity" [editable]="true" [style]="{'width':'7%'}">
        <ng-template let-col let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="editor">
          <input class="quantity-text" (keypress)="numberOnly($event)" type="text" (keyup)="producteditingObserve($event,selectedproduct,ridx)"
            [(ngModel)]="selectedproduct[col.field]" pInputText />
        </ng-template>
      </p-column>
      <p-column field="mrp" header="Unit Cost" [editable]="true" [style]="{'width':'10%'}">
        <ng-template let-col let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="body">
          <span>{{selectedproduct[col.field] | currency : currency_sy : true | slice : 1 }}</span>
        </ng-template>
      </p-column>
      <p-column field="discntprcnt" header="Discount (₹ or %)" [editable]="true" [style]="{'width':'13%'}">
        <ng-template let-col let-selectedproduct="rowData" pTemplate="body">
          <span class="quantity-text">{{selectedproduct[col.field]}}</span>
        </ng-template>
        <ng-template let-col let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="editor">
          <input (keypress)="numberOnly($event)" type="text" (keyup)="discountKeyup($event,selectedproduct,ridx)" [(ngModel)]="selectedproduct[col.field]"
            pInputText />
        </ng-template>
      </p-column>
      <p-column field="discntvalue" header="Discount ₹ " [style]="{'width':'10%'}">
        <ng-template let-col let-selectedproduct="rowData">
          <span class="quantity-text" (keypress)="numberOnly($event)">{{selectedproduct[col.field]}}</span>
        </ng-template>
      </p-column>
      <p-column field="taxname" header="Tax" [style]="{'width':'15%'}">
        <ng-template let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="body">
          <!-- <span class="tax-amount"> {{ selectedproduct.taxvalue != 0 ? selectedproduct.taxvalue : '' }}</span> -->
          <span>{{selectedproduct.taxname}}</span>

        </ng-template>
        <!-- <ng-template let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="editor">
            
            <p-dropdown [filter]="true" (onChange)="setSelectedTax($event,selectedproduct,ridx)" [options]="gsttaxlist" [autoWidth]="false"
              [style]="{'width':'100%'}" required="true" appendTo="body">
            </p-dropdown>
          </ng-template> -->
      </p-column>

      <p-column field="btotal" header="Total" [style]="{'width':'10%'}">
        <ng-template let-col let-selectedproduct="rowData" let-ridx="rowIndex">
          <span class="total">{{btotal}}</span>

        </ng-template>
      </p-column>
      <p-column styleClass="col-button" [style]="{'width':'8%'}">
        <ng-template pTemplate="header">

        </ng-template>
        <ng-template let-selectedproduct="rowData" let-ridx="rowIndex" pTemplate="body">
          <button type="button" *ngIf="ridx!=0" pButton (click)="removeproduct(selectedproduct)" icon="fa-trash-o"></button>
        </ng-template>
      </p-column>
      <!-- expanded rows start-->
      <ng-template let-selectedproduct pTemplate="rowexpansion">
        <div class="ui-grid ui-grid-responsive ui-fluid show-table">
          <div class="ui-grid-row">
            <div class="ui-grid-col-2" style="text-align:center">
              <img src="assets/layout/images/nopro.png" class="m-t-15" />
            </div>
            <div class="ui-grid-col-5">
              <div class="ui-grid ui-grid-responsive ui-grid-pad">
                <div class="ui-grid-row">
                  <div class="ui-grid-col-4 m-t-5 names label">Product Name: </div>
                  <div class="ui-grid-col-10 m-t-5">{{selectedproduct.prodname}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-4 names label">UOM: </div>
                  <div class="ui-grid-col-10">{{selectedproduct.uomdesc}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-4 names label">MRP: </div>
                  <div class="ui-grid-col-10">{{selectedproduct.mrp | currency : currency_sy : true}}</div>
                </div>
                <div class="ui-grid-row">
                  <div class="ui-grid-col-4 tax-name label">Tax: </div>
                  <div class="ui-grid-col-10">{{selectedproduct.taxname}}</div>
                </div>
              </div>
            </div>
            <div class="ui-grid-col-5 invoice-prints m-t-5">
              <span class="ui-grid-col-12">
                HSN Description :
              </span>
              <span class="ui-grid-col-12">
                {{selectedproduct.hsndesc || 'Select product'}}
              </span>
            </div>
          </div>
        </div>
      </ng-template>
      <!-- expanded row end -->
    </p-dataTable>
    <button type="button" class="pull-right m-5 plus-icon" pButton (click)="addnewproduct()" icon="fa-plus"></button>
  </div>
  <div class="ui-g-12 ui-lg-7 ui-md-7 invoice-to-table invoice-tax">

    <p-panel header="Tax Values" [toggleable]="true" [collapsed]="true">
      <p-dataTable [value]="GST_TaxTotal" scrollable="true" scrollHeight="200px">
        <p-column field="taxname" header="Tax" [style]="{'width':'20%'}">
          <ng-template let-col let-tax="rowData" let-ridx="rowIndex">
            <span>{{tax.taxname }}</span>
          </ng-template>
        </p-column>
        <p-column field="amt" header="Amount" [style]="{'width':'20%'}">
          <ng-template let-col let-tax="rowData" let-ridx="rowIndex">
            <span>{{tax.amt | currency : currency_sy : true}}</span>
          </ng-template>
        </p-column>
        <p-column field="cgst" header="CGST" [style]="{'width':'20%'}">
          <ng-template let-col let-tax="rowData" let-ridx="rowIndex">
            <span>{{tax.cgst | currency : currency_sy : true}}</span>
          </ng-template>
        </p-column>
        <p-column field="sgst" header="SGST" [style]="{'width':'20%'}">
          <ng-template let-col let-tax="rowData" let-ridx="rowIndex">
            <span>{{tax.sgst | currency : currency_sy : true}}</span>
          </ng-template>
        </p-column>
        <p-column field="igst" header="IGST" [style]="{'width':'20%'}">
          <ng-template let-col let-tax="rowData" let-ridx="rowIndex">
            <span>{{tax.igst | currency : currency_sy : true}}</span>
          </ng-template>
        </p-column>
      </p-dataTable>
    </p-panel>
  </div>
  <div class="ui-g-12 ui-lg-5 ui-md-5">
    <div class="ui-g-12 ui-lg-12 ui-md-12" id="totaldetail" class="sub-total-row">
      <div class="ui-g-12 ui-lg-12 ui-md-12 p-t-0 p-b-0 ui-toolbar-group-right discount-value discount-value-3 clearfix">
        <span class="tax-val-ue ui-g-12 ui-lg-4 ui-md-4 p-r-0 p-l-0 text-right m-l-10">Sub Value </span>
        <span class="tax-value ui-g-12 ui-lg-6 ui-md-6 p-r-0 p-l-0 text-right">{{ProductTotal | currency : currency_sy : true}}</span>
      </div>
      <div class="ui-g-12 ui-lg-12 ui-md-12 p-t-0 p-b-0 ui-toolbar-group-right discount-value discount-value-3 clearfix">
        <span class="tax-val-ue ui-g-12 ui-lg-4 ui-md-4 p-r-0 p-l-0 text-right m-l-10">Discount Value</span>
        <span class="tax-value-1 ui-g-12 ui-lg-6 ui-md-6 p-r-0 p-l-0 text-right">{{ discounttotal | currency : currency_sy : true }}</span>
      </div>
      <div class="ui-g-12 ui-lg-12 ui-md-12 p-t-0 p-b-0 ui-toolbar-group-right discount-value discount-value-3 clearfix">
        <span class="tax-val-ue ui-g-12 ui-lg-4 ui-md-4 p-r-0 p-l-0 text-right m-l-10">Tax Value </span>
        <span class="tax-value-2 ui-g-12 ui-lg-6 ui-md-6 p-r-0 p-l-0 text-right">{{ invoiceAllTaxTotal | currency : currency_sy : true }}</span>
      </div>
      <div class="ui-g-12 ui-lg-12 ul-md-12 ui-toolbar-group-right discount-value discount-value-3 no-padding clearfix">
        <div class="ui-g-12 ui-lg-4 ui-md-4 p-r-0 p-l-0 text-right pull-left m-t-0 m-l-15">Other Expenses </div>
        <div class="ui-g-12 ui-lg-5 ui-md-5 other-input pull-left text-right bold no-padding m-t-5 m-b-5">
          <input ib-number-only min="1" max="100" decimals="2" class="no-padding p-t-2" type="text" (keyup)="CalcInvoicegrandTotal()"
            pInputText [(ngModel)]="morecharges" />
        </div>
      </div>
    </div>
    <div class="currency-table ui-g-12 ui-lg-12 ui-md-12 p-t-0 p-b-0 p-l-0 p-r-0">
      <div class="ui-g-12 ui-lg-12 ui-md-12 text-left ui-toolbar-group-right total-column-value bold clearfix">
        <div class="ng-binding">
          <div class="net ui-g-12 ui-lg-4 ui-md-4 p-r-0 p-l-0 text-right m-l-10">Net Pay</div>
          <div class="net net-pay ui-g-12 ui-lg-5 ui-md-5 p-r-0 p-l-0 text-right">{{ invoiceGrandTotal | currency : currency_sy : true }}</div>
        </div>
      </div>
    </div>
  </div>
</div>