.clearfix {
  clear: both;
}

.white-bg {
  background: #fff;
}

.pdropdown .ui-dropdown {
  width: 100% !important;
}

.tax-amount {
  font-weight: bold;
  overflow: hidden;
  color: #4873b8;
  max-width: 65px;
  white-space: nowrap;
}

.address-info {
  float: left;
  /*width:100%;*/
}


.total-column-value {
  background: #f5f5f5;
  font-size: 24px;
  padding: 5px;
}

.total-column-label {
  font-size: 18px;
  padding: 10px 20px;
}

.form-layout .table tbody tr td {
  padding: 0px 8px;
}

.form-layout .table .form-control {
  font-size: 12px;
  color: #464646;
}

.total-value-2 {
  background: #f5f5f5;
  margin: 10px 0px;
  width: 100%;
  padding: 5px 0px;
  text-align: right;
}
.pull-right
{
float: right;
}
.invoice-prints {
  min-height: 20px;
  padding: 10px 25px;
  margin-bottom: 5px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
}