<div class="ui-g-12 panel p-l-0 p-r-0">
  <div class="journal-heading roles">
    <img _ngcontent-c5="" class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
    <h1 class="">Brands</h1>
    <div class="ui-toolbar-group-right ui-corner-all  brand-overlay">
      <button [routerLink]="['/getstarted']" icon="fa-check" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
        <span class="ui-button-icon-left ui-clickable fa fa-fw fa-chevron-left"></span>
        <span class="ui-button-text ui-clickable">ui-btn</span>
      </button>
      <button pButton type="button" label="Add" icon="fa-plus" (click)="addbrand($event,op1)"></button>
    </div>
  </div>
  <div class="ui-g">
    <div class="ui-g-12 roles-table">
      <div class="molal-overlay">
        <div class="changepass-overlay">
          <p-dialog #op1 header="" [(visible)]="display" modal="modal" width="350" [responsive]="true">
            <app-addbrand [branddtls]="branddtls" class="brand-overlay" [addovrlay]="addovrlay" (loadbrandlist)="loadbrandlist()"></app-addbrand>
          </p-dialog>
        </div>
      </div>
      <!--<div class="ui-g-0">
      <p-overlayPanel #op1>
        <app-addbrand [branddtls]="branddtls" class="brand-overlay" [addovrlay]="addovrlay" (loadbrandlist)="loadbrandlist($event)"></app-addbrand>
      </p-overlayPanel>
    </div>-->
      <div class="invoice-list-tab roles-table">
        <p-tabView [controlClose]="true">
          <p-tabPanel header="Brand" leftIcon="fa-book">
            <p-dataTable [value]="brandlist" [rows]="10" [paginator]="true">
              <p-column field=brandname header="Brand Name" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
              <p-column field=tenantname header="Company Name" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
              <p-column field=status header="Status" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
              <p-column field=createdby header="Created By" [filter]="show" [sortable]="true" filterMatchMode="contains" styleClass="text-right">
                <ng-template let-updatedby="rowData" pTemplate="body" style="text-align:right !important">
                  <span>{{ updatedby.createdby }}</span>
                  <br>
                  <span>{{ updatedby.createddt | date: display_dtime }}</span>
                </ng-template>
              </p-column>
              <p-column field=lastupdatedby header="Updated By" [filter]="show" [sortable]="true" filterMatchMode="contains" styleClass="text-right">
                <ng-template let-updatedby="rowData" pTemplate="body" style="text-align:right !important">
                  <span>{{ updatedby.lastupdatedby }}</span>
                  <br>
                  <span>{{ updatedby.lastupdateddt | date: display_dtime }}</span>
                </ng-template>
              </p-column>
              <p-column styleClass="text-right">
                <ng-template pTemplate="header">
                    <button pButton class="" icon="fa-search" (click)="showhidefilter()"></button>
                </ng-template>
                <ng-template pTemplate="body" let-selectedbrand="rowData">
                  <a pButton (click)="update($event,selectedbrand,op2)" icon="fa-pencil"></a>
                </ng-template>
              </p-column>
            </p-dataTable>
          </p-tabPanel>
        </p-tabView>

        <!--<div class="ui-g-6">
            <p-overlayPanel #op2>
                <app-addbrand [branddtls]="branddtls" [editovrlay]="editovrlay" (loadbrandlist)="loadbrandlist($event)"></app-addbrand> 
            </p-overlayPanel>
        </div>-->
        <div class="molal-overlay">
          <div class="changepass-overlay">
            <p-dialog #op2 header="" [(visible)]="display" modal="modal" width="350" [responsive]="true">
              <app-addbrand [branddtls]="branddtls" [editovrlay]="editovrlay" (loadbrandlist)="loadbrandlist()"></app-addbrand>
            </p-dialog>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>