<p-growl sticky="sticky">
</p-growl>
<div class="ui-g ui-fluid panel">
    <div class="ui-g-12 p-l-0 p-r-0 p-t-0 p-b-0 m-b-10">
        <div class="journal-heading">
            <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
            <h1>Balance Sheet</h1>
            <div class="ui-toolbar-group-right">
                <button [routerLink]="['/reports/list']" icon="fa-window-close " pbutton="" type="button" class="ui-button ui-widget ui-state-default center-icon ui-corner-all ui-button-icon-only">
                    <span class="ui-button-icon-left center-icon ui-clickable fa fa-times"></span>
                    <span class="ui-button-text ui-clickable">ui-btn</span>
                </button>
            </div>
        </div>
    </div>
    <div class="ui-g-12 ui-lg-12 ul-md-12 p-l-0 p-r-0 p-t-0">
        <div class="clearfix"></div>
        <!-- Left Assets  -->
        <div class="ui-g-6 ui-lg-6 ul-md-6 datatable_container">
            <p-dataTable [value]="bs_assetsList" expandableRows="true" rowGroupMode="subheader" groupField="prntaccheadname">
                <p-headerColumnGroup>
                    <p-row>
                        <p-column header="Assets" colspan="3"></p-column>
                    </p-row>
                    <p-row>
                        <p-column header="Account"></p-column>
                        <p-column header="Credit"></p-column>
                        <p-column header="Debit"></p-column>
                    </p-row>
                </p-headerColumnGroup>
                <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['prntaccheadname']}}</ng-template>
                <p-column>
                    <ng-template let-col let-astdata="rowData" pTemplate="body">
                        <span>{{astdata.data.accountname}}</span>

                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template let-col let-astdata="rowData" pTemplate="body">
                        <div class="text-right">{{astdata.data.debit | currency : currency_sy : true }}</div>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template let-col let-astdata="rowData" pTemplate="body">
                        <div class="text-right">{{astdata.data.credit | currency : currency_sy : true }}</div>
                    </ng-template>
                </p-column>
            </p-dataTable>
        </div>
        <!-- Liabilities -->
        <div class="ui-g-6 ui-lg-6 ul-md-6  datatable_container">
            <p-dataTable [value]="bs_liabsList" expandableRows="true" rowGroupMode="subheader" groupField="prntaccheadname">
                <p-headerColumnGroup>
                    <p-row>
                        <p-column header="Liabilities" colspan="3"></p-column>
                    </p-row>
                    <p-row>
                        <p-column header="Account"></p-column>
                        <p-column header="Credit"></p-column>
                        <p-column header="Debit"></p-column>
                    </p-row>
                </p-headerColumnGroup>
                <ng-template pTemplate="rowgroupheader" let-rowData>{{rowData['prntaccheadname']}}</ng-template>
                <p-column>
                    <ng-template let-col let-astdata="rowData" pTemplate="body">
                        <span>{{astdata.data.accountname}}</span>

                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template let-col let-astdata="rowData" pTemplate="body">
                        <div class="text-right">{{astdata.data.debit | currency : currency_sy : true }}</div>
                    </ng-template>
                </p-column>
                <p-column>
                    <ng-template let-col let-astdata="rowData" pTemplate="body">
                        <div class="text-right">{{astdata.data.credit | currency : currency_sy : true }}</div>
                    </ng-template>
                </p-column>
                <!-- <ng-template pTemplate="rowgroupfooter" let-accounts>
              <td  style="text-align:right">Total</td>
              <td>{{calculateGroupTotal(accounts) | currency:'INR':true:'.0-0' }}</td>
          </ng-template> -->

            </p-dataTable>
        </div>

    </div>