<div class="ui-g-12 panel  ">
  <div class="journal-heading">
    <img _ngcontent-c5="" class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
    <h1 class="">Bank Reconciliation Statement</h1>
    <!--<div class="ui-toolbar-group-right ui-corner-all">
      <button pButton type="button" label="Upload BRS" icon="fa-plus" (click)="AddDeposite()"></button>
    </div>-->
  </div>
  <div class="invoice-list-tab p-t-17">
    <p-tabView [activeIndex]="activeIndex">
      <p-tabPanel header="BRS List">
        <p-dataTable #brslisttable [value]="brslist" selectionMode="single"  [paginator]="true"
        [rows]="10" [responsive]="true">
       
        <p-column field="txnno" header="Tranx No"  [filter]="show" filterMatchMode="contains" [sortable]="true">
          <ng-template let-selectedbrs="rowData" pTemplate="body">
            <span>{{selectedbrs.txnno }}</span>
          </ng-template>
        </p-column>
        <p-column field="txndate" header="Tranx Date" [filter]="show" filterMatchMode="contains"  [sortable]="true">
          <ng-template let-selectedbrs="rowData" pTemplate="body">
            <span>{{selectedbrs.txndate | date: date_dformat }}</span>
          </ng-template>
        </p-column>
        <p-column field="description" header="Description" [filter]="show"  filterMatchMode="contains" [sortable]="true">
          <ng-template let-selectedbrs="rowData" pTemplate="body">
            <p>{{selectedbrs.description}}</p>
          </ng-template>
        </p-column>
        <p-column field="debit" styleClass="text-right"  [filter]="show" filterMatchMode="contains" [sortable]="true">
          <ng-template pTemplate="header">
            <label>Debit</label>
            <!-- <button type="button" pButton icon="fa-refresh"></button> -->
          </ng-template>
          <ng-template let-selectedbrs="rowData" pTemplate="body">
            <span>{{selectedbrs.debit | currency : currency_sy : true  }}</span>
          </ng-template>
        </p-column>
        <p-column field="credit" styleClass="text-right"  [filter]="show" filterMatchMode="contains" [sortable]="true">
          <ng-template pTemplate="header">
            <label>Credit</label>
            <!-- <button type="button" pButton icon="fa-refresh"></button> -->
          </ng-template>
          <ng-template let-selectedbrs="rowData" pTemplate="body">
            <span>{{selectedbrs.credit | currency : currency_sy : true  }}</span>
          </ng-template>
        </p-column>
        <p-column field="closeingbal" styleClass="text-right"  [filter]="show" filterMatchMode="contains" [sortable]="true">
          <ng-template pTemplate="header">
            <label>Closeing Bal.</label>
            <!-- <button type="button" pButton icon="fa-refresh"></button> -->
          </ng-template>
          <ng-template let-selectedbrs="rowData" pTemplate="body">
            <span>{{selectedbrs.closeingbal | currency : currency_sy : true  }}</span>
          </ng-template>
        </p-column>
        <p-column field="closeingbal" filterMatchMode="contains">
          <ng-template pTemplate="header">
            <label>Status <button pButton  icon="fa-search" (click)="showhidefilter()"></button></label>
          </ng-template>
          <ng-template let-selectedbrs="rowData" pTemplate="body">
            <span>{{ selectedbrs.reconstatus  }}</span>
          </ng-template>
        </p-column>
        <!-- <p-column styleClass="col-button">
          <ng-template pTemplate="header">
            <label>Action</label>
          </ng-template>
        </p-column> -->
      </p-dataTable>
      </p-tabPanel>
      <p-tabPanel header="Upload">
        <app-brsupload></app-brsupload>
      </p-tabPanel>
      <p-tabPanel header="BRS Matching">
        <app-brsmatching (brsUpdateevent)="brsUpdateEvent($event)"></app-brsmatching>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
