.pcs-template {
    font-size: 11pt;
    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 9pt;
    color: #333333;
    background: #ffffff;
}
.pcs-header-content {
    font-size: 9pt;
    color: #333333;
    background-color: #ffffff;
}
.pcs-template-body {
    padding: 0 0.250000in 0 0.250000in;
}
.pcs-template-footer {
    height: 0.700000in;
    font-size: 8pt;
    color: #aaaaaa;
    padding: 0 0.400000in 0 0.550000in;
    background-color: #ffffff;
}
.pcs-footer-content {
    word-wrap: break-word;
    color: #aaaaaa;
    border-top: 1px solid #e3e3e3;
}
.pcs-label {
    color: #817d7d;
}
.pcs-entity-title {
    font-size: 22px;
    color: #8da0aa !important;
    font-family: 'proxima_nova_rgregular' !important;
    text-transform: uppercase;
}
.pcs-orgname {
    font-size: 10pt;
    color: #333333;
}
.pcs-totals td {
    font-size: 14px;
}
.pcs-customer-name {
    font-size: 10pt;
    color: #333333;
}
.pcs-itemtable-header {
    font-size: 10pt;
    color: #ffffff;
    background: rgba(0,174,164,1) !important;
}
.pcs-taxtable-header {
    font-size: 10pt;
    color: #000;
    background-color: #f5f4f3;
}
.itemBody tr {
    page-break-inside: avoid;
    page-break-after: auto;
}
.pcs-item-row {
    font-size: 10pt;
    border-bottom: 1px solid #e3e3e3;
    background-color: #ffffff;
    color: #464646;
}
.pcs-item-sku {
    margin-top: 2px;
    font-size: 10px;
    color: #545454;
}
.pcs-item-desc {
    color: #464646;
    font-size: 10pt;
}
.pcs-balance {
    background-color: #f5f4f3;
    font-size: 9pt;
    color: #000000;
}
.pcs-totals {
    font-size: 9pt;
    color: #000000;
    background-color: #ffffff;
}
.pcs-notes {
    font-size: 9pt;
}
.pcs-terms {
    font-size: 9pt;
}
.pcs-header-first {
    background-color: #ffffff;
    font-size: 9pt;
    color: #333333;
    height: auto;
}
.pcs-status {
    font-size: 15pt;
    border: 3px solid;
    padding: 3px 8px;
}
/*@page :first {
    @top-center {
        content: element(header);
    }
    margin-top: 0.700000in;
}*/

.pcs-template-header {
    padding: 0 0.400000in 0 0.550000in;
    height: 0.700000in;
}
/* invoice table */

.date-text .form-control {
    margin-left: 1px;
    width: 100% !important;
}
.date-text-2 .form-control {
    margin-left: 0px;
    width: 97% !important
}
.invoice-table .form-control {
    width: 97% !important;
}
.invoice-table {
    margin-left: 9px;
}
.reference-number {
    margin-left: 11px;
}
.pricing-table .ui-select-bootstrap .ui-select-match-text {
    padding-right: 0
}
.pricing-table .ui-select-bootstrap .ui-select-choices-row span {
    margin-bottom: 5px;
}

#appName {
    height: auto !important;
    min-height: auto;
    padding: 10px 12px 0px 12px;
}
.date-text-2 {
    margin-left: 11px;
    padding-left: 0 !important;
}
.pricing-table .caret {
    color: #818181
}
.invoice-number .row-sm-height {
    display: block !important;
    margin: 20px 27px;
    min-height: 70px;
}
.invoice-number {
    background: #f8f8f8;
    margin: 0px 15px;
    width: 97.5%;
}
.invoice-number .form-group-default {
    border: 1px solid #d2d2d2;
    min-height: 70px;
    padding-left: 0;
    width: 93%;
}

.invoice-number .form-group-default-select .ui-select-bootstrap .ui-select-match > .ui-select-toggle {
    width: calc(100% + 20px);
    height: 21px;
    color: #818181;
    margin-top: 0px;
    margin-left: -10px;
    padding: 0px 9px;
    line-height: 40px;
    /* font-family: 'open_sansregular';*/
    font-family: 'proxima_nova_rgregular';

}

.invoice-number .form-group-default label {
    font-size: 14px;
    margin-left: 10px;
}


.invoice-number .form-group-default.focused {
    background: #fff;
    border: 1px solid #d2d2d2 !important;
}
.invoice-number .form-group-default-select .ui-select-bootstrap .ui-select-match i.caret {
    margin-top: 0px;
}
.invoice-number .form-control:focus {
    background: transparent;
    /*border-color: rgba(210, 210, 210, 1);*/
    border-color: #56baea;
}
.invoice-number .form-control {
    font-size: 14px;
    background: #fff;
}
.invoice-number .glyphicon.glyphicon-calendar {
    color: #757978;
    margin: 10px -20px;
    position: relative;
    z-index: 10;
}
.address-icon {
    background: url(../../pages/img/icons/invoice.png) no-repeat;
    height: 31px;
    width: 31px;
    margin-right: 10px;
    margin-bottom: 10px;
}
.billing-address span a .fa-pencil-square-o {
    text-decoration: none;
    color: #8f8f8f;
    margin-left: 10px;
    margin-top: 5px;
    font-size: 16px;

}
.truck-icon {
    background: url(../../pages/img/icons/delivery-truck.png) no-repeat;
    height: 31px;
    width: 40px;
    margin-right: 10px;
    margin-bottom: 10px;
}
#editableBillingaddress,
#editableShippingaddress {
    height: 60px !important; 
    margin:0 20px;
}
.table tbody tr:nth-child(2n+1) {
    background: #f9f9f9 !important;
}
.items-table .table tbody tr td {
    border-bottom: transparent;
    border-top: transparent;
}
.items-table table tbody {
    border-top: 1px solid #cdcdcd;
    border-bottom: 1px solid #cdcdcd;
}
.items-table .table thead tr th {
    border-top: 0 !important;
    text-align: center;
}
.text-right {
    text-align: right;
}
.text-left {
    text-align: left;
}
.discount-offer {
    width: auto;
    min-height: auto;
    height: auto;
    padding: 3px 5px;
}
.discount-table {
    margin-left: 35px;
    padding: 3px 5px;
    width: 35%;
    max-width: 100%;
    display: inline-block;
    text-align: center;
    color: #464646;
    white-space: nowrap;
    max-width: 80px;
    overflow: hidden;
}
.text-center {
    text-align: center;
}
.discount-purchase-table .discount-table::before {
    border-right: 1px solid #e7e7e7 !important;
    content: "";
    position: absolute;
    height: 46px;
    top: auto;
    margin-top: -15px;
    left: 57%;
    right: auto;
    margin-left: 0px;
}
.pricing-table table tr td {
    text-align: center !important
}
.pricing-table table tr td:first-child input {
    text-align: left !important
}
.pricing-table table tr td input {
    text-align: center !important;
}
.pricing-table table tr td:nth-of-type(5) {
    text-align: left !important
}
.pricing-table table tr th:nth-of-type(6) {
    text-align: right !important;
}
.pricing-table table tr td:nth-of-type(6) {
    text-align: right !important;
    /*padding: 0 15px;*/
    color: #000;
    white-space: nowrap;
    max-width: 70px;
    overflow: hidden;
}
.tax-select-box .ui-select-container {
    width: 75%;
    margin-left: 15px
}
.tax-amount {
    margin-left: 25px;
    overflow: hidden;
    color: #4873b8;
    max-width: 65px;
    white-space: nowrap;
}
.pricing-table table tr th:first-child {
    text-align: left !important;
    padding-left: 25px !important;
}
.pricing-table table tr td:first-child {
    text-align: left !important;
    padding: 0px 25px 5px 25px;
}
.product_name {
    width: 90%;
}
.product_item {
    width: 10%;
}
.product_name {
    margin-top: 3px;
}
.pricing-table .btn-xs,
.btn-group-xs > .btn {
    margin-top: 2px;
    border: 0 none;
    background: transparent
}
.product_name .ui-select-container {
    width: 100%
}
.product_name .ui-select-search {
    width: 100% !important;
    border: 1px solid #d5d5d5;
}
.tax-select-box .ui-select-search {
    width: 100% !important;
    text-align: left !important;
    border: 1px solid #d5d5d5;
}
.discount-value {
    border-bottom: 1px solid #cdcdcd;
    width: calc(40% + 3px);
}
.currency-table,
.sub-total-row {
    line-height: 3em;
}
.currency-table .total-column-value {
    border-bottom: 0;
    font-size: 14px;
    padding: 5px;
    width: calc(40% + 3px);
    color: #373737;
}
.currency-table .total-amount {
    width: 362px;
}
.tax-value {
    width: calc(50% + 2px);
    display: inline-block;
    text-align: right;
}
.value-table {
    margin-left: 20px;
    width: 80px;
    text-align: right;
    display: inline-block;
}
.currency-table .total-value-amount {
    width: 120px;
}
.add-newrow-btn {
    padding: 0px 5px !important;
    border: 1px solid rgba(98, 98, 98, 0.27);
    position: absolute;
    left: auto;
    right: 2px;
    z-index: 0;
    border-radius: 50%;
    margin-top: -43px;
    bottom: auto;
    top: auto;
    width: 25px;
    height: 25px;
    color: #464646;
}
.plus-round-button {
    margin-top: -37px;
    right: 0px;
}
.add-newrow-btn:hover {
    border: 1px solid #4873b8;
}
.pricing-table .table {
    margin-bottom: 5px;
}
.button-text .btn-success .fa-floppy-o {
    font-size: 16px;
    padding-right: 5px;
}
.button-text .btn-success {
    background: #56baea;
    border: 1px solid #56baea;
    font-size: 15px;
    padding: 5px 15px;
    color: #fff;
}
.button-text #back_Btn {
    border: 1px solid #c3c3c3;
    padding: 5px 15px;
    margin: 10px 5px;
    background: #c3c3c3;
    font-size: 15px;
    border-radius: 2px;
    color: #282828;
}
.table thead tr th {
    color: #393939
}
.invoice-number .btn-focus:focus,
.invoice-number .btn-focus:hover {
    background: transparent !important;
    border: 1px solid #4873b8;
}
.invoice-number .btn-focus {
    border: 1px solid #fff
}
.pricing-table tr th:nth-child(2) {
    border-left: transparent;
}
.pricing-table table tr th {
    padding: 15px 15px 15px 8px
}
.pricing-table .table, .journal-table .table {
    border-top: 1px dashed;
    color: #e1e1e1
}

.pricing-table .ui-select-bootstrap > .ui-select-choices{ 
    border:1px solid #d5d5d5 !important;
    margin-top:0px !important; 
    padding:0
}

.journal-table table tr th{ padding: 15px 15px 15px 8px}

.journal-table table tr th:first-child{text-align: left; padding: 0 20px}

.add-newrow-btn:focus {
    background: transparent !important;
    color: #5d5c5a
}
.pricing-table .ui-select-bootstrap > .ui-select-choices,
.ui-select-bootstrap > .ui-select-no-choice {
    background: #fff !important;
    box-shadow: none;
    border: 0 none;
    margin-top: 0;
}
.test {
    border: 1px solid red;
}
/*.pricing-table .ui-select-bootstrap > .ui-select-choices, 
.ui-select-bootstrap > .ui-select-no-choice {
    background: #fff !important;
    box-shadow: none;
    border: 1px solid #eee;
    margin-top: -3px;
    padding: 0px 5px;
}*/

.product_name .dropdown,
.invoice-number .dropdown {
    position: absolute;
}
.product_name .product-text {
    width: 160px;
    max-width: 100%;
}
.product_name .product-text .btn-add {
    padding: 3px 12px;
    margin-top: -3px
}
.product_name .product-text .form-control {
    font-size: 13px;
}
.pricing-table tr td:nth-child(2) {
    border-right: transparent !important;
}
.pricing-table .table tbody tr:nth-child(2n) {
    background: #fff !important;
}
.product_name .product-text .ui-select-choices {
    border-top: 0;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-color: #d5d5d5 !important;
}
.invoice-number .add-invoice {
    width: 100%;
    margin-left: -1px;
}
.invoice-number .add-invoice .custom-option-container {
    width: calc(100% + 2px) !important;
}
.m-l-25{ 
    margin-left:25px; 
}
.receipts-table table tr th:first-child {
    padding-left: 40px;
}

.invoice-number .add-invoice .ui-select-match {
    width: 99.5%;
    margin-left: 9px;
    border-radius: 0;
    text-indent: 2px;
}
.invoice-number .form-group-default .form-control {
    margin-left: 8px;
    width: 96% !important;
    min-height: 38px;
}
.invoice-number .add-invoice .ui-select-choices {
    background: #fff;
    margin: 0 0 0 0px;
    padding: 0;
    border-radius: 0;
    border-top: 0;
    width: calc(100% + 2px) !important;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-color: #d5d5d5 !important;
}

.invoice-number .add-invoice .btn-add {
    margin-top: 1px;
    border-radius: 0;
    background: #d7d7d7;
    border: 0 none;
}
/*.invoice-number .add-invoice .btn:hover{ border:0 none !important }*/

.invoice-number .add-invoice .ui-select-match-text span {
    margin-top: 15px;
}
.invoice-number .add-invoice .ui-select-choices span {
    border-radius: 0;
    border-top-right-radius: 0;
    margin-left: 5px;
}
.invoice-number .add-invoice .glyphicon.glyphicon-plus {
    padding: 3px;
    font-size: 12px;
    display: inline-block;
    top: 0;
}
.invoice-number .add-invoice .btn-add:focus {
    color: #000 !important
}
/*.billing-address .address-info{ background: #f9f9f9; padding: 5px 15px; border-radius:3px;}*/

.billing-address .address-info strong {
    font-weight: normal;
}
.discount-purchase-table #appName {
    padding: 3px 12px;
}
.button-text {
    background: #ededed;
    padding: 0px 25px 10px;
    position: fixed;
    bottom: -35px;
    top: auto;
    left: 0;
    margin-bottom: 22px;
    margin-left: 4px;
    right: auto;
}
.button-text .btn-green-border {
    bottom: 0px;
    left: auto;
    right: 1%;
}
.button-text .submit-form {
    bottom: 0px;
    left: auto;
    right: 1%;
}
.form-control[disabled],
fieldset[disabled] .form-control {
    color: #4873b8 !important;
    font-size: 10px !important;
    border-radius: 0;
}

/*.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    color: #4873b8 !important;
    font-size: 10px !important;
}*/
/* invoice table */

.current_financial {
    display: block;
    padding: 0px 3px 0 15px;
    line-height: 20px;
    font-size: 14px;
    clear: both;
    font-weight: normal !important;
    font-family: 'robotoregular' !important;
    /*    text-align: center;*/
}
.current_financial .bubble {
    color: #58c7d9;
    font-size: 18px;
    float: left;
    margin-top: -3px;
}
.current_financial .bubble i {
    padding: 5px;
}
.active_financial {
    background: rgba(86, 186, 234, 1) !important;
}
.invoice-number .add-invoice .ui-select-choices-row > span {
    margin-left: 0;
    padding-bottom: 0px
}
.invoice-number .add-invoice {
    padding-bottom: 0px !important;
}
.invoice-number .add-invoice .dropdown-menu > li:last-child {
    padding-bottom: 0;
}
.total-column-value .fa-chevron-circle-down {
    float: right;
    cursor: pointer;
    margin: 7px;
}
.product-text .custom-option-container .btn.btn-default .glyphicon-plus {
    font-size: 10px;
    top: 0
}
.searchicon {
    background: #fff url(../../pages/img/search.png) no-repeat 4px 12px !important;
    padding-left: 22px !important;
}
.product-text .searchicon {
    background: #fff url(../../pages/img/search.png) no-repeat 9px 7px !important;
    padding-left: 24px !important;
}
.tax-select-box .searchicon {
    background: #fff url(../../pages/img/search.png) no-repeat 6px 6px !important;
    padding-left: 22px !important;
    margin-top: 2px;
}
.ns-popover-tooltip .searchicon {
    background: #fff url(../../pages/img/search.png) no-repeat 0px 5px !important;
    padding-left: 18px !important;
}
.reportsearch-icon .searchicon{
    background: #fff url(../../pages/img/search.png) no-repeat 5px 7px !important;
    padding-left: 22px !important;
}

.credit-tables-2 .searchicon {
    background: #fff url(../../pages/img/search.png) no-repeat 0px 12px !important;
    padding-left: 17px !important;
}

.topnavigation-section {
    position: relative;
    z-index: 10;
}
#showAddress {
    margin-top: -10px;
    background-color: #fff !important;
}
.staticcontent .staticsize {
    color: #464646;
    font-size: 13px;
}
.staticcontent .name-text {
    font-size: 12px !important;
    font-weight: normal;
}
.uibutton {
    width: 100%
}
.position {
    position: relative;
    left: 560px !important;
}
.default_hide {
    display: none
}
.staticcontent {
    margin-bottom: 20px !important;
    padding: 20px;
    width: 100% !important;
}
.staticsize {
    font-size: 17px;
    font-weight: 600;
}
.invoice-number {
    background: #f8f8f8;
    margin: 0px 15px;
}
.bill-date .form-control {
    margin-left: 4px;
    width: calc(100% + 5px) !important;
    border-radius: 0 !important;
}
.bill-date-2 .form-control {
    margin-left: 4px;
}
#basicTable tr td p {
    color: #464646
}
.invoice-number .add-invoice .btn-add {
    background: #eeeeee !important;
    border-radius: 0px;
    border-style: solid;
    border-color: #d5d5d5;
    border-width: 0px 1px;
    width: 100% !important;
    padding: 4px 12px;
    margin: 0 0 0 0px;
}
.ui-select-default .btn-add {
    border-radius: 0px;
    background: #eeeeee;
    border-style: solid;
    border-color: #d5d5d5;
    border-width: 0px 1px;
    z-index: 10;
}
.ui-select-default .btn-add:hover {
    border-style: solid;
    border-color: #d5d5d5;
    border-width: 0px 1px;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
}
.bill-receipt-table .receipt-select .btn-add:hover{ border-style: solid;
                                                    border-color: #d5d5d5;
                                                    border-right: 1px solid #d5d5d5;
                                                    border-left: 1px solid #d5d5d5;
                                                    border-top: 1px solid #d5d5d5;
                                                    border-bottom:1px solid #d5d5d5;
}
.bill-receipt-table .receipt-table .receipt-select .btn-add {
    border-radius: 0;
    background: #eeeeee;
    border-radius: 0px;
    border-style: solid;
    margin-left: -8px;
    width: 186px;
    padding: 6px 15px;
    line-height: 10px;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
}
.ui-select-bootstrap .ui-select-choices-row > span {
    margin-left: 0px;
}
.bill-receipt-table .form-group,
.bill-receipt-table-2 .form-group {
    margin-left: 0;
    margin-right: 10px;
    padding-right:0;
}
.input-group-addon i {
    z-index: 2;
}
.bill-receipt {
    background: #f8f8f8;
    padding: 5px 0px;
    width: 97%;
    margin: 0 15px !important;
}
.bill-receipt .bill-receipt-table .default-select-button .ui-select-toggle > .caret {
    right: -10px;
}

.bill-receipt .bill-receipt-table .receipt-select-button .ui-select-toggle > .caret {
    right: -5px;
}

.address-info, .address-info-2 {
    background: #f0f0f0;
    margin: 0 20px;
    width: 100%;
    padding: 10px;
    height:auto;
    text-overflow: ellipsis;
    overflow: hidden;
}
.datepicker{margin:0;}


.bill-receipt-table-2 .receipt-select .btn-add {

    background: #eeeeee;
    border-radius: 0px;
    margin-left: 0px;
    width: calc(96% + 0px);
    padding: 6px 8px;
    line-height: 10px;
    border-right: 1px solid #d5d5d5;
    border-left: 1px solid #d5d5d5;
    border-top: 0;
    border-bottom: 0;
}
.bill-receipt-table-2 #PaymentMode .btn-add{
    width: calc(96% + 1px);
}
.bill-receipt-table .searchicon {
    background: #fff url(../../pages/img/search.png) no-repeat 3px 4px !important;
    padding-left: 22px !important;
}
.bill-receipt-tables .searchicon {
    background: #fff url(../../pages/img/search.png) no-repeat 0px 12px !important;
    padding-left: 18px !important;
}
.bill-receipt-table-2 .searchicon {
    background: #fff url(../../pages/img/search.png) no-repeat 5px 8px !important;
    padding-left: 22px !important;
}
.bill-receipt-table .receipt-table .ui-select-choices {
    border-top: 0 !important;
    margin: -2px -8px;
    width: 186px !important;
    padding: 0;
    border:1px solid #d5d5d5;
}
.receipt-table {
    margin: 0;
    border:1px solid #d5d5d5;
    min-height: 30px;
}

.bill-receipt-table .receipt-table #PaymentTo .btn-add{
    margin-left: -13px;
}
.bill-receipt-table .receipt-table #PaymentMode .btn-add{
    margin-left: -13px;
    width:185px;
}
.bill-receipt-table #PaymentTo .ui-select-choices, .bill-receipt-table #PaymentMode .ui-select-choices {
    margin: -2px -13px; 
}
.bill-receipt-table .receipt-table .ui-select-choices .ui-select-choices-row {
    margin-bottom: 2px;
}
.bill-receipt-table .receipt-table .dropdown{position: absolute; z-index: 99;}
.bill-receipt-table-2 .dropdown{z-index: 2;}

.bill-receipt-table .receipt-table .form-control{width:170px !important;}

.bill-receipt-table-2 #receiptMode .ui-select-search{width:216px !important;}

.bill-receipt-table #receiptMode .ui-select-choices {
    margin: -2px -13px;
    width: 185px !important;
}

.bill-receipt-table-2 #receiptMode .ui-select-search{ 
    width:97% !important;
    border-radius: 0;
}

.bill-receipt-table .receipt-table .receipt-select .btn-add:hover{ border-style: solid;
                                                                   border-color: #d5d5d5;
                                                                   border-right: 1px solid #d5d5d5;
                                                                   border-left: 1px solid #d5d5d5;
                                                                   border-top: 1px solid #d5d5d5;
                                                                   border-bottom:1px solid #d5d5d5;
}

.datepicker-button{ padding-left: 0; padding-right: 0px; }

.datepicker-button-2{ margin: 0 14px;width: 215px;max-width: 100%; }

.save-button .btn-save{
    background: #56baea;
    border: 0px;
    font-size: 14px;
    padding: 5px 15px;
    color: #fff;
}

.invoice-number .add-invoice .ui-select-toggle > .caret {
    right: 0px;
}

#address hr{ 
    margin-top:15px; 
    margin-bottom: 15px;
}
.invoice-form-title{
    margin-bottom: 15px !important;
}
.account-detail .panel-heading {
    min-height:20px;
}
.amount-detail .form-control{ 
    border:1px solid #d5d5d5; 
    border-radius:0;
}

.amount-detail .form-control:focus{ 
    border:1px solid #56baea; 
    border-radius:0;
}
.datepicker-button .form-control, 
.datepicker-button-2 .form-control{ 
    border:1px solid #d5d5d5;
    border-radius:0;
}

.datepicker-button .form-control:focus,  
.datepicker-button-2 .form-control:focus{ 
    border:1px solid #56baea;
    border-radius:0;
}
.amount-detail{ 
    padding-left: 20px !important;
}
.input-group.date-group .form-control{
    min-height: 30px; 
    height: 30px;
}
.log_header_leftpart
{
    width: 100%;
    float: none;
    margin-top:0px;
}
.log_header_rightpart{
    width: 20%;
    float: right;
}

.byto_container .searchicon {
    background: #fff url(../../pages/img/search.png) no-repeat 3px 7px !important;
    padding-left: 22px !important;
}

.journal-acchead #treeview .btn-add, .ledger-table #treeview .btn-add{
    border-radius: 0;
    background: #d7d7d7;
    border: 0 none;
    border-top:0;
    padding: 4px 20px;
}
.journal-acchead .ivh-treeview-holder{ 
    border-top:0 !important; 
    width:89% !important; 
    margin-top:-1px;
    border:1px solid #d5d5d5 !important;
}
.date-texts{
    margin-left:8px;
    margin-top: 3px;
}
.calendar-icon {
    position: absolute;
    top: 5px;
    left: 49%;
    right: auto;
    z-index: 10;
}

.stylish-input-group .input-group-addon {
    border: 1px solid #d5d5d5 !important;
    border-bottom: 0 !important;
    border-right: 0 !important;
    padding: 4px 9px;
    position: relative;
    z-index: 1;
}
.ledger-table .customer-filter:focus{ 
    border:1px solid #d5d5d5; 
    background:#fff
}
.journal-acchead .ivh-treeview .glyphicon{ 
    color: #464646;
}
.journal-acchead .customer-filter{
    width:calc(90% + 5%);
    border:solid 1px #d5d5d5;
    line-height:25px;
    background-color:#fff;
    border-top-right-radius: 0;
}
.journal-header{
    width:45%;
    max-width:100%;
}
.ivh-treeview .ivh-treeview-node .list-view a{ 
    font-size: 13px;
}

.ivh-treeview li .list-type a {
    padding: 0 27px;
    color: #585858;
}

.ivh-treeview li .list-type .glyphicon {
    left: 28px;
}
.textboxlikeDiv {
    border: 1px solid #d5d5d5 !important;
    height: 30px;
    min-height: 30px;
    position: absolute;
    top: auto;
    margin-top: 0px;
    width: 89% !important;
}
.journal-acchead .textboxlikeDiv .glyphicon.glyphicon-triangle-bottom:before{ font-size: 9px !important;}
.journal-acchead .textboxlikeDiv .glyphicon.glyphicon-triangle-bottom{ top:6px}
.datepicker-input .form-control{
    height:30px;
    min-height: 30px;
}

.ivh-treeview-node-leaf:focus{ background:transparent !important;}

.ivh-treeview-holder{
    border:1px solid #d5d5d5 !important;
}

.ivh-treeview {
    margin-top: 5px;
}

.ledger-table-text tr td{ 
    color:#464646;
    padding: 8px 25px;
}
.ledger-section .invoice-number { 
    width:99.5%;
}

.ledger-section .calpos{ 
    right:12px; 
}

.ledger-section .input-group-addon i, .bill-receipt .input-group-addon i{ top:0; }

.textboxlikeDiv .glyphicon.glyphicon-triangle-bottom::before {
    color: #464646;
    font-size: 11px;
    opacity: 0.6;
}

.journal-btn{ 
    margin-top: -70px !important;
}
.ledger-table .textboxlikeDiv{ 
    text-indent: 12px;
    line-height: 28px;
}
.ledger-table .textboxlikeDiv .glyphicon.glyphicon-triangle-bottom {
    top: 7px;
}
.ledger-table .textboxlikeDiv .glyphicon.glyphicon-triangle-bottom:before{ 
    font-size: 9px;
}
.ledger-table .customer-filter{ 
    margin-left:-14px; 
    font-size:13px !important;
    border-radius: 0;
}
.ledger-header{ 
    padding-right: 0;
}

.journal-ac-select{ 
    width:88%; 
    margin:0 15px;
}
.treeview-table{ 
    width:90.5%; 
}
.input-daterange input {
    text-align: left;
}
.btn-search
{
    background-color:#56baea !important;
    border:none;
}
.btn-search:hover
{
    border:none;
}

.journal-acchead .ivh-treeview .glyphicon{ 
    color: #464646;
    left:10px;
}

.overlayToParent{
    position: absolute;
    min-height: 100%;
    background: rgba(241, 241, 241, 0.68);
    height: 100%;
    max-height: 100%;
    min-width: 90%;
    z-index: 99;
    overflow: hidden;
    display: none;
}
.overlayToParent h3{
    text-align: center;
    /* margin-top: 100%; */
    vertical-align: middle;
    margin-top: 10%;
}
.textoverflow_ellipsis{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*.trailbalance-table tr td, 
.trailbalance-table tr th{
    border:1px solid #d5d5d5;
}
.trailbalance-table table {
 border-top:1px solid #d5d5d5 !important;
 border-bottom:1px solid #d5d5d5 !important;
}*/

.btn-search
{
    background: rgba(0,174,164,1) !important;
    border:none;
    padding: 5px 12px;
}

.btn-search:hover
{
    border:none;
    background-color: rgba(0,174,164,.7) !important;
}

.trailbalance-table .ledger-report-detail-wrap{ 
    border-top:4px solid rgba(0,174,164,1);
}

.trailbalance-table .table-hover thead tr:hover {
    background: #d6f1fe !important;
}
.trailbalance-table .table-hover tbody tr:hover td {
    background: #d6f1fe !important;
}
.ledger-section .input-group-addon {
    background: transparent;
}
.trailbalance-modal .close {
    background: #fff;
    border-radius: 50%;
}
.trailbalance-modal .pg-close{
    font-size: 20px;
    margin: 3px 2px;
    text-indent: 2px;
    color: #000 !important;
}
.trailbalance-table .ledger-report-detail-wrap table tr td {
    border: 1px solid rgba(230, 230, 230, 0.7) !important;
}
.trailbalance-table .ledger-report-detail-wrap table tr th {
    border: 1px solid rgba(230, 230, 230, 0.7) !important;
    border-bottom: 0 !important;
}
.select-feature .select2-search-field .searchicon{
    margin: 0px 1px !important;
}
.select-feature .select2-choices{ 
    margin:0 0 !important;
}
.select-feature .ui-select-dropdown{
    width: calc(100% + 24px) !important;
    margin-left: -12px;
    padding:0 0;
    margin-top:10px;
    border:1px solid #d5d5d5;
    box-shadow:none
}


.overlayToParent{
    position: absolute;
    min-height: 87%;
    background: rgba(241, 241, 241, 0.68);

    max-height: 100%;
    min-width: 95%;
    z-index: 99;
    overflow: hidden;
    display: none;
    margin-left:-15px;
}
.overlayToParentPie{
    position: absolute;
    min-height: 87%;
    background: rgba(241, 241, 241, 0.68);
    max-height: 100%;
    min-width: 92%;
    z-index: 99;
    overflow: hidden;
    display: none;
    margin-left:-15px;
}
.overlayToParentPie h3{
    text-align: center;
    /* margin-top: 100%; */
    vertical-align: middle;
    margin-top: 10%;
}
.overlayToParentList{
    position: absolute;
    min-height: 87%;
    background: rgba(241, 241, 241, 0.68);
    max-height: 100%;
    min-width: 95%;
    min-height: 65%;
    z-index: 99;
    overflow: hidden;
    display: none;

}
.overlayToParentList h3{
    text-align: center;
    /* margin-top: 100%; */
    vertical-align: middle;
    margin-top: 10%;
}

.bill-receipt-tables .receipt-select{ margin-left: -10px}
.bill-receipt-tables .form-group-default{ 
    padding-left:15px !important; 
    padding-right:15px !important;
}

.bill-receipt-tables .receipt-select .btn-add {
    background: #eeeeee !important;
    border-radius: 0px;
    border-style: solid;
    border-color: #d5d5d5;
    border-width: 0px 1px;
    margin-left: -6px;
    width: 285px !important;
    padding: 4px 12px;
}

.bill-receipt-tables .receipt-select .ui-select-choices {
    background: #fff;
    margin: 0 0 0 -6px;
    padding: 0;
    width: 285px !important;
}
.credit-amount-view{margin-left:20px !important;}
.bill-receipt-table-2 .reference-number{ margin-left:5px;}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    /*font-family: 'open_sansregular';*/
    font-family: 'proxima_nova_rgregular';
    font-size: 13px;
    font-weight: normal;
    line-height: 1.4;
    filter: alpha(opacity=0);
    opacity: 0;
}
.tooltip.in {
    filter: alpha(opacity=90);
    opacity: .9;
}
.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}
.tooltip.right {
    padding: 0 5px;
    margin-left: 3px;
}
.tooltip.bottom {
    padding: 5px 0;
    margin-top: 3px;
}
.tooltip.left {
    padding: 0 5px;
    margin-left: -3px;
}
.tooltip-inner {
    max-width: 200px;
    width:200px !important;
    padding: 8px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #464646 !important;
    border-radius: 4px;
    border:1px solid #464646;
    /*box-shadow: 2px 1px 2px 0px #ddd;*/
}
.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 5px 5px 0;
    border-top-color: #464646;
}
.tooltip.top-left .tooltip-arrow {
    right: 5px;
    bottom: 0;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #464646;
}
.tooltip.top-right .tooltip-arrow {
    bottom: 0;
    left: 5px;
    margin-bottom: -5px;
    border-width: 5px 5px 0;
    border-top-color: #464646;
}
.tooltip.right .tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-width: 5px 5px 5px 0;
    border-right-color: #464646;
}
.tooltip.left .tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-width: 5px 0 5px 5px;
    border-left-color: #464646;
}
.tooltip.bottom .tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #464646;
}
.tooltip.bottom-left .tooltip-arrow {
    top: 0;
    right: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #464646;
}
.tooltip.bottom-right .tooltip-arrow {
    top: 0;
    left: 5px;
    margin-top: -5px;
    border-width: 0 5px 5px;
    border-bottom-color: #464646;
}
.truck
{
    font-size: 16px;
    color: #8f8f8f;
    margin-right: 5px;
    margin-top: 2px;
}
.address
{
    font-size: 16px;
    color: #8f8f8f;
    margin-right: 5px;
    margin-top: 2px;
}

.infoicon {
    font-size: 22px;
    color: rgba(70, 70, 70, 0.6);
    line-height: normal;
    top: -6px;
    position: relative;
}
.btn{
    font-size: 13px;
}
.bill-receipt-table-2 .form-control{
    border-radius: 0;
}
.reference-text .form-control {
    margin-left: 0px;
    width: 98% !important;
}
.receipt-date .form-control {
    margin-left: 3px;
    width: calc(100% + 1px) !important;
    position: relative;
    z-index: 0;
}
.bill-receipt-table-2 .receipt-select .ui-select-choices{ 
    border:1px solid #d5d5d5; 
    border-top:0; 
    width:calc(97% + 1px); 
    margin:0; 
    padding:0px 0
}
.bill-receipt-tables .receipt-select .ui-select-toggle .caret {
    right: -8px;
}

.select-feature .ui-select-dropdown ul{ 
    margin: 0 !important
}
.select-feature .ui-select-dropdown ul li{
    padding: 0px 5px; 
    margin:5px 0px 5px 0; 
    border-radius: 0; 
    border: 0 none; 
    line-height:25px;
}
.select-feature .ui-select-dropdown ul .select2-highlighted{ 
    background: #56baea;
}
.select-feature .ui-select-dropdown ul .select2-highlighted .select2-result-label {
    color: #fff;
    padding:4px 7px;
} 
.date-text .input-group-addon.calpos .fa-calendar {
    right: -6px;
}

.select-feature .ui-select-dropdown ul li .select2-result-label:hover{ 
    background: #56baea;
    padding: 4px 12px 4px 12px;
    margin: 0px -5px; 
    color:#fff;
}
.form-group label:not(.error){ 
    /*font-family: 'open_sansregular' !important;*/
    font-family: 'proxima_nova_rgregular' !important;
}
.billingaddress{ 
    margin-top: 15px !important; 
    padding:0px 5px;
}

#addNewContactPop .close, #ViewNewContactPop .close{ 
    position: sticky; 
    right:17px; 
    bottom:auto;
    z-index: 10;
    top:20px;
}
#addNewContactPop .panel-body, #ViewNewContactPop .panel-body{ 
    margin-top: 20px !important;
}

.select-feature .ui-select-container .select2-choices .ui-select-match-close{ 
    padding: 0;
    margin: 0px;
    left: 0px;
}
.select-feature .ui-select-container .select2-choices 
.ui-select-match .ui-select-match-item{ 
    border-radius: 0;
    background: #d2d2d2 !important;
    text-indent: 5px;
    padding: 4px 15px;
    margin:0px 2px 5px 2px;
    font-size: 13px;
}

.invoicelist thead tr th:nth-child(3){ padding: 6px 9px 6px 8px}
.invoicelist-2 tr td:nth-child(5), .invoicelist-2 tr td:nth-child(6), 
.invoicelist-2 tr td:nth-child(7){ padding:4px 0px }
.date-text .invoice-date{ width: calc(100% + 0px) !important;}
.date-text-2 .due-date{width: calc(98% + 1px) !important;}
.paymentlist .payment-view thead tr th:nth-child(2), 
.paymentlist .payment-view thead tr th:nth-child(3){ padding:6px 15px 7px 0px;}

.paymentlist .payment-view thead tr th:nth-child(4){ padding:6px 0px 7px 6px;}

.paymentlist .listpage_table_height tr td:nth-child(2), 
.paymentlist .listpage_table_height tr td:nth-child(4){ padding:4px 9px}

.paymentlist .listpage_table_height tr td:nth-child(1){ padding: 4px 10px}

.table thead tr th{ 
    padding: 6px 10px 6px 8px !important;  
    /*background:#56baea;
    color: #fff !important;*/
}

.paymentlist .payment-view thead tr th:nth-child(3), 
.paymentlist .payment-view thead tr th:nth-child(5){ padding:6px 9px 7px 0px !important;}
.paymentlist .payment-view thead tr th:nth-child(6){ padding:6px 5px 7px 3px !important;}

.bill-date .input-group-addon.calpos .fa-calendar {
    right: -14px;
}
.bill-date-2 .input-group-addon.calpos .fa-calendar {
    right: -2px;
}
.billing-address .row [class*="col-"]:last-child {
    padding-right: 0;
}
.billing-address .row [class*="col-"]:first-child {
    padding-left: 0;
}

#basicTable tr td{ 
    padding:3px 0 ;
}
.select-feature .select2-results .select2-result-label{ 
    padding:4px 7px 4px;
}
.select-feature .ui-select-container .select2-choices .ui-select-match-close:hover{
    background: transparent;
}
.bill-receipt-table-2 .ui-select-match-text span{
    line-height: normal;
}
/*.bill-receipt-table-2 .form-label{ 
    padding: 5px 0 0 0;
}*/
.trailbalance-table .ledger-report-detail-wrap .backbtn {
    background: rgba(0,174,164,1);
    border: 1px solid rgba(0,174,164,1);
    padding: 4px 9px 4px 8px;
    margin-top:0px !important;
    margin-bottom: 0 !important;
    color: #fff;
}
.trailbalance-table .ledger-report-detail-wrap .back-btn:hover {
    background: #7bcaf1;
    border: 1px solid #55b9e8;
    color: #fff;
}

.trailbalance-table .ledger-report-detail-wrap span.name{ 
    padding-top: 8px;
}

.add-newrow-btn .fa-chevron-up {
    margin: 0px 0px;
    position: relative;
    top: -1px;
}
.tax-select-box .ui-select-toggle>.caret {
    margin-top:1px;
}
.tax-select-box .ui-select-match .btn {
    height: 23px;
    min-height: 23px;
}

.fa-rotate-180 .fa-chevron-up {
    margin: 0px -1px;
    position: relative;
    top: -3px;
}
.product_name .product-text:focus, .product_name .product-text{
    outline:0 !important;
}
.btn-default-focus{
    outline:0 !important;
}

.tax-select-box .ui-select-container:focus, .tax-select-box .ui-select-container{
    outline:0 !important;
}

.receipt-date .input-group-addon.calpos .fa-calendar {
    right: 0px;
}

.bill-receipt .form-group-default-select .ui-select-bootstrap 
.ui-select-match > .ui-select-toggle{ 
    margin-left:-17px;
}
.bill-receipt .form-group-default {
    border: 1px solid #d2d2d2;
    min-height: 70px;
    padding-left: 0;
}
.payment-table .form-group-default {
    min-height: 30px;
}
.receipt-table-2 .bill-receipt-tables .form-group-default label {
    font-size: 13px;
    margin-left: -3px;
}
.receipt-table-2 .bill-receipt-tables #receiptTo .ui-select-match .ui-select-toggle {
    margin-left: -30px;
}
.receipt-table-2 .bill-receipt-tables .receipt-select .ui-select-choices {
    margin: 0 0 0 -21px;
    width: calc(100% + 11px) !important;
}
.bill-receipt-tables .add-invoice .btn-add {
    margin-left: -21px !important;
    width: calc(100% + 9px) !important;
}
.bill-receipt-tables .form-group-default .form-control {
    margin-left: -4px;
    width: 96% !important;
}
.bill-receipt-tables .ui-payment-select .ui-select-match { 
    margin-left:-3px !important;
}
.receipt-table-2 .receipt-select {
    width: 97%;
    margin-left: 5px;
}
.receipt-table-2 .receipt-select .custom-option-container {
    width: calc(100% + 2px) !important;
}
.select-customer .form-label {
    padding-right: 0px !important;
}

.form-control{ padding: 6px 9px; }

.button-text .btn-green-border:hover {background: #d5d5d5 !important;}
.button-text .btn-success:hover {background-color: #7bcaf1;border-color: #56b9e9;}

.input-daterange .input-group-addon{ background-color: transparent; }

#basicTable tr td.text-right{ text-align: right !important;}
.bill-receipt-tables .receipt-select .ui-select-match-text span{
    margin-left: 1px;   
}
.receipts-table #basicTable tr th:nth-child(3),
.receipts-table #basicTable tr th:nth-child(4), 
.receipts-table #basicTable tr th:nth-child(6){
    padding:15px 0px 15px 8px;
}
.invoice-table .form-control{ border-radius: 0}

.bill-receipt-table .receipt-table #PaymentTo .ui-select-match .ui-select-toggle{
    margin-left:-16px; 
    line-height:6px;
}
.bill-receipt-table .receipt-table #PaymentMode 
.ui-select-match .ui-select-toggle{ 
    margin-left:-16px; 
    line-height:6px;
}

.input-group-addon i {
    cursor: pointer;
    width: 16px;
    height: 16px;
}

.payment-date .form-control{ 
    margin-left: 3px; 
    width:calc(100% + 3px) !important;
}
.journal-table .byto_container .dropdown{
    position: absolute;
    top: auto;
    margin-top: -17px;
    width:100px;
}
.payment-date .input-group-addon.calpos .fa-calendar{ 
    right:-3px;
}
.journal-acchead .stylish-input-group{
    width:99%;
}
.journal-acchead .textboxlikeDiv{ 
    line-height: 27px; 
    text-indent: 15px;
    margin-top:-14px;
}
.payment-text{ margin-left:6px !important; }

.payment-text .form-control {
    margin-left: 5px;
    width: 97% !important;
}
.invoice-number .add-invoice .ui-select-choices:focus {
    border:1px solid #56baea !important; 
    border-top:0 !important;
}
.bill-receipt .form-group-default:focus{
    border:1px solid #56baea !important;
}

.select2-container-multi .select2-choices .select2-search-field input{
    font-family: 'open_sansregular' !important;
    font-size: 12px !important;
}

.profit-loss-table{
    max-height: 60vh;
    overflow-y: scroll;
    clear: both;
}

.profit-loss-table .table-wrap-right {
    width: 51%;
}

.profit-loss-table .table > tbody + tbody {
    border-top: 0px solid #ddd;
}
.profit-loss-table .table tbody tr td{
    line-height: 20px;
    min-height: 30px;
    height: 30px;
}
.particulars{ margin-left: -12px; }

.table-border {
    border-right: 1px solid #ededed !important;
    border-left: 1px solid #ededed !important;
}
.trailbalance-table tr .first-td span {
    display: table-cell;
    width: 100%;
    max-width: 315px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.balancesheet-border{
    border-left: 1px solid #ededed !important;
}

.account-detail .journal-acchead #openaccountbox0, 
.account-detail .journal-acchead #openaccountbox1{  
    display: block; 
    overflow: hidden;
    text-overflow: ellipsis;
}
/* sidebar css */
.sidebar-page{ 
    width:260px !important;
    position: fixed;
    z-index: 9;
    height: 100%;
    /* -webkit-box-shadow: 2px 0px 2px 0 rgba(0, 0, 0, 0.38);
     -moz-box-shadow: 2px 0px 2px 0 rgba(0, 0, 0, 0.38);
     box-shadow: 2px 0px 2px 0 rgba(0, 0, 0, 0.38);*/
}
body.menu-pin .page-container .page-content-wrapper .content {
    padding-left: 260px;
}
.menu-pin .ion-chevron-right::before{
    display: none;
}
.sidebar-visible .sidebar-button .ion-chevron-left::before{
    display: none;
}
.menu-pin .sidebar-button .ion-navicon-round::before{
    display: block !important;
    line-height: 30px;
    margin-right: 2px;
    margin-left: 9px;
}
.sidebar-button .ion-chevron-right::before {
    content: "\f125" !important;
    line-height: 30px;
    color: #56baea;
    margin-left: 11px;
}
.sidebar-button .ion-navicon-round:before {
    content: "\f20d";
    color: #fff;
}
.fixed-header .sidebar-button .ion-navicon-round::before {
    display: none;
}

.menu-pin .sidebar-button .ion-arrow-right-c{ display: none; }

.sidebar-button .ion-arrow-right-c{
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width:30px;
    margin-right: 0px;
    position: absolute;
    left: 15px;
    z-index: 8;
    top: 20px;
    font-size: 34px;
    line-height: 30px;
    /*background-color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;*/
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /*-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);*/
}
/*.sidebar-button::before {
    content: '';
    position: absolute;
    top: 4px;
    width: 2px;
    height: 18px;
    background: rgba(255,255,255,.6);
    display: block;
    opacity: 1;
    left: auto;
    right: 3px;
}*/

.sidebar-visible .sidebar-button .ion-navicon-round{
    display: none;
}

.menu-pin .sidebar-button .ion-navicon-round{
    color: #ffffff;
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    width:30px;
    margin-right: 0px;
    position: absolute;
    left: 265px;
    z-index: 8;
    top: 20px;
    font-size: 34px;
    line-height: 30px;
   /* background-color: #fff;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;*/
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    /*-webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);*/
}

body.fixed-header .header{ 
    width: 100%; 
    left:0; 
    background:#5c5c5c;
    -webkit-box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.38);
    box-shadow: 1px 2px 2px 0 rgba(0, 0, 0, 0.38);
    z-index: 8;
    transition: top 0.2s ease-in-out;
    background: -moz-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: -webkit-gradient(linear,left top,right bottom,color-stop(0%,#008fe2),color-stop(100%,#00b29c));
    background: -webkit-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background-color: rgba(0, 0, 0, 0);
    background: -o-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: -ms-linear-gradient(-65deg,#008fe2 0,#00b29c 100%);
    background: linear-gradient(154deg,#008fe2 0,#00b29c 100%);
    background-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#008fe2', endColorstr='#00b29c', GradientType=1);

}
.page-sidebar .sidebar-menu .menu-items li a i.fa {
    font-size: 16px;
    line-height: 35px;
    display: block;
    float: left;
    width: 30px;
    height: 36px;
    margin-right: 5px;
    margin-left: 5px;
    text-align: center;
    color: #0093d9;
    opacity: .9;
    -moz-opacity: .9;
    filter: alpha(opacity:90);
    -webkit-animation-duration: .7s;
    -moz-animation-duration: .7s;
    -o-animation-duration: .7s;
    animation-duration: .7s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
}
.page-sidebar .arrows-1 {
    position: relative;
    font-size: 18px;
    top: 11px;
    display: block;
    width: 100%;
    left: 0px;
}

.page-sidebar .sidebar-menu .menu-items li a:hover i.fa {
    -webkit-animation-name: swing;
    -moz-animation-name: swing;
    -o-animation-name: swing;
    animation-name: swing;
    color:#fff !important;
}

.page-sidebar .brand {
    max-width: 100%;
    display: inline-block;
    height: auto;
   /* width: 230px;*/
    margin-top: -8px;
}

.fixed-header .page-sidebar .sidebar-menu .menu-items  li ul.sub-menu li::before {
    background-color: #8da0aa;
    /*border-color: #f8f9fa;*/
}
.fixed-header .page-sidebar .sidebar-menu .menu-items  li ul.sub-menu li:hover::before {
    background-color: #fff;
    /*border-color: #f8f9fa;*/
}
.page-sidebar .sidebar-menu .menu-items li ul.sub-menu li::before {
    background: #2b2e33;
    bottom: auto;
    content: "";
    height: 8px;
    left: 26px;
    margin-top: 15px;
    position: absolute;
    right: auto;
    width: 8px;
    z-index: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.fixed-header .page-sidebar .sidebar-menu .menu-items  li ul.sub-menu li::after {
    /* border-left: 1px solid #D7D7D7;*/
}
.page-sidebar .sidebar-menu .menu-items li ul.sub-menu li::after {
    /*border-left: 1px solid #2b2e33;*/
    bottom: 0;
    content: "";
    left: 30px;
    position: absolute;
    top: 0;
}
.page-sidebar .sidebar-menu .menu-items li ul.sub-menu li a:first-child:hover {
    color: #fff !important;
    background: rgba(26,160,218,1);
    border-radius: 2px;
}
.page-sidebar .sidebar-menu .menu-items > li ul.sub-menu > li a{
    padding-top:7px;
}
.profile-bg{  
    background: url(../../landingpage/assets/images/profile-bg.png) no-repeat; 
    background-size: cover;
    background-position: center center;
    /*-webkit-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.38);
    box-shadow: 1px 1px 5px 0 rgba(0, 0, 0, 0.38);*/
}
.profile-page{
    padding-top:10px;
}
.profile-text a{
    color: #000000;
    /*font-family: 'robotoregular';*/
    font-family: 'proxima_nova_rgregular';
}
.header-up {
    top: -80px !important;
}
.header-down{
    min-height: 70px;
    height:70px;
}


.notification-lists li a .fa{
    color: rgba(255,255,255,.8) !important;
    font-size: 21px;
}
.notification-lists li{ 
    list-style-type: none; 
    display: inline-block; 
    margin:15px 1px;
}
.notification-lists li a .ion-ios-help-outline::before{
    font-weight:bold;
}
.notification-lists li a{
    border-color: rgba(255,255,255,.2) !important;
    border: 2px solid transparent;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    line-height: 43px;
    display: inline-block;
    text-align: center;
    float: none !important;
}
.notification-lists li a:hover{
    background: rgba(255,255,255,.05);
    border-color: rgba(255,255,255,.25);
}
.notification-lists li a i:hover {
    color: rgba(255,255,255,.95) !important;
}

.get .get-text {
    padding: 15px;
    margin-bottom: 15px;
    box-sizing: border-box;
    margin-top: 25px;
    font-weight: bold;
    font-size: 20px;
    /*font-family: 'Raleway', sans-serif !important;*/
    font-family: 'proxima_nova_rgregular' !important;
    width:calc(98% + 2px);
    letter-spacing: 0.5px;
    background: #fff;
    margin-left: 15px;
    color: #8da0aa;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    border: 0 solid rgba(0,0,0,.125);
}

.get .card a{
    font-size: 14px;
}
.get-text #back_Btn {
    margin-top: -7px !important;
}

.box-type-1{
    background: #fff;
    margin:5px 5px 5px 15px;
    padding: 5px;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    border: 0 solid rgba(0,0,0,.125);
    /*font-family: 'open_sansregular';*/
    font-family: 'proxima_nova_rgregular';

}
.box-type-2 {
    margin: 5px 5px 5px 15px;
    padding: 5px;
    background: #fff;
    -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.38);
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.38);
}
.box-type-2 span img{
    max-width: 100%;
    display:inline-block;
    width:90px;
    margin-top:15px;
    margin-bottom: 0px;
}
.box-type-2 h1{ 
    font-size: 15px; 
    font-weight:bold; 
    margin:0;
    /*font-family: 'Raleway', sans-serif !important;*/
    font-family: 'proxima_nova_rgregular' !important;
    color: #8da0aa;
}
.box-type-1 h1{ 
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    /* font-family: 'Raleway', sans-serif !important;*/
    font-family: 'proxima_nova_rgregular' !important;
    color: #8da0aa;
    letter-spacing: 0.5px;

}
.box-type-1 .btn-default {
    border: 1px solid rgba(0,174,164,1);
    margin-top: 5px;
    margin-bottom: 15px;
    font-size: 15px;
    background: rgba(0,174,164,1);
    color: #fff;
    border-radius: 4px;
    font-family: 'proxima_nova_rgregular' !important;
}
.box-type-1 .btn-default:hover {
    background-color: rgba(0,174,164,.7);
    border:1px solid rgba(0,174,164,.7) !important;
    color: #ffffff;
    border-radius: 4px;

}
.box-type-1 .btn-default .fa{
    margin-right: 5px;
    font-size: 16px;
}

.box-type-1 .btn-default .ion-ios-people, 
.box-type-1 .btn-default .ion-ios-paper {
    margin-right: 5px;
}

.box-type-1 .btn-default .ion-ios-people:before{
    font-size: 24px;  
    line-height: 15px;
    position: relative;
    top: 4px;
}

.box-type-1 .btn-default .ion-ios-paper:before {
    font-size: 18px;  
    line-height: 15px;
    position: relative;
    top: 2px;
}

.box-type-1 span img{
    max-width: 100%;
    display: inline-block;
    width:100px;
    margin-top:15px;
    margin-bottom: 10px;
}
.box-type-1 p{
    font-size: 14px;
    margin-top:5px;
    margin-bottom:10px;
    color: #666;
    padding:5px;
    min-height: 75px;
}

.get-text .screen-left {
    margin-right: 0px !important;
    top: -6px;
    position: relative;
    left: 0px;
}

.chart-accounts .scroll-wrapper > .scroll-element.scroll-x, 
.chart-accounts-4 .scroll-wrapper > .scroll-element.scroll-x{
    display: none;
}
.chart-accounts, .chart-accounts-2, .chart-accounts-3, .chart-accounts-4{
    padding-left: 5px;
    padding-right: 5px;
}
.tb-title h5 {
    background: rgba(26,160,218,1);
    color: #fff;
    padding: 10px 15px;
    margin: 0 0px;
    border: 1px solid rgba(26,160,218,1);
    font-family:'proxima_nova_rgregular' !important;
    font-size: 20px;
}

.tb-title .fa-indent{
    margin-right: 10px;
}
.chart-accounts .ledger-section, 
.chart-accounts-2 .ledger-section, 
.chart-accounts-3 .ledger-section, 
.chart-accounts-4 .ledger-section {
    border: 1px solid #d9d9d9;
    margin-right: 0;
    padding-bottom: 10px !important;
    border-top:0;
}
.chart-accounts .ion-plus, .chart-accounts-2 .ion-plus {
    background: #fff !important;
    color: #56baea !important;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    margin-top: 3px;
    margin-right: -3px;
}
.chart-accounts .ion-plus:before, .chart-accounts-2 .ion-plus:before{
    margin: 4px 6px;
    font-size: 14px;
}

.get-text i.fa-home, .get-text i.fa-info-circle{
    font-size: 18px; 
}
.fontbold{
    margin-left:10px;
}
.btn-green-border
{
    border : none;
}
.btn-green-border:hover
{
    border : none;
}
.submit-form
{
    border:none;
}
.submit-form:hover
{
    border:none;
}
.tick
{
    margin-right: -1px !important;
    top: -4px;
    position: relative;
}
.screen-left {
    margin-right: 1px !important;
    top: -4px;
    position: relative;
}
.ion-arrow-resize:before {
    content: "\f264";
    font-size: 18px;
    margin-left: 1px;
    margin-top: 6px;
}
.inv-fs-btn {
    background: rgba(0,174,164,1) !important;
    border-radius: 4px;
    color: #fff;
    font-size: 16px !important;
    min-width: auto !important;
    padding: 6px 8px 6px 7px !important;
    font-weight: bold !important;
    margin: -1px 5px 0 0px !important;
    position: relative;
    z-index: 1;
    height: 33px;
    width: 35px;
    border-color: rgba(0,174,164,1) !important;
    border: 2px solid transparent;
    line-height: 29px;
}
.inv-fs-btn:hover {
    line-height: 33px;
    background: rgba(0,174,164,.7) !important;
}
#back_Btn:hover {
    line-height: 31px;
}
.download_btn{
    display: inline-flex;
    text-align: center;
    padding: 2px 8px !important;
    top:2px;
}
.download_btn:hover{
    display: inline-flex;
    text-align: center;
    padding: 0 9px !important;
}

.invoice-btns{
    background: rgba(0,174,164,1) !important;
    border-radius: 4px;
    color: #fff;
    font-size: 16px !important;
    /*font-size: 14px !important;*/
    min-width: auto !important;
    font-weight: normal !important;
    position: relative;
    z-index: 1;
    border-color: rgba(0,174,164,1) !important;
    border: 1px solid transparent;
    line-height: 20px !important;
    padding: 5px 10px !important;
}
.invoice-btns:hover{ 
    line-height: 20px !important;
    padding: 5px 10px !important;
    background: rgba(0,174,164,.7) !important;
}
.download_btn:hover{ 
    background: rgba(0,174,164,.7) !important;
    line-height: 20px;
}
.btn .ion-plus {
    margin-right: 4px;
    font-size: 16px;
    line-height: 21px;
}
.arrow-views {
    display: inline-block !important;
    width: auto !important;
    line-height: 17px;
    left: 65px !important;
    top: 5px !important;
}

.page-sidebar .sidebar-menu .menu-items li:hover > a i.fa{
    color:#fff;
}

.page-sidebar .sidebar-menu .menu-items > li:hover.active a i.fa {
    color: #1c82e1;
}

.invoice-reports {
    background: #f8f8f8;
    margin: 0px 15px 15px;
    width: 97%;
    padding: 15px 0 10px 0;
}
.nav-tabs-fillup li a { padding:8px 20px 14px 20px !important; /*border-bottom:solid 1px #2cccbd;*/}

.invoice-report .nav-tabs-fillup li.active a{
    background: rgba(0,174,164,1) !important;
}
.viewpop{
    width: 80% !important;
    top: 5px !important;
    max-height: 590px !important;
    overflow-y: scroll !important;
}
.pad30_0 {
    padding: 30px 0px;
}
.invoicereport-view .resize-btns .ion-arrow-resize:before{
    margin-top:0;
}
.invoicereport-view .navbar-nav{ 
    margin-top:-13px !important;
    margin-right:-5px !important;
}

.sidebar-texts {
    z-index: 2;
    position: relative;
    height: 100%;
    background-color: #2D3142;
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}

.invoce-border {
    position: absolute;
    top: 20px;
    z-index: 1;
    right: -60px;
    padding: 6px 5px;
}

.bar {
    display: block;
    height: 3px;
    width: 30px;
    background-color: rgba(26,160,218,1);
    margin: 5px 0px;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.report-button.active .bar {
    margin: 12px 0px;
    position: relative;
    top: -8px;
}
.invoce-border-item .icon {
    padding: 0 !important;
    margin: 0 !important;
    display: block;
    width: 30px;
    height: 30px;
}
.invoce-border-item .icon i{
    line-height: 32px;
}
.report-button.active {
    position: relative;
    top: -5px;
    height: 40px;
}

.report-button {
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.nav-right {
    position: absolute;
    right: -55px;
    top: -13px;
    height: 30px;
}

.nav-right.visible-xs {
    z-index: 3;
}

.bar {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.nav-right.visible-xs .active .bar {
    background-color: #FFF;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.report-button.active .top {
    -webkit-transform: translateY(15px) rotateZ(45deg);
    -moz-transform: translateY(15px) rotateZ(45deg);
    -ms-transform: translateY(15px) rotateZ(45deg);
    -o-transform: translateY(15px) rotateZ(45deg);
    transform: translateY(15px) rotateZ(45deg);
}

.report-button.active .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
}

.report-button.active .middle {
    width: 0;
}

.move-to-left {
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    transform: translateX(0px);
}

.invoce-border-list {
    padding: 3px 5px;
    margin: 0;
    list-style: none;
    position: relative;
    margin-top: 0px;
    text-align: center;
}

.invoce-border-item {
    margin: 5px 0;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
    display: block;
    padding-left: 0;
}

.invoce-border-item:first-child {
    -webkit-transition: all .7s .4s ease-in-out;
    -moz-transition: all .7s .4s ease-in-out;
    -ms-transition: all .7s .4s ease-in-out;
    -o-transition: all .7s .4s ease-in-out;
    transition: all .7s .4s ease-in-out;
}

.invoce-border-item:nth-child(2) {
    -webkit-transition: all .7s .6s ease-in-out;
    -moz-transition: all .7s .6s ease-in-out;
    -ms-transition: all .7s .6s ease-in-out;
    -o-transition: all .7s .6s ease-in-out;
    transition: all .7s .6s ease-in-out;
}

.invoce-border-item:nth-child(3) {
    -webkit-transition: all .7s .8s ease-in-out;
    -moz-transition: all .7s .8s ease-in-out;
    -ms-transition: all .7s .8s ease-in-out;
    -o-transition: all .7s .8s ease-in-out;
    transition: all .7s .8s ease-in-out;
}

.invoce-border-item:last-child {
    -webkit-transition: all .7s .10s ease-in-out;
    -moz-transition: all .7s .10s ease-in-out;
    -ms-transition: all .7s .10s ease-in-out;
    -o-transition: all .7s .10s ease-in-out;
    transition: all .7s .10s ease-in-out;
}

.invoce-border-item.active {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.text-values{
    margin:0 5px;
}

.text-values img {
    max-width: 100%;
    width: 35px;
    margin-right: 5px;
    margin-top: -10px;
    margin-left:7px;
    display: inline-block;
}

.move-to-left .invoce-border-list{
    background: #fff;
    webkit-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.38);
    -moz-box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.38);
    box-shadow: 0px 1px 3px 1px rgba(0, 0, 0, 0.38);
    padding:3px 5px;
}

.move-to-left .invoce-border{
    display: block;
}
.invoce-border{
    display: none;
}
.get:before{
    position: absolute;
    content:"";
    background:#f5f5f5;
    /*width:100%;
     left:19%; 
    right:0;*/
    height:147vh;
    left: -1%;
    right: -25px;
    top:auto;
    bottom:auto;
}
.setting-title:before{
    height:90vh
}

#invoiceHeaderpanel .created{
    margin-top:3px;
}

.payment-buttons .im-checkout .im-checkout-btn{
    border:1px solid rgba(0,174,164,1) !important;
    background: rgba(0,174,164,1) !important;
    color:#fff !important;
    opacity: 1;
    margin: -1px 5px 0 0px !important;
    border-radius: 4px !important;
    line-height: 21px;
    font-size: 14px !important;
}

.customsearch-text #custom-search-input {
    margin:0;
    margin-top: 18px;
    padding: 0;
}


.customsearch-text #custom-search-input button {
    padding: 10px 5px;
}

.customsearch-text #custom-search-input .form-control {
    border-left: 2px solid #fff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-color: rgba(255,255,255,.2) !important;
    margin-top: -2px;
    font-size: 15px !important;
    color: #fff !important;
    height: 39px;
    background: transparent;
    border-right: 0 !important;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    /*background: -moz-linear-gradient(141deg,#008fe2 0%,#00b29c 100%);
   background: -webkit-linear-gradient(141deg,#008fe2 0%,#00b29c 100%);
   background: linear-gradient(141deg, #008fe2 0%, #00b29c 0%, #2cb5e8 100%) !important;
   background: linear-gradient(141deg,#008fe2 0%,#00b29c 100%) !important;*/
}
.customsearch-text #custom-search-input .input-group-btn .btn-danger {
    border-color: rgba(255,255,255,.2) !important;
    border: 2px solid transparent;
    width: 40px;
    height: 39px;
    display: inline-block;
    background: transparent;
    margin-top: -2px;
    border-left: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: 0px;
}
.customsearch-text #custom-search-input .input-group-btn .glyphicon{
    font-size: 16px;
    color: rgba(255,255,255,.8);
}
.customsearch-text #custom-search-input .input-group-btn .glyphicon:hover{
    font-size: 16px;
    color: rgba(255,255,255,1) !important;
}

.customsearch-text #custom-search-input .input-group-btn .btn-danger:hover {
    background: rgba(255,255,255,.05);
}
.panel-color{
    border-top:2px solid rgba(0,174,164,1) !important;
}

.infobook-logo {
    max-width: 100%;
    width: 35px;
    margin-right: 10px;
    margin-top: 0px;
    height: 35px;
}
.pad-15{
    padding: 15px;    
}
.mar-15 {
    margin-left: 15px;
    width: 97.5% !important;
    margin-top:10px;
}
.price-left{
    width: 100%;
}

.invoice-view-wrap{
    margin-top:15px;
}
.invoice-view-wrap .nav-right {
    position: absolute;
    right: 7px;
    top: 55px;
    height: 30px;
}
.invoice-view-wrap .invoce-border {
    position: absolute;
    top: 90px;
    z-index: 1;
    right: 0px;
    padding: 6px 5px;
}
.view-invoice-new:hover {
    line-height: 32px !important;
}
.ledger-titles{
    font-family: 'Raleway', sans-serif;
}
.ledger-titles {
    font-family: 'Raleway', sans-serif;
    border-bottom: 2px solid rgba(0,174,164,1);
    height: 40px;
    margin-bottom: 20px !important;
}
.header-newsection.hidden {
    transform:translateY(100%);
}
.invoice-prints{
    min-height: 20px;
    padding: 10px 25px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.05);
}
.invoice-prints tr td{
    padding:3px 10px !important;
}
.close-tab
{
    position: absolute;
    right: 5px;
    top: 5px;
    font-size: 10px;
}

.modalborder .btn-success:focus{
    background: rgba(0,174,164,1) !important;
}

.orglable
{
    float: left;
    font-size: 14px;
    padding: 5px 5px;
    font-weight: bold;
    color: #8da0aa;
    width: 100%;
}
.orglablevalue
{
    float: left;
    font-size: 14px;
    padding: 5px 5px;
    font-weight: lighter;
    color: #8da0aa;
    width: 100%;
}
.orgpad
{
    float: left;
    padding: 5px;
}

.get-text .searchicon {
    background: #fff url(../../pages/img/search.png) no-repeat 4px 5px !important;
    padding-left: 22px !important;
}

.get-text .form-group-default{
    min-height: 55px !important;
    height: 55px !important;
}

.invoice-reports .searchicon{
    background: #fff url(../../pages/img/search.png) no-repeat 4px 6px !important;
}
.ledger-popup .searchicon{
    background: #fff url(../../pages/img/search.png) no-repeat 4px 4px !important;  
}
.info-profile .get-text {
    padding: 15px;
    margin-bottom: 5px;
    box-sizing: border-box;
    margin-top: 0px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Raleway', sans-serif !important;
    width: 100%;
    letter-spacing: 0.5px;
    background: #fff;
    margin-left: 0px;
    color: #8da0aa;
    -webkit-box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2),0 2px 2px 0 rgba(0,0,0,.14),0 1px 5px 0 rgba(0,0,0,.12);
    border: 0 solid rgba(0,0,0,.125);
}

/*.info-dashboard {
     padding: 15px;
     border: 10px solid #d8d8d8;
     margin-left: 35px;
     width: calc(94% + 6px);
 }*/
.info-dashboard{
    margin-left: 15px;
}
.info-dashboard .info-invoice, .info-dashboard .info-bill, .info-dashboard .info-receipt, .info-dashboard .info-payment{
    width:25%;
    max-width:100%;
    display:inline-block;
}

.invoice-info {
    background: #50a72e;
    padding: 2em;
    display: inline-flex;
    width: 100%;
}
.bill-info {
    background: #f0bd4c;
    padding: 2em;
    display: inline-flex;
    width: 100%;
}
.receipt-info {
    background: #e9453b;
    padding: 2em;
    display: inline-flex;
    width: 100%;
}
.payment-info {
    background: #4858a4;
    padding: 2em;
    display: inline-flex;
    width: 100%;
}
.comments-icon {
    float: left;
    width: 30%;
}

.invoice-info .comments-icon i.fa.fa-money {
    font-size: 4em;
    color: #8ccc73;
}

.bill-info .comments-icon i.fa-file-text-o {
    font-size: 4em;
    color: #fedf9b;
}
.payment-info .comments-icon i.fa-file-text{
    font-size: 4em;
    color: #8590c5;  
}
.receipt-info .comments-icon i.fa-credit-card{
    font-size: 4em;
    color: #fb8f88;  
}

.top-comment-grid:hover .comments-icon i.fa {
    -webkit-transform: scale(3);
    transform: scale(3);
    -moz-transform: scale(3);
    -o-transform: scale(3);
    -ms-transform: scale(3);
    opacity: .3;
    -moz-opacity: .3;
}
.comments-info {
    float: left;
    margin-left: 1em;
    text-align: right;
    width: 63%;
}
.comments-icon i.fa {
    -webkit-transition: .5s all;
    transition: .5s all;
    -moz-transition: .5s all;
}
.comments-info h3 {
    font-size: 4em;
    color: #FFF;
    margin: 0 0 10px 0;
    font-family: 'robotoregular' !important;
}
.info-invoicevalue{
    line-height: 30px;
    min-height: 40px;
    height: 40px;
    display: block;    
    background: #fff;
}

.likes-info a {
    color: #8ccc73 !important;
    font-size: 1.2em !important;
    margin: 0 !important;
    letter-spacing: 1px;
    text-decoration: none;
}
.bill-info .likes-info a {
    color: #fedf9b !important;
}
.payment-info .likes-info a {
    color: #8590c5 !important;
}
.receipt-info .likes-info a {
    color: #fb8f88 !important;
}
.top-comment-grid{
    border-radius: 4px;
    overflow: hidden;
    padding: 0
}

.info-invoice .top-comment-grid{
    border:1px solid #50a72e;
    border-radius: 4px;
}
.info-bill .top-comment-grid{
    border:1px solid #f0bd4c;
    border-radius: 4px;
}
.info-payment .top-comment-grid{
    border:1px solid #4858a4;
    border-radius: 4px;
}
.info-receipt .top-comment-grid{
    border:1px solid #e9453b;
    border-radius: 4px;
}
.info-dashboard .top-comment-grid .panel-footer{
    background: #fff;
    padding: 5px 15px;
}
.info-invoice .top-comment-grid .panel-footer .fa-arrow-circle-right{
    color:#50a72e;
    font-size: 16px;
}
.info-invoice .top-comment-grid .panel-footer span{
    color:#50a72e;
    font-size: 13px;
}
.info-bill .top-comment-grid .panel-footer .fa-arrow-circle-right{
    color:#f0bd4c;
    font-size: 16px;
}
.info-bill .top-comment-grid .panel-footer span{
    color:#f0bd4c;
    font-size: 13px;
}
.info-payment .top-comment-grid .panel-footer .fa-arrow-circle-right{
    color:#4858a4;
    font-size: 16px;
}
.info-payment .top-comment-grid .panel-footer span{
    color:#4858a4;
    font-size: 13px;
}
.info-receipt .top-comment-grid .panel-footer .fa-arrow-circle-right{
    color:#e9453b;
    font-size: 16px;
}
.info-receipt .top-comment-grid .panel-footer span{
    color:#e9453b;
    font-size: 13px;
}
.info-invoicereport .btn-success{ 
    margin:0 5px;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important; 
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}
.info-invoicereport .btn-info{
    border-radius: 3px !important;
    text-align: center !important;
    margin:0 5px;
}
.invoice-logos .pcs-entity-title{
    margin-top:0px;
}
.invoice-logos .infobook-logo {
    margin-top: -8px;
}
.amount-view{
    margin-left: -8px;
}
.amount-view #fname {
    width: calc(98% + 4px) !important;
    margin-left: 14px;
}

.bill-receipt-table-2{
    margin-left:0 !important;
}
.amount-view-input.form-control {
    width: calc(91% + 5px) !important;
}

.receipt-date-view{
    margin-left: -15px;
    margin-right: 3px;
}

.payment-view-info{
    margin-left: 5px;
    margin-right: 6px;
}
.payment-view-info .payment-view-select{
    width: calc(98% + 9px);
    margin-left: 7px;
}
.m-t-3 {
    margin-top: 3px;
}
.p-l-2{
    padding-left: 2px !important;
}

.payment-date-view .datepicker-input{
    margin-left:8px;
}
.payment-date-view .datepicker-input .form-control{
    width:calc(100% + 5px) !important;
}
.payment-type-input{
    margin-left: 13px !important;
    width: calc(100% + 9px) !important;
}
.reference-view-mode .form-control {
    margin-left: 7px;
    width: calc(100% + 22px) !important;
}
.payment-type-view .payment-view-selectview {
    width: calc(98% + 5px);
    margin-left: 5px;
}

.reference-view-receipt .form-control {
    margin-left: 11px;
    width: calc(100% + 5px) !important;
}
.payment-view-info .payment-view-selectmode {
    width: calc(98% + 6px);
    margin-left: 5px;
}
.payment-type-view .payment-view-account {
    width: calc(98% + 13px);
    margin-left: 5px;
}

.bill-receipt-total{
    width: 105px !important;
    max-width: 100%;
    word-break: break-all;
    display: inline-block;
}
.document-number, .document-date {
    margin-left: -5px;
}

.credit-reference{
    margin-left:20px !important;
}
.document-number-input .form-control {
    width: calc(99% + 26px) !important;
    margin-left: 0px;
}
.document-date-input .input-group {
    width: calc(100% + 31px) !important;
}
.document-number-input-2 .form-control {
    width: calc(99% + 25px) !important;
    margin-left: 1px;
}
.document-date-form .input-group{
    margin-left: -1px;
    width: calc(100% + 25px) !important;
}

.credit-notes .bill-receipt-tables .form-group {
    width: 99% !important;
    margin-left: 8px;
}

.credit-amount-input .form-control {
    width: calc(100% + 24px) !important;
}
.credit-note-text .form-control {
    width: calc(100% + 34px) !important;
}
.receipt-table-2 .credit-tables .receipt-select .ui-select-choices {
    margin: 0 0 0 -21px;
    width: calc(100% + 17px) !important;
}
.credit-tables .receipt-select .ui-select-toggle .caret, 
.credit-tables-2 .receipt-select .ui-select-toggle .caret {
    right: -23px;
}
.debit-note-text .form-control {
    width: calc(100% + 25px) !important;
    margin-left: -5px;
}
.credit-tables-2{
    width: calc(50% + 9px);
}
.countrycode i.caret{
    margin-right: -6px;
}
.country-code-2 i.caret{
    margin-right: -6px;
}
.efinance-logo img {
    width: 105px;
    max-width: 100%;
    height: auto;
    display: inline-block;
}
.ledger-popup .form-group-default-select {
    padding-bottom: 0px !important;
    min-height: 56px !important;
}

.invoice-tab i.ion-android-close {
    position: fixed;
    top: -34px;
    left: 59px;
    font-weight: bold;
    font-size: 13px;
    cursor:pointer;
}
.invoice-register-list{
    border:0 none !important;
    margin-top:5px !important;
}
.invoice-register-list .pcs-template-body{
    padding: 0 0.250000in 0 0.00000in !important;
}
#sidebar-texts {
    position: relative;
    top: -23px;
    left: 50px;
}
.bank-withdraw{
    background: #f8f8f8;
    margin: 0px 5px 10px;
    width: 99%;
    padding: 15px 0 5px 0;
}

.widhtraw-select .searchicon {
    background: #fff url(../../pages/img/search.png) no-repeat 2px 4px !important;
    padding-left: 20px !important;
}
.widhtraw-select-box {
    width: calc(32% + 7px);
}
.document-no {
    width: 20%;
}

.document-no-2 {
    width: 13%;
    padding-left: 15px;
}

.withdraw-input {
    width: calc(78% + 1px);
}
.withdraw-input-2 {
    width: calc(78% + 1px);
}
.withdraw-input-2 {
    width: calc(85% + 3px);
}
.brs-input {
    width: 16%;
}
.brs-file {
    width: 100%;
}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    max-width: 80%;
    font-size: 14px !important;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 5px 8px !important;
}


.inputfile-1 + label {
    color: #fff;
    background: rgba(0,174,164,1);
    width: 155px;
    max-width: 100%;
    text-align: center;
    border-radius:4px;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  background-color: rgba(0,174,164,.7)

}

.bank-datas{
  color: #fff;
  background: rgba(0,174,164,1);
  border-radius:4px;
  padding: 8px 8px !important;
  position: relative;
  top:5px;
}
.bank-datas:hover{
  background-color: rgba(0,174,164,.7);
  color:#fff ;
}
.overlayListchart{
    z-index: 7 !important;
}
.brs-input-value{
    width: 100%;
}
.input-daterange .input-group-addon{
    min-width: 10px !important;
}
.m-l-3{
    margin-left:3px !important;
}
.m-l-5{
    margin-left:5px !important;
}
.customer-advance .searchicon {
    background: #fff url(../../pages/img/search.png) no-repeat 0px 4px !important;
    padding-left: 18px !important;
}
.advance-number .row-sm-height {
    margin: 20px 0px !important;
}
.description-text #paymentRemarks {
    min-height: 56px;
    width: calc(100% + 4px);
}
.items-table i.ion-plus-round {
    line-height: 26px;
}
.invoice-payment-view .datepicker-input .form-control {
    width: calc(100% + 14px) !important;
}
.invoice-payment-view .datepicker-input .fa.fa-calendar{
    right: -5px;
}
.other-input{
    border:0 none !important;
    text-align: right !important;
    padding: 6px 0;
    font-weight: bold !important;
}
.allocate-view #fname {
    width: calc(96% + 5px) !important;
    margin-left: 5px !important;
}
.m-l-0 {
    margin-left: 0 !important;
}
.allocate-reference .form-control {
    margin-left: 11px;
    width: calc(100% + 2px) !important;
}
 .select-customer{
    margin-bottom: 7px;
 }
 .listpage_table_height-2 {
    min-height: calc( 73vh ) !important;
    max-height: calc( 73vh ) !important;
}
.ion-arrow-resize {
    top: -5px;
}
.calender-icon{
    padding: 3px 0; 
    margin:0 -10px;
}    
.user_profile:after{
    position: absolute;
    top: -6px;
    right: 8px;
    left: auto;
    display: inline-block;
    content: '';
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;  
}  

.no-data-img{
    width: 120px;
}
.settings-icon {
    float: right;
    font-size: 30px;
    margin: -3px 5px;
    padding: 5px;
    background: rgba(0,174,164,1);
    border-radius: 4px;
    position: relative;
    top: 205px;
}
.settings-icon a{
    color:#fff;
}
.settings-icon .ion-gear-a{
    webkit-animation: spin 2s infinite linear;
    -moz-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
}