.fullpage_height{
    min-height: calc( 85vh ) !important;
    max-height: calc( 85vh ) !important;
}
.listpage_table_height{
    min-height: calc( 45vh ) !important;
    max-height: calc( 45vh ) !important;
}
.masterpage_table_height{
    min-height: calc( 75vh ) !important;
    max-height: calc( 75vh ) !important;
}
.max_width_150
{
    max-width: 150px;
}
.inherit_width{
    max-width: 295px;
    width:100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.baloonmodel
{
    position: absolute;
    opacity: 1;
    z-index: 9999;
    display: none;
    top:0px;
    bottom:inherit;
}
.custom_border_top{
    box-sizing: border-box;
    border-top: 2px solid #54b9e7;
}
.ballon-modal-wrap {
    padding:10px 10px 0px 10px; 
    background: #fff;
    /*border-top:4px solid #54b9e7;*/
    border-top:4px solid rgba(0,174,164,1) !important;

}