
<div class="ui-g">
  <div class="ui-g-12 panel p-l-0 p-r-0">
      <div class="get-started card">
          <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
          <h1 class="">Financial Statements</h1>
      </div>
    <div class="ui-g-12 ui-lg-12 ui-md-12 p-l-0 p-r-0">
      <div class="ui-g dashboard">
        <div class="ui-g-12 ui-md-3 ui-lg-3">    
            <div class="ui-g card box-type shadow-box ui-shadow-1 configure-app">
             <div class="text-center">   
             <img alt="ledger" src="../landingpage/assets/images/tasks.png">
             <h1>Ledger</h1>
             <a  class="ui-button configure-button" [routerLink]="['/reports/ledger']">
              <i class="ion-ios-paper" aria-hidden="true"></i> View </a>
            </div>
           </div> 
        </div>

        <div class="ui-g-12 ui-md-3 ui-lg-3">    
          <div class="ui-g card box-type shadow-box ui-shadow-1 configure-app">
           <div class="text-center">   
           <img alt="ledger" src="../landingpage/assets/images/scales.png">
           <h1>Trail Balance</h1>
           <a  class="ui-button configure-button" [routerLink]="['/reports/trailbalance']">
            <i class="ion-ios-paper" aria-hidden="true"></i> View </a>
          </div>
         </div> 
      </div>
       
      <div class="ui-g-12 ui-md-3 ui-lg-3">    
        <div class="ui-g card box-type shadow-box ui-shadow-1 configure-app">
         <div class="text-center">   
         <img alt="ledger" src="../landingpage/assets/images/loss.png">
         <h1>Profit & Loss</h1>
         <a  class="ui-button configure-button" [routerLink]="['/reports/profitloss']">
          <i class="ion-ios-paper" aria-hidden="true"></i> View </a>
        </div>
       </div> 
    </div>

    <div class="ui-g-12 ui-md-3 ui-lg-3">    
      <div class="ui-g card box-type box-type-2 shadow-box ui-shadow-1 configure-app">
       <div class="text-center">   
       <img alt="ledger" src="../landingpage/assets/images/analytics-icon.png">
       <h1>Balance Sheet</h1>
       <a  class="ui-button configure-button" [routerLink]="['/reports/balancesheet']">
        <i class="ion-ios-paper" aria-hidden="true"></i> View </a>
      </div>
     </div> 
  </div>
  
  <div class="get-started card ui-g-12">
    <h1 class="">Reports</h1>
   </div>
   <div class="ui-g-12 ui-lg-12 ui-md-12 p-l-0 p-r-0">
    <div class="ui-g dashboard">
      <div class="ui-g-12 ui-md-3 ui-lg-3">    
          <div class="ui-g card box-type shadow-box ui-shadow-1 configure-app">
           <div class="text-center">   
           <img alt="ledger" src="../landingpage/assets/images/invoice-icon.png">
           <h1>Invoice Register</h1>
           <a  class="ui-button configure-button" [routerLink]="['/reports/invoiceregister']">
            <i class="ion-ios-paper" aria-hidden="true"></i> View </a>
          </div>
         </div> 
      </div>
      <div class="ui-g-12 ui-md-3 ui-lg-3">    
        <div class="ui-g card box-type shadow-box ui-shadow-1 configure-app">
         <div class="text-center">   
         <img alt="ledger" src="../landingpage/assets/images/checklist.png">
         <h1>Bill Register</h1>
         <a  class="ui-button configure-button" [routerLink]="['/reports/billregister']">
          <i class="ion-ios-paper" aria-hidden="true"></i> View </a>
        </div>
       </div> 
    </div>

    <div class="ui-g-12 ui-md-3 ui-lg-3">    
      <div class="ui-g card box-type shadow-box ui-shadow-1 configure-app">
       <div class="text-center">   
       <img alt="ledger" src="../landingpage/assets/images/receipt-icon.png">
       <h1>Receipt Register</h1>
       <a  class="ui-button configure-button" [routerLink]="['/reports/receipt-register']">
        <i class="ion-ios-paper" aria-hidden="true"></i> View </a>
      </div>
     </div> 
  </div>

  <div class="ui-g-12 ui-md-3 ui-lg-3">    
    <div class="ui-g card box-type box-type-2 shadow-box ui-shadow-1 configure-app">
     <div class="text-center">   
     <img alt="ledger" src="../landingpage/assets/images/payment.png">
     <h1>Payment Register</h1>
     <a  class="ui-button configure-button" [routerLink]="['/reports/paymentregister']">
      <i class="ion-ios-paper" aria-hidden="true"></i> View </a>
    </div>
   </div> 
  </div>
  
  <div class="ui-g-12 ui-md-3 ui-lg-3">    
    <div class="ui-g card box-type shadow-box ui-shadow-1 configure-app">
     <div class="text-center">   
     <img alt="ledger" src="../landingpage/assets/images/brs-report.png">
     <h1>BRS Report</h1>
     <a  class="ui-button configure-button" [routerLink]="['/reports/brsreport']">
      <i class="ion-ios-paper" aria-hidden="true"></i> View </a>
    </div>
   </div> 
</div>

      </div>
     </div>
   </div>
  </div>
</div>