.headingclass
{
    padding: 10px 15px;
}
.bg-white
{
    background-color: #fff;
}
.p-10
{
    padding: 10px;
}
.formwidth
{
    width:65%;
}

.width100
{
    width:100%;
}
p-dropdown .ui-dropdown {
    width: 100% !important;
}
.padding-0
{
    padding: 0;
}
.margin-product
{
    margin-right: -13px;
    margin-top: 0px;
}
.m-t-product
{
    margin-top: -10px !important;
}
