<div class="ui-g-12 panel p-l-0 p-r-0 p-t-0">
    <div class="journal-heading">
  <img _ngcontent-c5="" class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
  <h1 class="">Products</h1>
  <div class="ui-toolbar-group-right ui-corner-all">
      <button _ngcontent-c4="" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only" icon="fa-arrow-down" pbutton="" type="button"><span _ngcontent-c4="" class="ui-button-icon-left ui-clickable fa fa-fw fa-arrow-down"></span><span _ngcontent-c4="" class="ui-button-text ui-clickable">ui-btn</span></button>
    <button pButton type="button" label="Product" icon="fa-plus" (click)="Addproducts(protabview)"></button>
  </div>
</div>

<div class="ui-g-12 invoice-list-tab product-table  product-table-padding tabview-height invoice-list clearfix" >
  <p-tabView [controlClose]="true" (onClose)="handleClose($event,protabview)" #protabview>
    <p-tabPanel [selected]="list" header="Product List" leftIcon="fa-book" class="clearfix">
      <p-dataTable [value]="allproducts" selectionMode="single"  [paginator]="true" [rows]="10" [responsive]="true">
        <p-column field="prodname" header="Product Name" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
        <p-column field="status" header="Status" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
        <p-column field="mrp" header="MRP" [sortable]="true" [filter]="show" [style]="{'text-align': 'right'}"  filterMatchMode="contains">
          <ng-template let-mrp="rowData" pTemplate="body">
            <span style="text-align:right">{{mrp.mrp | currency : currency_sy : true }}</span>
        </ng-template>
        </p-column >
        <p-column field="uomdesc" header="UOM" [filter]="show" [sortable]="true"  filterMatchMode="contains"></p-column>
        <p-column styleClass="col-button" [style]="{'text-align': 'center'}" filterMatchMode="contains">
          <ng-template pTemplate="header">
            <label>Action <button pButton class="pull-right" icon="fa-search" (click)="showhidefilter()"></button>
            </label>
          </ng-template>
          <ng-template let-selectedpro="rowData" pTemplate="body" style="text-align:center">    
            <button type="button" pButton icon="fa-eye" (click)="viewproduct(selectedpro,protabview)"></button>
            <button type="button" pButton icon="fa-pencil" (click)="Editproduct(selectedpro,protabview)"></button>

          </ng-template>
        </p-column>
      </p-dataTable>
    </p-tabPanel>
    <p-tabPanel [selected]="addnew" header="Add Product"  leftIcon="fa-plus" *ngIf="addproduct"  style="display:inline-grid;" [closable]="true" #fileInput>
      <app-products [prodtls]="prodtls" (notifyNewProduct)="notifyNewProduct($event)"></app-products>
    </p-tabPanel>
    <p-tabPanel [selected]="editpro" header="Edit Product" leftIcon="fa-pencil" *ngIf="editproduct"  [closable]="true" #fileInput>
      <app-products [prodtls]="prodtls" (notifyNewProduct)="notifyNewProduct($event)"></app-products>
    </p-tabPanel>
    <p-tabPanel [closable]="true" *ngFor="let product of selectedpro; let i = index" header="{{product.prodname}}"  leftIcon="fa-eye">
        <div class="my_dynamica_lead_tabPanel">
          <app-view-products [product]="product"></app-view-products>
        </div>
      </p-tabPanel>
  </p-tabView>
</div>
</div>
