<p-growl [value]="msgs" sticky="sticky">
  </p-growl>
  <div class="ui-g-12 ui-lg-12 ui-md-12 p-t-0 p-b-0">
    <form [formGroup]="pro" (ngSubmit)="createpro(pro.value)">
  
      <div class="ui-g form-group  m-b-15">

        <div class="row width100">
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-l-0 p-t-0 p-r-0 form-group-default">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input required">
              <label class="ui-g-12 bold"> Product Name </label>
              <input type="text" pInputText placeholder="Product Name" class="ui-g-12" name="productname" formControlName="productname">
            </div>
          </div>
  
  
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-t-0 p-r-0 form-group-default">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input required">
              <label class="ui-g-12 bold"> Price  </label>
              <input type="text" maxlength="{{amtlength}}" pInputText placeholder="Product MRP" (keypress)="numberOnly($event)" class="ui-g-12 text-right" name="productmrp"
                formControlName="productmrp">
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-l-0 p-t-0 p-r-0 p-b-0 form-group-default">
            <div class="ui-g-12 p-t-0 p-b-0 p-r-0 p-l-0 bank-input required">
              <label class="ui-g-12 bold"> Product Code </label>
              <input type="text" pInputText placeholder="Product code" class="ui-g-12" name="productcode" formControlName="productcode">
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-r-0 p-t-0 p-b-0 form-group-default ">
            <div class="ui-g-12 p-r-0 p-l-0 p-t-0 p-b-0 bank-input  bank-input-2 required">
              <label class="ui-g-12 bold">UOM</label>
              <p-autoComplete [(ngModel)]="selectedUOMdesc" field="uomdesc" placeholder="Select UOM" [suggestions]="filtereduoms" name="selectedUOMdesc"
                formControlName="selecteduom" (completeMethod)="searchuom($event)" [dropdown]="true" [minLength]="1" (onSelect)="selectuom(selectedUOMdesc)"
                [style]="{'width': '514px'}" (onDropdownClick)="handleDropdownClick($event,'uom')">
                <ng-template let-uom pTemplate="item">
                  <div class="ui-helper-clearfix select-box">
                    <div class="elipsis_div">{{uom.uomdesc}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
  
        </div>
        <div class="row width100 p-t-0 ">
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-l-0 p-r-0 p-t-0 p-b-0 form-group-default">
            <div class="ui-g-12  p-r-0 p-l-0 p-t-0 p-b-0 bank-input  bank-input-2 required">
              <label class="ui-g-12 bold">Brand</label>
              <p-autoComplete [(ngModel)]="selectedbrandname" field="brandname" placeholder="Select Brand" [suggestions]="filteredbrand" name="selectedbrandname"
                formControlName="selectedbrand" (completeMethod)="searchbrands($event)" [dropdown]="true" [minLength]="1" (onSelect)="selectbrand(selectedbrandname)"
                [style]="{'width': '523px'}" (onDropdownClick)="handleDropdownClick($event,'brand')">
                <ng-template let-brand pTemplate="item">
                  <div class="ui-helper-clearfix select-box">
                    <div class="elipsis_div">{{brand.brandname}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
  
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-r-0 p-t-0 p-b-0 form-group-default">
            <div class="ui-g-12  p-r-0 p-l-0 p-t-0 p-b-0 bank-input bank-input-2 required">
              <label class="ui-g-12 bold"> Category  </label>
              <p-autoComplete [(ngModel)]="selectedcatname" field="categoryname" placeholder="Select Category" [suggestions]="filteredcat" name="selectedcatname"
                formControlName="selectedcategory" (completeMethod)="searchcategory($event)" [dropdown]="true" [minLength]="1"
                [style]="{'width': '514px'}" (onSelect)="selectcategory(selectedcatname)" (onDropdownClick)="handleDropdownClick($event,'cat')">
                <ng-template let-cat pTemplate="item">
                  <div class="ui-helper-clearfix select-box">
                    <div class="elipsis_div">{{cat.categoryname}}</div>
                  </div>
                </ng-template>
              </p-autoComplete>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-l-0 p-r-0 p-b-0 form-group-default">
            <div class="ui-g-12  p-r-0 p-l-0 p-t-0  bank-input  bank-input-2 required">
              <label class="ui-g-12 bold">HSN Code</label>
              <p-dropdown (onChange)="setSelectedHsn($event)" [style]="{'width': '510px'}" [options]="hsncode" placeholder="select HSN Code" formControlName="hsncode">
                <ng-template let-hsncode pTemplate="item">
                    <div class="ui-helper-clearfix select-box">
                  <div class="elipsis_div">{{hsncode.label}}</div>
                  </div>
                </ng-template>
              </p-dropdown>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-6 ui-md-12 p-r-0 ">
            <div style="height: 70px;overflow: auto;" *ngIf="selectedhsncode" class="ui-g-12  p-r-0 p-l-0 p-t-0 p-b-0 bank-input">
              <label class="ui-g-12 bold"> HSN Description </label>
              <div class="">{{selectedhsncode.description}}</div>
              <div class="ui-g-12   ui-lg-12 ui-md-6">
                <div>IGST (%): {{selectedhsncode.igstpercent}}</div>
                <div>CGST (%): {{selectedhsncode.cgstpercent}}</div>
                <div>SGST (%): {{selectedhsncode.sgstpercent}}</div>
              </div>
            </div>
          </div>
          <div class="ui-g-12 ui-lg-12 ui-md-12 p-l-0 p-r-0" *ngIf="prodtls?.prodid">
            <div class="ui-g-12 ui-lg-6 ui-md-12 bank-input  bank-input-2 required  form-group-default p-r-0 p-l-0 p-t-0 p-b-0 ">
              <label class="ui-g-12 bold">Status</label>
              <p-dropdown required [style]="{'width': '510px'}" [options]="changestatus" placeholder="select status" formControlName="status">
                <ng-template let-status pTemplate="item">
                    <div class="ui-helper-clearfix select-box">
                  <div class="elipsis_div">{{status.value}}</div>
                  </div>
                  
                </ng-template>
              </p-dropdown>
            </div>
          </div>
  
          <div class="row ui-g-12 ui-lg-12 ui-md-12 p-r-0">
            <div class="ui-g-12 ui-lg-1  pull-right ui-md-4 p-r-0 margin-product">
              <button type="submit" pButton label="Save" icon="fa-check" style="width:65px" class="blue-btn"></button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  