<div class="ui-g-12 panel p-l-0 p-r-0 p-t-0">
  <div class="ui-g bg-1">
    <div class="ui-g-12 p-l-0 p-r-0 p-t-0">
      <div class="journal-heading">
        <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
        <h1>Journals</h1>
        <div class="ui-toolbar-group-right">
          <!-- <button icon="fa-arrow-down" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-arrow-down"></span><span class="ui-button-text ui-clickable">ui-btn</span></button> -->
          <button routerLink="/accounts/journals/" icon="fa-plus" label="New" pbutton="" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-plus"></span><span class="ui-button-text ui-clickable">Add</span></button>
        </div>
      </div>
    </div>
  </div>


  <div class="invoice-list-tab roles-table">


    <div class="ui-g-4 ui-g-offset-6 pull-right p-l-0 p-b-0" style="padding:0px">
      <div class="ui-g-9" style="padding:0px">
        <p-dropdown [options]="journalfeat" [(ngModel)]="journalType" class="ui-g-12 drop" [style]="{'width': '100%'}"></p-dropdown>
      </div>
      <div class="ui-g-3 p-l-0">
        <button (click)="filterJournals()" type="button" pButton label="Search" style="width:70px" class="ui-button ui-widget ui-state-default ui-corner-all"></button>
      </div>
    </div>
    <div class="ui-g-12">
      <p-dataTable [value]="alljournals" selectionMode="single" [paginator]="true" [rows]="10"
          [responsive]="true">
          <p-column field="journalno" header="Journal No" [filter]="show" filterMatchMode="contains"></p-column>
          <p-column styleClass="col-button" [filter]="show" filterMatchMode="contains">
            <ng-template pTemplate="header">
              <label>Journal Date</label>
            </ng-template>
            <ng-template let-journal="rowData" pTemplate="body">
              <span>{{journal.journaldt | date :dispDateFormat}}</span>
            </ng-template>
          </p-column>
          <!--<p-column field="journalno" header="txnrefno" [sortable]="true"></p-column>
         <p-column field="journalid" header="journalid" [sortable]="true"></p-column>-->
          <p-column field="journaltotal" header="Total" [sortable]="true" [filter]="show" [style]="{'text-align': 'right'}" filterMatchMode="contains">
            <ng-template let-journal="rowData" pTemplate="body" style="text-align:right">
              <span>{{journal.subtotal | currency : currency_sy : true}}</span>
            </ng-template>
          </p-column>
          <p-column field="createdby" header="Created By" [filter]="show" [sortable]="true" filterMatchMode="contains"></p-column>
          <p-column styleClass="col-button">
            <ng-template pTemplate="header">
<button pButton  icon="fa-search" (click)="showhidefilter()"></button>
            </ng-template>
            <ng-template let-journal="rowData" pTemplate="body" style="text-align:center">
              <a pButton [routerLink]="['../../viewjournal', 'journal',journal.journalid,journal.journalno]" icon="fa-eye"></a>
              <button [routerLink]="['/accounts/journals/',journal.journalid,journal.journalno]" type="button" pButton icon="fa-pencil"></button>
            </ng-template>
          </p-column>
        </p-dataTable>
    </div>
     
  </div>
</div>