<div class="ui-g ui-fluid white-bg margin-b">
    <div class="ui-g-12 ui-lg-12 ul-md-12">
      <div id="pdfcontainer " class="ember-view">
        <!--The below style_start tag has to be present as it is used to substring the style content from the body html-->
        <!-- <div class="invoice-logos" style="display:inline-flex;vertical-align: top; text-align:left;">
          <img class="infobook-logo" src="../assets/img/infobook-logo.png">
          <span class="title-text">Bank WithDraw</span><br>
        </div> -->
        <div class="pcs-template" id="printSectionId">
          <div print-section class="pcs-template-body ">
              <!-- <table class="pull-right align-text invoice-prints p-l-0 p-r-0"style="clear:both;width:30%;margin-top:1px;table-layout:fixed;" *ngIf="withdrawheader">
                  <tbody>
                <tr>
               
                  <td class="invoice-prints" style="vertical-align:bottom;width: 30%;" align="right">
                    <table class="invoice-prints-1" style="float:right;width: 100%;table-layout: fixed;word-wrap: break-word;" cellspacing="0"
                      cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td style="text-align:right;padding:5px 10px 5px 0px;font-size: 12pt;">
                            <span class="pcs-label inv-view-label">Document No:</span>
                          </td>
                          <td style="text-align:right;" width="30%">
                            <span class="pcs-label" id="tmp_entity_number">{{withdrawheader.journalno}}</span>
                          </td>
                        </tr>
                        <tr>
                          <td style="text-align:right;padding:5px 10px 5px 0px;font-size: 12pt;">
                            <span class="pcs-label inv-view-label">Document Date :</span>
                          </td>
                          <td style="text-align:right;">
                            <span id="tmp_entity_date" class="inv-view-value">{{withdrawheader.journaldt | date:datafromat}}</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
            
  
                </tr>
  
              </tbody>
            </table> -->
            <table class="pull-right align-text invoice-prints p-l-0 p-r-0"style="clear:both;width:30%;margin-top:1px;table-layout:fixed;"*ngIf="withdrawheader">
                <tbody>
                  <tr>
                    <!-- bank header start -->
                    <td class="p-l-0 p-r-0" style="vertical-align:bottom;width: 30%;" align="right">
                      <table class="invoice-prints-1 pull-right" style="float:left;width: 100%;table-layout: fixed;word-wrap: break-word;" cellspacing="0"
                        cellpadding="0" border="0">
                        <tbody>
                          <tr>
                              <td style="text-align:right;padding:5px 10px 5px 0px;font-size: 12pt;">
                              <span class="pcs-label inv-view-label">Document No:</span>
                            </td>
                            <td style="text-align:right;">
                              <span class="pcs-label" id="tmp_entity_number">{{withdrawheader.journalno}}</span>
                            </td>
                          </tr>
                          <tr>
                            <td style="text-align:right;padding:5px 10px 5px 0px;font-size: 12pt;">
                              <span class="pcs-label inv-view-label">Document Date:</span>
                            </td>
                            <td style="text-align:right;">
                              <span id="tmp_entity_date" class="inv-view-value">{{withdrawheader.journaldt | date:datafromat }}</span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <!-- invoice heade end  -->
    
                  </tr>
    
                </tbody>
              </table>
            <table class="pcs-itemtable" style="width:100%;margin-top:20px;table-layout:fixed;" cellspacing="0" cellpadding="0" border="0">
              <thead>
                <tr style="height:32px;">
                  <td class="pcs-itemtable-header" style="padding:5px 5px 5px 5px;text-align: center;word-wrap: break-word;width: 5%;">
                    S.No
                  </td>
                  <td class="pcs-itemtable-header" style="padding:5px 5px 5px 5px;word-wrap: break-word;width: 5%;">
                  </td>
                  <td class="pcs-itemtable-header" style="padding:5px 10px 5px 5px;word-wrap: break-word;width: 11%;" align="left">
                    Particulars
                  </td>
                  <td class="pcs-itemtable-header" style="padding:5px 10px 5px 5px;word-wrap: break-word;width: 11%;" align="right">
                    Debit
                    <!--({{currency}})-->
                  </td>
                  <td class="pcs-itemtable-header" style="padding:5px 10px 5px 5px;word-wrap: break-word;width: 11%;" align="right">
                    Credit
                    <!--({{currency}})-->
                  </td>
                </tr>
              </thead>
              <tbody class="itemBody">
                <tr *ngFor="let journal of withdrawdetails;let index=index">
                  <td class="pcs-item-row" style="padding: 20px 0 10px 5px;text-align: center;word-wrap: break-word;" valign="top">
                    {{ index + 1}}
                  </td>
                  <td class="pcs-item-row" style="padding: 20px 10px 5px 10px;word-wrap: break-word;" valign="top">
                    <span class="bold">{{journal.type}}</span>
                  </td>
                  <td class="pcs-item-row" style="padding: 20px 10px 5px 10px;text-align:left;word-wrap: break-word;" valign="top">
                    <div class="pcs-item-desc">{{ journal.accheadname}}</div>
                  </td>
                  <td class="pcs-item-row" style="padding: 20px 10px 5px 10px;text-align:center;word-wrap: break-word;" valign="top">
                    <div *ngIf="journal.crdr == 'D'">{{journal.dramount}}</div>
                  </td>
                  <td class="pcs-item-row" style="padding: 20px 10px 5px 10px;text-align:right;word-wrap: break-word;" valign="top">
                    <div *ngIf="journal.crdr == 'C'">{{journal.cramount}}</div>
                  </td>
                </tr>
                <tr *ngIf="withdrawheader">
                  <td colspan="1" class="pcs-item-row" style="padding: 30px 10px 5px 10px;word-wrap: break-word;" valign="top">Narration :</td>
                  <td colspan="4" class="pcs-item-row" style="padding: 19px 10px 5px 10px;word-wrap: break-word;text-align:left" valign="top"><p>{{withdrawheader.remarks|| "-"}}</p></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>