<div class="panel">
<div class="ui-g-12 m-b-15 p-t-0 p-b-0 p-l-0 p-r-0">
  <div class="bg-1">
    <div class="ui-g-12 p-l-0 p-r-0">
        <div class="journal-heading">
          <img class="infobook-logo ui-toolbar-group-left" src="../assets/img/infobook-logo.png">
            <h1>Bills</h1>
            <span><i class="fa fa-fw fa-question-circle" pTooltip="Tap on bill to View or Edit"></i> </span>
           
            <div class="ui-toolbar-group-right">
                  <!--<button icon="fa-arrow-down" pbutton="" type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-arrow-down"></span><span class="ui-button-text ui-clickable">ui-btn</span></button>-->
                  <button [routerLink]="['/purchase/billedit']" icon="fa-plus" label="New" pbutton="" type="button"  class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left"><span class="ui-button-icon-left ui-clickable fa fa-fw fa-plus"></span><span class="ui-button-text ui-clickable">Bill</span></button>
              </div>
        </div>
    </div>
  </div>
    <div class="ui-g-12">

      <div class="ui-g-6 list-graphs">
        <div class="shadow-box ui-shadow-1">
          <p-blockUI [blocked]="transactionNoRecordDisp.bill"  [target]="billSummary">
                <i class="fa fa-lock fa-5x" style="position:absolute;top:29%;left:46%"></i>
          </p-blockUI>
          <p-panel #billSummary>         
             <p-chart type="bar" *ngIf="billSummaryData" [data]="billSummaryData"  [options]="barChartConfig"></p-chart>
           </p-panel>  
      </div>
      </div>
      <div class="ui-g-6 list-graphs">
        <div class="shadow-box ui-shadow-1">
            <p-blockUI [blocked]="transactionNoRecordDisp.billCount"  [target]="billCount">
                    <i class="fa fa-lock fa-5x" style="position:absolute;top:29%;left:46%"></i>
              </p-blockUI>
              <p-panel #billCount>  
                <p-chart *ngIf="billCountData"  type="bar" [data]="billCountData" [options]="barChartConfig" ></p-chart>
              </p-panel>  
          </div>
      </div>
    </div> 
  </div>
  <div class="panel billlist">
      <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-lg-12 invoice-list-tab">
            <p-tabView [controlClose]="true" (onClose)="handletabClose($event)">
              <p-tabPanel header="Bill List" leftIcon="fa-list">
                <p-dataTable [value]="billlist" selectionMode="single"  [paginator]="true" [rows]="5" [responsive]="true">
                  <p-column field="contactname" header="Name" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
                  <p-column field="billno" header="Bill No" [filter]="show" filterMatchMode="contains" [sortable]="true"></p-column>
                  <p-column field="billdt" header="Bill Date" [filter]="show" filterMatchMode="contains" [sortable]="true">
                    <ng-template let-selectedbill="rowData" pTemplate="body">
                      <span>{{selectedbill.billdt | date: date_dformat }}</span>
                  </ng-template>
                  </p-column>
                  <p-column field="duedate" header="Due Date" [filter]="show" filterMatchMode="contains" [sortable]="true">
                    <ng-template let-selectedbill="rowData" pTemplate="body">
                      <span>{{selectedbill.duedate | date: date_dformat }}</span>
                  </ng-template>
                  </p-column>
                  <p-column field="subtotal" header="Sub Total" styleClass="text-right" [filter]="show" filterMatchMode="contains" [sortable]="true">
                    <ng-template let-selectedinvoice="rowData" pTemplate="body">
                      <span>{{selectedinvoice.subtotal | currency : currency_sy : true}}</span>
                    </ng-template>
                  </p-column>
                  <p-column field="billtotal" header="Total" styleClass="text-right" [filter]="show" filterMatchMode="contains" [sortable]="true">
                    <ng-template let-selectedinvoice="rowData" pTemplate="body">
                      <span>{{selectedinvoice.billtotal | currency : currency_sy : true}}</span>
                    </ng-template>
                  </p-column>
                  <p-column field="pymntamount" header="Amount" styleClass="text-right" [filter]="show" filterMatchMode="contains" [sortable]="true" [style]="{'text-align': 'right'}">
                    <ng-template let-selectedinvoice="rowData" pTemplate="body">
                      <span>{{selectedinvoice.pymntamount | currency : currency_sy : true}}</span>
                    </ng-template>
                  </p-column>
                  <p-column styleClass="col-button">
                    <ng-template pTemplate="header">
                      <label>Action  <button pButton class="pll-right" icon="fa-search" (click)="showhidefilter()"></button></label>
                      <!-- <button type="button" pButton icon="fa-refresh"></button> -->
                    </ng-template>
                    <ng-template let-selectedbill="rowData" pTemplate="body">
                      
                      <!--<button type="button" pButton (click)="addTabViewbill(selectedbill)" icon="fa-eye"></button>-->
                      <a pButton [routerLink]="['../viewbill', 'bill',selectedbill.billid ]" icon="fa-eye"></a>
                      <a pButton [routerLink]="['../editbill', selectedbill.billid ]" icon="fa-pencil"></a>
                    </ng-template>
                  </p-column>
                </p-dataTable>
              </p-tabPanel>
              <!-- <p-tabPanel header="Add Product" leftIcon="fa-user" *ngIf="addproduct">
                <app-products></app-products>
              </p-tabPanel> -->
              <p-tabPanel [closable]="true" *ngFor="let bill of selectedbills; let i = index" header="{{bill.billno}}" >
                <div class="my_dynamica_lead_tabPanel">
                  <!-- I can add content to this div with tabView.onChange() api -->
                  {{bill.billno}}
                  <app-view-bill billid="{{bill.billid}}"></app-view-bill>
                </div>
                
        
              </p-tabPanel>
            </p-tabView>
          </div>
        </div>
     </div> 
    </div>   
